@model List<Taizhou.PLE.Model.GSGGModels.GSGGPendModels>
@{
    Layout = null;
}

@{
    //System.Data.DataTable dt = (ViewBag.ds as System.Data.DataSet).Tables[0];

    foreach (var item in Model)
    {
        
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-info">
                        <i class="icon-bullhorn"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        <a style="text-decoration: none" href="/GSGGManagement/ShowGSGGList?NOTIFY_ID=@item.NotifyID" target="_blank">@item.SubJect</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                @item.SendTime.Value.ToString("yyyy-MM-dd hh:mm")
            </div>
        </div>
    </li>
    }
}
