@model List<Taizhou.PLE.Model.GGFWEVENT>
@{
    Layout = null;
}
<ul class="feeds">
    @foreach (var item in Model)
    {
        <li>
            <div class="col1">
                <div class="cont">
                    <div class="cont-col1">
                        <div class="cont-col1">
                            <div class="label label-success">
                                <i class="icon-bell"></i>
                            </div>
                        </div>
                        <div class="cont-col2" style="width: 570px;">
                            <div class="desc" style="height: 20px; width: 80%; overflow: hidden;">
                                <a style="text-decoration:none;" href="/GGFWEvent/DealEvent?ID=@item.EVENTID">[@item.EVENTTITLE][@item.EVENTCONTENT][@item.REPORTPERSON][@item.EVENTADDRESS]&nbsp;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col2">
                <div class="date">
                    @item.CREATETIME.Value.ToString("yyyy-MM-dd HH:mm")
                </div>
            </div>

        </li>
    }
</ul>



