@model List<Taizhou.PLE.Model.CommonModel.LeaderWeekWorkPlanModel>
@{
    Layout = null;
}

<ul class="feeds">
    @foreach (var item in Model)
    {
        <li>
            <a href="#">
                <div class="col1">
                    <div class="cont">
                        <div class="cont-col1">
                            <div class="cont-col1">
                                <div class="label label-success">
                                    <i class="icon-bell"></i>
                                </div>
                            </div>
                            <div class="cont-col2" style="width:auto">
                                <div class="desc" style="width: 85%; height: 20px; overflow: hidden;">
                                 <a style="text-decoration:none" href="/LeaderScheduleMangement/ShowLeadWeekWork?PlanID=@item.PLANID">@item.ONDUTYLEADER_&nbsp;@item.ONDUTYDEPT&nbsp;</a>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col2">
                    <div class="date">
                        @item.PLANTIME.Value.ToString("yyyy-MM-dd HH:mm")
                    </div>
                </div>
            </a>
        </li>
    }
</ul>