@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Scripts/assets/data-tables/demo_table.css" rel="stylesheet" />
    <link href="~/Scripts/assets/data-tables/DT_bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/assets/zTree/zTreeStyle.css" rel="stylesheet" />

    <script src="/Scripts/jquery-1.7.1.js"></script>

    <script src="~/Scripts/assets/data-tables/jquery.datatables.min.js"></script>
    <script src="~/Scripts/assets/data-tables/DT_bootstrap.js"></script>
    <script src="~/Scripts/assets/data-tables/PLE_DT_bootstrap.js"></script>
    <script src="~/Scripts/assets/zTree/jquery.ztree.core-3.5.js"></script>
    <script src="~/Scripts/assets/zTree/jquery.ztree.excheck-3.5.min.js"></script>
    <link href="/Content/css/OA.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/seaning/style.css" rel="stylesheet" />
    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/js/PageNotBack.js"></script>
     
    <script type="text/javascript">
        layer.config({
            skin: 'layer-ext-seaning',
            offset: ['100px', '33%'],
            title: '提示',
            moveOut: true,
            closeBtn: false,
            extend: 'skin/seaning/style.css'
        });

    </script>
    <script type="text/javascript">
        var oTable = null;
        var settingTree = null;
        $(document).ready(function () {
            BindTreeUserRole("");
            $("#btnSubmit").click(function () {
                if ($("#userID").val() == "") {
                    layer.alert('请选择用户!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });

                }
                else {
                    var strUserRoles = "/PermissionManagement/submitUserRole?userID=" + $("#userID").val() + "&userRole=";
                    $(".roleCheck").each(function (i, n) {
                        if ($(n).is(":checked")) {
                            strUserRoles += ("," + $(n).attr("roleID"));
                        }
                    });
                    $.ajax({
                        url: strUserRoles,
                        type: "get",
                        success: function (data) {
                            layer.alert('保存成功!', {
                                icon: 1,
                                skin: 'layer-ext-seaning'
                            });
                            //$("#information").fadeIn(500, function () {
                            //    setTimeout(function () {
                            //        $("#information").fadeOut(1000);
                            //    }, 2000);
                            //});
                        }
                    });
                }

            });
            $("#SelectAll").change(function () {
                var SelectAllStatus = true;
                var status = $("#SelectAll").prop("checked");
                //此循环用于判断全复选框钮状态

                $.each($(".roleCheck"), function (i, n) {
                    $(n).prop("checked", status);
                });

                //此循环用于获取所有所有被选中的复选框
                var roleIDs = "";
                $.each($(".roleCheck"), function (i, n) {
                    if ($(n).prop("checked")) {
                        roleIDs += ",";
                        roleIDs += $(n).attr('roleID');
                    }
                });

                BindTreeUserRole(roleIDs);
            });
            var treeURL = "/PermissionManagement/GetUsers?random=";
            var setting = {
                view: {
                    dblClickExpand: false,
                    selectedMulti: false
                },
                data: {
                    simpleData: {
                        enable: true
                    }
                },
                callback: {
                    beforeClick: function (treeId, treeNode) {
                        if (treeNode.type != "User") {
                            return false;
                        }
                        return true;
                    },
                    //该事件在节点被点击后触发
                    onClick: function (event, treeId, treeNode) {
                        var treeObj = $.fn.zTree.getZTreeObj("tree");
                        if (treeNode.isParent) {
                            treeObj.expandNode(treeNode);
                        }

                        if (treeNode.type == "User") {
                            var URL = "/PermissionManagement/GetRoles?UserID=" + treeNode.value;
                            $("#userID").val(treeNode.value);
                            BindDataTable(URL);
                        } else {
                            $("#userID").val("");
                            treeObj.cancelSelectedNode(treeNode);
                        }
                        oTable.fnPageChange('first', true);
                        oTable.fnClearTable(false);
                    }
                }
            };
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: treeURL + Math.random(),
                success: function (data) {
                    if (data != null && data != "") {
                        var zNodes = data;
                        $.fn.zTree.init($("#tree"), setting, zNodes);
                        var treeObj = $.fn.zTree.getZTreeObj("tree");
                    }
                    BindDataTable("/PermissionManagement/GetRoles");
                }
            });
        });
        function BindDataTable(URL) {
            if (oTable != null) {
                oTable.fnSettings().sAjaxSource = URL;
                oTable.fnClearTable(false);
            } else {
                oTable = $('#RolesTable').dataTable({
                    sAjaxSource: URL,
                    "bLengthChange": false,
                    "iDisplayLength": 99999,
                    fnDrawCallback: function () {
                        BindCheckBox();
                        $(".roleCheck").click(function () {
                            var SelectAllStatus = true;

                            //此循环用于判断全复选框钮状态
                            $.each($(".roleCheck"), function (i, n) {
                                if (!$(n).prop("checked")) {
                                    SelectAllStatus = false;
                                    return false;
                                }
                            });

                            //此循环用于获取所有所有被选中的复选框
                            var roleIDs = "";
                            $.each($(".roleCheck"), function (i, n) {
                                if ($(n).prop('checked')) {
                                    roleIDs += ",";
                                    roleIDs += $(n).attr('roleID');
                                }
                            });
                            $("#SelectAll").prop('checked', SelectAllStatus);
                            BindTreeUserRole(roleIDs);
                        });

                        function BindCheckBox() {
                            var SelectAllStatus = true;

                            //此循环用于判断全复选框钮状态
                            $.each($(".roleCheck"), function (i, n) {
                                if (!$(n).prop("checked")) {
                                    SelectAllStatus = false;
                                    return false;
                                }
                            });

                            //此循环用于获取所有所有被选中的复选框
                            var roleIDs = "";
                            $.each($(".roleCheck"), function (i, n) {
                                if ($(n).prop('checked')) {
                                    roleIDs += ",";
                                    roleIDs += $(n).attr('roleID');
                                }
                            });
                            $("#SelectAll").prop('checked', SelectAllStatus);
                            BindTreeUserRole(roleIDs);
                        }
                    },
                    aoColumns: [
                        {
                            "mDataProp": function (data) {
                                var IsChecked = "";
                                if (data.IsChecked == true) {
                                    IsChecked = "checked ='checked'";
                                }
                                else {
                                    IsChecked = "";
                                }
                                var checkbox = "<input type='checkbox'  class='roleCheck' roleID='" + data.RoleID + "' " + IsChecked + "  />"
                                return checkbox;
                            }, "sClass": "center"
                        },
                        { "mDataProp": "RoleName" },
                        {
                            "mDataProp": function (data) {
                                var span = "<span title='" + data.Descripion + "'>" + data.Descripion + "</span>";
                                return span;
                            }
                        }
                    ],
                });
            }
        }
        //给TreeUserRole绑定数据
        function BindTreeUserRole(roleIDs) {
            settingTree = {
                check: {
                    enable: true
                },
                data: {
                    simpleData: {
                        enable: true
                    }
                }
            };
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '/PermissionManagement/GetUserRoleTreeData?roleIDs=' + roleIDs + '&random=' + Math.random(),
                success: function (data) {
                    if (data != null && data != "") {
                        var zNodes = data;
                        $.fn.zTree.init($("#treeUserRole"), settingTree, zNodes);
                    }
                }
            });
        }
    </script>
      <style type="text/css">
        #RolesTable_paginate {
        display:none;
        }
    </style>
</head>
<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li>授权管理</li>
        </ul>
    </div>
    <div style="width: 15%; float: left; margin: 10px">
        <div class="formtitle">
            <span>用户结构树</span>
        </div>
        <div>
            <ul id="tree" class="ztree"></ul>
        </div>
    </div>
    <div style="width: 65%; float: left; border: 1px;">
        <div class="formbody">
            <div class="formtitle"><span id="tit">角色列表</span></div>
            <div id="listunit">
                <ul class="seachform">
                    <li>
                        <input name="" type="button" class="sure" value="保存" id="btnSubmit" />
                    </li>
                </ul>

                <div style="clear: both; margin-top: 10px;" class="tableListDiv">
                    <table class="tablelist" id="RolesTable" style="text-align: center">
                        <thead>
                            <tr>
                                <th style="text-align: center; width: 40px;">
                                    <input type="checkbox" id="SelectAll" /></th>
                                <th>角色名称</th>
                                <th>角色说明</th>
                            </tr>
                        </thead>
                    </table>
                    <input type="hidden" id="userID" />
                </div>
            </div>
        </div>
    </div>
    <div style="width: 15%; float: right; margin: 10px">
        <div class="formtitle">
            <span>功能项列表</span>
        </div>
        <div id="treeUserRole" class="ztree">
        </div>
    </div>

</body>
</html>
