@{
    ViewBag.Title = "ProcessTaskList";
    Layout = "~/Views/IntegratedService/EnforceLawEventManagement/_LayoutEnforceLawEventManagement.cshtml";
}

@section HeadStyles_EnforceLawEventManage
    {
    <style type="text/css">
        .table td.left {
            text-align: left;
        }

        .table td.center {
            text-align: center;
        }
    </style>
}
@section FootScripts_EnforceLawEventManage
    {
    <script type="text/javascript">
        var oTable;
        $(document).ready(function () {
            var url = "/EnforceLaw/ZFSJProcessTaskList";
            var startTime = $("#startTime").val();
            var endTime = $("#endTime").val();
            url += "?startTime=" + startTime + "&endTime=" + endTime;
            
            BindDataTable(url);
        });

        function functionSearch() {
            var url = "/EnforceLaw/ZFSJProcessTaskList";
            var startTime = $("#startTime").val();
            var endTime = $("#endTime").val();
            url += "?startTime=" + startTime + "&endTime=" + endTime;
            BindDataTable(url);
        }

        //获取审批任务列表数据
        function BindDataTable(url) {
            if (oTable != null) {
                oTable.fnSettings().sAjaxSource = url;
                oTable.fnDraw(true);
            } else {
                oTable = $('#zfsjTable').dataTable({
                    sAjaxSource: url,
                    aoColumns: [
                        { "mDataProp": "SEQNO", "sClass": "center" },
                        //{ "mDataProp": "EventCode", "sClass": "center" },
                        {
                            "mDataProp": function (data) {
                                var EventCode = "";
                                if (data.WDATA) {
                                    var WDATA = data.WDATA;
                                    var wdataJson = eval('(' + WDATA + ')');
                                    EventCode = wdataJson.FinalForm.Form101.EventCode;
                                    if (EventCode == "null")
                                        EventCode = "";
                                }
                                var view = "<div title='" + EventCode + "'>" + EventCode + "</div>"
                                return view;
                            }, "sClass": "right"
                        },
                        //{ "mDataProp": "EventTitle", "sClass": "left" },
                        {
                            "mDataProp": function (data) {
                                var EventTitle = "";
                                if (data.WDATA) {
                                    var WDATA = data.WDATA;
                                    var wdataJson = eval('(' + WDATA + ')');
                                    EventTitle = wdataJson.FinalForm.Form101.EventTitle;
                                    if (EventTitle == "null")
                                        EventTitle = "";
                                }
                                var view = "<div title='" + EventTitle + "'>" + EventTitle + "</div>"
                                return view;
                            }, "sClass": "right"
                        },
                        { "mDataProp": "ADName", "sClass": "left" },
                        { "mDataProp": "EventSource", "sClass": "center" },
                        { "mDataProp": "ProcessUserName", "sClass": "left" },
                        //{ "mDataProp": "CreateTime", "sClass": "right" },
                        {
                            "mDataProp": function (data) {
                                var time = "<div title='" + data.TitleTime + "'>" + data.CreateTime + "</div>"
                                return time
                            }, "sClass": "right"
                        },
                        //{超期时间
                        //    "mDataProp": function (data) {
                        //        var view = "<div title='" + data.SJTimeLimit + "'>" + data.SJTimeLimit + "</div>"
                        //        if (data.IsCQ == 1) {
                        //            view = "<div title='" + data.SJTimeLimit + "' style='color:#FFA500;'>" + data.SJTimeLimit + "</div>"
                        //        } else if (data.IsCQ == 2) {
                        //            view = "<div title='" + data.SJTimeLimit + "' style='color:red;'>" + data.SJTimeLimit + "</div>"
                        //        }
                        //        return view;
                        //    }, "sClass": "right"
                        //},
                        {
                            "mDataProp": function (data) {
                                var XGLXR = "";
                                if (data.WDATA) {
                                    var WDATA = data.WDATA;
                                    var wdataJson = eval('(' + WDATA + ')');
                                    XGLXR = wdataJson.FinalForm.Form101.XGLXR;
                                    if (XGLXR == "null")
                                        XGLXR = "";
                                }
                                var view = "<div title='" + XGLXR + "'>" + XGLXR + "</div>"
                                return view;
                            }, "sClass": "right"
                        },
                        {
                            "mDataProp": function (data) {
                                var XGLXRDH = "";
                                if (data.WDATA) {
                                    var WDATA = data.WDATA;
                                    var wdataJson = eval('(' + WDATA + ')');
                                    XGLXRDH = wdataJson.FinalForm.Form101.XGLXRDH;
                                    if (XGLXRDH == "null")
                                        XGLXRDH = "";
                                }
                                var view = "<div title='" + XGLXRDH + "'>" + XGLXRDH + "</div>"
                                return view;
                            }, "sClass": "right"
                        },
                        {
                            "mDataProp": function (data) {
                                var deal = "<a  href='/ZFSJWorkflow/ZFSJWorkflowView?WIID=" + data.WIID + "&ADID=" + data.ADID + "'>详情</a>";
                                return deal;
                            }, "sClass": "center"
                        }
                    ],
                    fnDrawCallback: function (oSettings) {
                        var pagerIndex = oSettings._iDisplayStart / oSettings._iDisplayLength + 1;
                        var $currentPager = $(".dataTables_paginate span a:contains('" + pagerIndex + "')");
                        $currentPager.attr("style", "font-weight :bold;!important");
                    }
                });
            }
        }
    </script>
}

@section BreadcrumbSection{
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li><a href="javascript:void(0)"><i class="icon-home"></i>综合业务</a></li>
            <li>></li>
            <li><a href="javascript:void(0)">执法事件</a></li>
            <li>></li>
            <li class="active">已办事件</li>
        </ul>
    </div>
}
<div class="row-fluid">
    <div class="span12" id="tabledata">
        <div class="box box-black" style="margin-top: 0px;">
            <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
                <i class="icon-reorder" style="margin-right: 5px;"></i>已办事件列表
            </div>
            <div class="box-content" id="">
                <label style="width: 70px; text-align: left; display: inline-block">开始时间</label>
                <input type="text" id="startTime" style="width:100px" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now.AddMonths(-3))" class="datepicker" data-date-format="yyyy-mm-dd"/>
                <label style="width: 70px; text-align: left; display: inline-block; margin-left: 10px;">结束时间</label>
                <input type="text" id="endTime" style=" width:100px" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now)"class="datepicker" data-date-format="yyyy-mm-dd"/>
                <input id="btnQuery" type="button" class="btn btn-primary" onclick="functionSearch()"  title="查询" value="查 询" style="margin-left: 10px;" />

            </div>
            <div class="box-content" style="min-height: 400px;">
                <table class="table table-bordered table-striped table-hover fill-head" id="zfsjTable">
                    <thead>
                        <tr>
                            <th style="text-align: center; width: 40px;">序号</th>
                            <th style="text-align: center; width: 110px;">事件编号</th>
                            <th style="text-align: center;">事件标题</th>
                            <th style="text-align: center; width: 100px;">环节名称</th>
                            <th style="text-align: center; width: 130px;">事件来源</th>
                            <th style="text-align: center; width: 40px;">处理人</th>
                            <th style="text-align: center; width: 80px;">上报时间</th>
                            <th style="text-align: center; width: 80px;">联系人</th>
                            <th style="text-align: center; width: 80px;">联系电话</th>
                            <th style="text-align: center; width: 40px;">操作</th>
                        </tr>
                    </thead>
                </table>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
</div>


