@{
    ViewBag.Title = "巡查监管";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadStyles{
    <link href="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <link href="~/Scripts/assets/data-tables/demo_table.css" rel="stylesheet" />
    <link href="~/Scripts/assets/data-tables/DT_bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/assets/zTree/zTreeStyle.css" rel="stylesheet" />
    @RenderSection("HeadStyles_ScheduleManage", required: false)

    <link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />

</style>
}

@section FootScripts{
    <script src="~/Scripts/assets/data-tables/jquery.datatables.min.js"></script>
    <script src="~/Scripts/assets/data-tables/DT_bootstrap.js"></script>
    <script src="~/Scripts/assets/data-tables/PLE_DT_bootstrap.js"></script>
    <script src="~/Scripts/assets/zTree/jquery.ztree.core-3.5.js"></script>

    @RenderSection("FootScripts_ScheduleManage", required: false)

    <script type="text/javascript">
        setTimeout(function () {
            var scrollHeight = window.document.body.scrollHeight;
            var sidebarHeight = scrollHeight - 112;
            $("#sidebar").css("height", sidebarHeight);
        }, 1000);
    </script>
}

<div id="sidebar" class="nav-collapse">
    <ul class="nav nav-list">
        @*<li>
            <a href="/MemberPatrolTask/Index">
                <i class="icon-tasks"></i>
                <span>队员任务管理</span>
            </a>
        </li>*@
        <li>
            <a href="/MemberPatrolSingIn/Index">
                <i class="icon-road"></i>
                <span>队员签到管理</span>
            </a>
        </li>
        <li>
            <a href="/MemberPatrolSingIn/SingInStatistics">
                <i class="icon-globe"></i>
                <span>队员签到统计</span>
            </a>
        </li>
        <li>
            <a href="/MemberPatrolArea/Index">
                <i class="icon-globe"></i>
                <span>队员区域管理</span>
            </a>
        </li>
        <li>
            <a href="/MemberPatrolRest/Index">
                <i class="icon-globe"></i>
                <span>休息区域管理</span>
            </a>
        </li>
        <li>
            <a href="/MemberPatrolRest/RestStatistics">
                <i class="icon-globe"></i>
                <span>报警数据统计</span>
            </a>
        </li>
       
    </ul>
    <div id="sidebar-collapse" class="visible-desktop">
        <i class="icon-double-angle-left"></i>
    </div>
</div>

<div id="main-content">

    @RenderSection("BreadcrumbSection", false)

    <div id="content" style="padding-right: 5px;">
        @RenderBody()
    </div>
    <footer>
        <p>2013-2014 © 钟公庙行政执法局.</p>
    </footer>
    <a id="btn-scrollup" class="btn btn-circle btn-large" href="#"><i class="icon-chevron-up"></i></a>
</div>
