@section HeadStyles{
    <link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/data-tables/demo_table.css" rel="stylesheet" />
    <link href="~/Scripts/assets/data-tables/DT_bootstrap.css" rel="stylesheet" />
    <link href="~/Content/XXZX.css" rel="stylesheet" />
    <link href="~/Scripts/assets/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
}
@section FootScripts{

    <link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/assets/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/assets/jquery-ui/jquery-ui-timepicker-zh-CN.js"></script>
    <link href="~/Scripts/assets/bootstrap-switch/static/stylesheets/bootstrap-switch.css" rel="stylesheet" />
    <script src="~/Scripts/assets/bootstrap-switch/static/js/bootstrap-switch.js"></script>
    <script src="~/Scripts/assets/zTree/js/jquery.ztree.core-3.5.min.js"></script>
    <script src="~/Scripts/assets/zTree/js/jquery.ztree.excheck-3.5.min.js"></script>
    <script src="~/Scripts/assets/data-tables/jquery.dataTables.js"></script>
    <script src="~/Scripts/assets/data-tables/jquery.datatables.min.js"></script>
    <script src="~/Scripts/assets/data-tables/DT_bootstrap.js"></script>
    <script src="~/Scripts/assets/data-tables/PLE_DT_bootstrap.js"></script>
    <script src="~/Scripts/js/GRGZT.js"></script>
    <script>

        //树
        var chkboxSetting = {
            check: {
                enable: true,
                chkboxType: { "Y": "", "N": "" }
            },
            view: {
                dblClickExpand: false
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
            callback: {
                beforeClick: beforeClick,
                onCheck: onCheck
            }
        };

        var zNodes2 = [
			{ id: 4, pId: 0, name: "办公室", open: true, nocheck: true },
			{ id: 41, pId: 4, name: "张三" },
			{ id: 42, pId: 4, name: "李四" },
			{ id: 43, pId: 4, name: "王五" },
			{ id: 44, pId: 4, name: "赵六" },
            { id: 45, pId: 4, name: "陈七" },
            { id: 46, pId: 4, name: "杨八" },
            { id: 47, pId: 4, name: "夏九" },
			{ id: 5, pId: 0, name: "指挥中心", open: true, nocheck: true },
			{ id: 51, pId: 5, name: "龙兴" },
			{ id: 52, pId: 5, name: "龙伙计" },
			{ id: 53, pId: 5, name: "火枪" },
			{ id: 54, pId: 5, name: "隆盛" },
			{ id: 6, pId: 0, name: "一大队", open: true, nocheck: true },
			{ id: 61, pId: 6, name: "自由人" },
			{ id: 62, pId: 6, name: "海德" },
			{ id: 63, pId: 6, name: "台州人" },
			{ id: 64, pId: 6, name: "新时空" }
        ];

        function beforeClick(treeId, zNodes2) {
            var zTree = $.fn.zTree.getZTreeObj("chkboxTree");
            zTree.checkNode(zNodes2, !zNodes2.checked, null, true);
            return false;
        }

        function onCheck(e, treeId, zNodes2) {
            var zTree = $.fn.zTree.getZTreeObj("chkboxTree"),
			nodes = zTree.getCheckedNodes(true),
			v = "";
            for (var i = 0, l = nodes.length; i < l; i++) {
                v += nodes[i].name + ",";
            }
            if (v.length > 0) v = v.substring(0, v.length - 1);
            var cityObj = $("#addrSel");
            cityObj.attr("value", v);
        }

        function showMenu() {
            var cityObj = $("#addrSel");
            var cityOffset = $("#addrSel").offset();
            $("#menuContent").css({ left: cityOffset.left + "px", top: cityOffset.top + cityObj.outerHeight() + "px" }).slideDown("fast");

            $("body").bind("mousedown", onBodyDown);
        }
        function hideMenu() {
            $("#menuContent").fadeOut("fast");
            //取消绑定元素的事件处理程序和函数
            $("body").unbind("mousedown", onBodyDown);
        }
        function onBodyDown(event) {
            if (!(event.target.id == "menuBtn" || event.target.id == "addrSel" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length > 0)) {
                hideMenu();
            }
        }

        $(document).ready(function () {
            $.fn.zTree.init($("#chkboxTree"), chkboxSetting, zNodes2);

            var url = "/MessageCentre/GetMessages";
            var oTable = $('#message_table').dataTable({
                sAjaxSource: url,

                aoColumns: [
                    { "mDataProp": "TypeName" },
                    { "mDataProp": "SendChannels" },
                    { "mDataProp": "Title" },
                    {
                        "mDataProp": function (data) {
                            var check = "<a href='#'>查看</a>";
                            var edit = "<a  href='#' > 编辑 </a>";
                            var del = "<a  href='#'> 删除 </a>";
                            return check +"  "+edit + "  " + del;
                        }, "sClass": "center"
                    }
                ],

            });
        });

      
    </script>
}

<div id="left-content">
    <div class="centerGrid">
        <div class="gridTitle">欢迎：@Web.SessionManager.User.UserName</div>
        <div class="gridTitle">今天共有系统消息 13 条</div>
        <ul class="iconic">
            <li><a href="#"><i class="icon-building orange"></i>会议通知 2 条</a></li>
            <li><a href="#"><i class="icon-envelope orange"></i>电子邮件 4 条</a></li>
            <li><a href="#"><i class="icon-archive orange"></i>待办业务 6 条</a></li>
        </ul>

        <a href="#modal-1" class="btn btn-primary" role="button" data-toggle="modal" style="margin-left: 10px; margin-bottom: 10px;"><i class="icon-comment-alt"></i>发消息</a>
        <a href="#" class="btn btn-primary" role="button" data-toggle="modal" style="margin-bottom: 10px;"><i class="icon-comment"></i>已发送</a>
    </div>
    <div class="typeGrid">
        <div class="gridTitle"><a href="#"><i class="icon-comments"></i>收件夹</a></div>
        <div class="typeRow">
            <span>信息</span>
            <div class="switch" data-on-label="选中" data-off-label="取消">
                <input type="checkbox" checked />
            </div>
        </div>
        <div class="typeRow">
            <span>公告</span>
            <div class="switch" data-on-label="选中" data-off-label="取消">
                <input type="checkbox" checked />
            </div>
        </div>
        <div class="typeRow">
            <span>提示</span>
            <div class="switch" data-on-label="选中" data-off-label="取消">
                <input type="checkbox" checked />
            </div>
        </div>
        <div class="typeRow">
            <span>通知</span>
            <div class="switch" data-on-label="选中" data-off-label="取消">
                <input type="checkbox" checked />
            </div>
        </div>
    </div>
</div>
<div id="main-content">
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home" style="font-size: 18px;"></i>
                <a href="#">个人中心</a>
                <span class="divider"><i class="icon-angle-right"></i></span>
            </li>
            <li class="active">消息中心</li>
        </ul>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="box box-black" style="margin-top: 0px;">
                <div class="box-content">
                    <div class="form-group" style="margin-top: 5px; margin-bottom: 5px; float: left;">
                        <label class="col-xs-3 col-lg-2 control-label" for="textfield3" style="float: left; width: auto; height: 30px; line-height: 30px; margin-right: 5px;">内容:</label>
                        <input name="txtName" class="form-control" id="txtName" type="text" placeholder="内容">
                    </div>
                    <div class="form-group" style="margin-left: 10px; margin-top: 5px; margin-bottom: 5px; float: left;">
                        <a href="#" class="btn btn-primary" style="margin-right: 10px;">查 询</a>
                    </div>
                </div>
                <div class="box-content">
                    <table class="table" id="message_table">
                        <thead>
                            <tr>
                               @* <th>序号</th>*@
                                <th>消息类型</th>
                                <th style="min-width: 38px;">提醒方式</th>
                                <th>消息标题</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        @*<tbody>
                            <tr>
                                <td>1</td>
                                <td>通知</td>
                                <td>办公室</td>
                                <td>会议通知</td>
                                <td><a href="#">查看</a>
                                    <a href="#">修改</a>
                                    <a href="#">删除</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>电子邮件</td>
                                <td>协同系统</td>
                                <td>会议通知</td>
                                <td><a href="#">查看</a>
                                    <a href="#">修改</a>
                                    <a href="#">删除</a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>待办业务</td>
                                <td>案件管理系统</td>
                                <td>待办案件</td>
                                <td><a href="#">查看</a>
                                    <a href="#">修改</a>
                                    <a href="#">删除</a></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>通知</td>
                                <td>办公室</td>
                                <td>会议通知</td>
                                <td><a href="#">查看</a>
                                    <a href="#">修改</a>
                                    <a href="#">删除</a></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>电子邮件</td>
                                <td>协同系统</td>
                                <td>会议通知</td>
                                <td><a href="#">查看</a>
                                    <a href="#">修改</a>
                                    <a href="#">删除</a></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>待办业务</td>
                                <td>案件管理系统</td>
                                <td>待办案件</td>
                                <td><a href="#">查看</a>
                                    <a href="#">修改</a>
                                    <a href="#">删除</a></td>
                            </tr>
                        </tbody>*@
                    </table>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>2013 © 杭州天尊信息技术有限公司</p>
    </footer>
    <a id="btn-scrollup" class="btn btn-circle btn-large" href="#"><i class="icon-chevron-up"></i></a>
</div>

<div id="modal-1" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">发送消息</h3>
            </div>
            <form class="form-horizontal" action="#">
                <div class="modal-body">
                    <div class="form-group" style="margin-bottom: 5px;">
                        <label class="col-xs-3 col-lg-2 control-label" for="textfield3" style="width: 80px;">收件人</label>
                        <div class="col-sm-9 col-lg-10 controls" style="margin-left: 100px;">
                            <input name="addrSel" class="form-control" id="addrSel" type="text" placeholder="通讯录" style="width: 90%;" onclick="showMenu();">
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 5px;">
                        <label class="col-xs-3 col-lg-2 control-label" style="width: 80px;">消息来源</label>
                        <div class="col-sm-9 col-lg-10 controls" style="margin-left: 100px;">
                            <input name="password3" class="form-control" id="password3" type="text" placeholder="输入来源" style="width: 90%;">
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 5px;">
                        <label class="col-sm-3 col-lg-2 control-label" style="width: 80px;">消息类型</label>
                        <div class="col-sm-9 col-lg-10 controls" style="margin-left: 100px;">
                            <input name="xxtype" class="form-control" id="xxtype" type="text" placeholder="选择类型" style="width: 90%;">
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 5px;">
                        <label class="col-xs-3 col-lg-2 control-label" for="textarea3" style="width: 80px;">消息内容</label>
                        <div class="col-sm-9 col-lg-10 controls" style="margin-left: 100px;">
                            <textarea name="textarea3" class="form-control" id="textarea3" rows="5" style="width: 90%;"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                    <button class="btn btn-primary" data-dismiss="modal">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="menuContent" class="menuContent" style="display: none; position: absolute; z-index: 1051;">
    <ul id="chkboxTree" class="ztree" style="margin-top: 0; width: 180px; height: 300px; border: 1px solid #cdcdcd; background-color: rgb(255, 255, 255); color: #393939; overflow-y: scroll;"></ul>
</div>


