/*事项*/

    .wdrcRow {
     margin-left:8px;
     margin-top:5px;
     margin-bottom:5px;
    }

    .wdrcRow > span{
     padding-right:8px;
     float:left;
     height:30px;
     line-height:30px;
     font-weight:bold;
    }


/*图示*/
.fc-ts-content {
    text-align: right;
    float: right;
    height:25px;
}

    .fc-ts-content .ts-item {
        float: left;
        width: 30px;
        height: 15px;
        border: 1px solid #ddd;
        padding: 1px;
    }

        .fc-ts-content .ts-item .item-both {
            width: 30px;
            height: 15px;
        }

    .fc-ts-content .ts-text {
        float: left;
        margin-left: 5px;
        margin-right: 5px;
    }
