.title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
}

.workflow th {
    font-size: 12px;
    font-weight: normal;
    border: 1px solid #999999;
    padding: 4px;
    text-align: center;
}

.workflow td {
    font-size: 12px;
    font-weight: normal;
    border: 1px solid #999999;
    padding: 4px;
    text-align: center;
    text-align: left;
    vertical-align: middle;
    padding-right: 18px;
}

input[type=text], select {
    border: 1px solid #999999;
    font-size: 12px;
    width: 100%;
    height: 20px;
    margin: 0px;
    color: #393939;
}

label.formErrorMsg {
    color: #b94a48;
    font-size: 12px;
    font-family: 微软雅黑，宋体；;
    display: none;
}

select {
    height: 30px;
}

input[type=file] {
    border: 1px solid #999999;
    font-size: 12px;
    height: 24px;
}

#wfxw div {
    margin-bottom: 4px;
}

#wfxw input {
    width: 162px;
}

#wfxw select {
    width: 250px;
}

textarea {
    border: 1px solid #999999;
    font-size: 12px;
    width: 100%;
    height: 80px;
    color: #393939;
}

#ws div {
    margin-bottom: 4px;
}

#sccl div {
    margin-bottom: 2px;
}

#sccl select {
    width: auto;
}

width_80 {
    width: 80px;
}
