@{
    ViewBag.Title = "GGFWChart";
    Layout = "~/Views/AidDecisionMaking/_LayoutStatisticeManagement.cshtml";
}
<script src="~/Scripts/assets/jquery-ui/jquery-ui.min.js"></script>
<script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.js"></script>
<script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-zh-CN.js"></script>

<script type="text/javascript">
    //获取时间年份
    $(document).ready(function () {
        $.ajax({
            url: "/Statistics/GetYear",
            type: "get",
            success: function (data) {
                $("#SearchYear").html(data);
            },
            error: function (mes) {
                alert("操作失败");
            }
        });
        //获取时间月份
        $.ajax({
            url: "/Statistics/GetMouth",
            type: "get",
            success: function (data) {
                $("#SearchMouth").html(data);
            },
            error: function (mes) {
                alert("操作失败");
            }
        });


    })
    //数据同步 (数据同步按钮)
    function submitGGFWReport() {
        //给隐藏控件赋值
        $("#SJTBSUMBIT").val(1);
        $("#CHAXUSUMBIT").val(0);
        $.ajax({
            type: "POST",
            url: "/Statistics/GetGGFWReport",
            cache: false,
            success: function (data) {
                $("#getContent").html(data);
            }
        });
    }


    //报表显示 （查询按钮）
    function searchGGFWReport() {
        //给隐藏控件赋值
        $("#CHAXUSUMBIT").val(1);
        $("#SJTBSUMBIT").val(0);
        var year = $("#SearchYear").val();
        var mouth = $("#SearchMouth").val();
        $.ajax({
            type: "POST",
            url: "/Statistics/GetTableMes",
            cache: false,
            data: { year: year, mouth: mouth },
            success: function (data) {
                $("#getContent").html(data);
            }
        });
    }
    //点击打印按钮时
    function printme() {
        //如果SJTBNUM=1 表示点击的是数据同步按钮  否则是查询按钮
        var SJTBNUM = $("#SJTBSUMBIT").val();
        //数据同步  进入数据同步方法
        if (SJTBNUM == 1) {
            window.open("/Statistics/GetGGFWReportPrintMe");
        } else {
            //进入查询方法
            var SearchYear = $("#SearchYear").val();
            var SearchMouth = $("#SearchMouth").val();
            var data = SearchYear + "-" + SearchMouth + "-1";
            window.open("/Statistics/GetTableMesPrintMe?data=" + data);
        }
        //document.body.innerHTML = document.getElementById("getContent").innerHTML;
        //window.print();
        //window.open(window.location.href);
        //this.close();
    }
</script>



@section BreadcrumbSection{
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li><a href="javascript:void(0)"><i class="icon-home"></i>辅助决策</a></li>
            <li>></li>
            <li><a href="javascript:void(0)">报表统计</a></li>
            <li>></li>
            <li class="active">信访事项月报</li>
        </ul>
    </div>
}
<div class="box box-black" style="margin: 5px;">
    <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
        <i class="icon-reorder" style="margin-right: 5px;"></i>数据统计列表
    </div>
    <div class="box-content" style="min-height: 400px;">
        <div class="query">
            <table>
                <tr>
                    <td style="width: 80px">
                        <input type="hidden" id="SJTBSUMBIT" />
                        <input type="hidden" id="CHAXUSUMBIT" />
                        <label style="vertical-align: bottom; margin-top: 5px; margin-bottom: 2px; float: left;">导入数据:</label></td>
                    <td style="width: 250px">
                        <button type="button" class="btn btn-primary" onclick="submitGGFWReport()">数据同步</button>
                    </td>
                    <td style="width: 250px; text-align: center">
                        <select id="SearchYear" name="SearchYear" class="selClassMainID" style="width: 100px;"></select><span style="margin-left: 10px;">年</span>
                        <select id="SearchMouth" name="SearchMouth" class="selClassMainID" style="width: 100px;"></select><span style="margin-left: 10px;">月</span>
                    </td>
                    <td style="width: 250px">

                        <button type="button" class="btn btn-primary" onclick="searchGGFWReport()">查询</button>
                    </td>
                    <td style="width: 250px;">
                        <button type="button" class="btn btn-primary" onclick="printme()" style="float: right">打印</button>
                    </td>
                </tr>
            </table>
        </div>
        <hr />
        <div id="getContent"></div>

        <div style="clear: both"></div>
    </div>
</div>
