@model List<Taizhou.PLE.Model.CommonModel.CaseCount>
@{
    ViewBag.Title = "CaseCount";
    Layout = "~/Views/AidDecisionMaking/_LayoutStatisticeManagement.cshtml";
}

@section BreadcrumbSection{
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li><a href="javascript:void(0)"><i class="icon-home"></i>辅助决策</a></li>
            <li>></li>
            <li><a href="javascript:void(0)">报表统计</a></li>
            <li>></li>
            <li class="active">简易案件统计</li>
        </ul>
    </div>
}
<script src="~/Scripts/Highcharts-4.0.3/js/highcharts.src.js"></script>
<div class="box box-black" style="margin: 5px;">
    <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
        <i class="icon-reorder" style="margin-right: 5px;"></i>@DateTime.Now.Year.ToString()年简易案件统计
    </div>
    <div class="box-content" style="min-height: 400px;">
           <div  style="height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
              <a class="btn btn-success" href="/Statistics/SimpleCaseCount">简易案件列表统计<i style="margin-left: 10px;" class="m-icon-swapright m-icon-white"></i></a>
    </div>
        <div id="container" style="min-width: 700px; height: 400px"></div>
        <input type="hidden" id="SimpleCaseChartList" value="@ViewBag.SimpleCaseChartList"/>
        <div style="clear: both"></div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var SimpleChartList = document.getElementById("SimpleCaseChartList").value;
        var data = eval('(' + SimpleChartList + ')');
        $('#container').highcharts({
            chart: {
                type: 'line'
            },
            title: {
                text: '简易案件条形统计图'
            },
          
            xAxis: {
                categories: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
            },
            yAxis: {
                title: {
                    text: ''
                }
            },
            tooltip: {
                enabled: false,
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br>' + this.x + ': ' + this.y + '°C';
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: data
            //    [{
            //    name: '一中队',
            //    data: [7.0, 6.9, 9.5, 14.5, 18.4, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
            //}, {
            //    name: '二中队',
            //    data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8] 
            //},
            //{
            //    name: '三中队',
            //    data: [3.9, 4.2, 5.7, 8.5, 13.3, 15.2, 17.0, 16.6, 14.2, 11.3, 6.6, 4.8]
            //},
            //{
            //    name: '四中队',
            //    data: [3.9, 4.2, 5.7, 8.5, 11.3 ,15.2, 10.0, 16.6, 14.2, 10.3, 6.6, 4.8]

            //}, {
            //    name: '五中队',
            //    data: [
            //        3.9, 4.2, 5.7, 8.5, 8.3, 15.2, 10.0, 16.6, 14.2, 10.3, 16.6, 14.8]
            //},
            //{
            //    name: '六中队',
            //    data: [3.9, 4.2, 5.7, 8.5, 11.3, 16.2, 10.0, 16.6, 14.2, 15.3, 6.6, 8.8]
            //},
            //{
            //    name: '七中队',
            //    data: [3.9, 4.2, 5.7, 8.5, 11.3, 13.2, 10.0, 14.6, 14.2, 10.3, 6.6, 10.8]
            //},
            //{
            //    name: '八中队',
            //    data: [3.9, 4.2, 5.7, 8.5, 11.3, 12.2, 10.0, 17.6, 14.2, 10.3, 6.6, 13.8]
            //}]
        });
    });
</script>
