@{
    ViewBag.Title = "XZZFPrintMe";
}
<style>
    .table {
        font-size: 9px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        //获得后台传过来的值
        var ContentMes = $("#ContentMesHidden").val();
        $("#ContentMesHtml").html(ContentMes);
        //打印
        printme();
    });

    //点击打印按钮时
    function printme() {
        document.body.innerHTML = document.getElementById("PrintmeTable").innerHTML;
        window.print();
        //this.close();
    }
</script>

<table style="width: 100%">
    <tr>
        <td style="line-height: 25px; text-align: right">
            <input type="hidden" id="ContentMesHidden" value="@ViewBag.sbMes" />
        </td>
    </tr>
</table>

<div id="PrintmeTable">
    <table style="width:1014px;">
        <tr>
            <td style="text-align: center; font-size: 18px;">行政执法（规划类除外）情况统计表（@ViewBag.DTtime）</td>
        </tr>
    </table>
    <table border="1">
        <thead>
            <tr style="text-align: center">
                <td rowspan="3" colspan="2" style="width: 100px;">处罚种类内容</td>
                <td colspan="2">案源</td>
                <td colspan="2" style="width: 100px;">简易程序</td>
                <td colspan="10">一般程序</td>
                <td colspan="2">合计</td>
            </tr>
            <tr style="text-align: center">
                <td rowspan="2" style="width: 50px;">巡查发现数</td>
                <td rowspan="2" style="width: 50px;">其他</td>
                <td colspan="2">罚款</td>
                <td rowspan="2" style="width: 35px;">立案件数</td>
                <td rowspan="2" style="width: 35px;">办结件数</td>
                <td rowspan="2" style="width: 35px;">罚款（元）</td>
                <td rowspan="2" style="width: 60px;">没收违法所得(元)</td>
                <td rowspan="2" style="width: 60px;">没收违法财物(元)</td>
                <td rowspan="2" style="width: 60px;">强制措施(件)</td>
                <td rowspan="2" style="width: 60px;">责令停产停业(件)</td>
                <td rowspan="2" style="width: 60px;">其他处罚(件)</td>
                <td rowspan="2" style="width: 60px;">其中组织听证(件)</td>
                <td rowspan="2" style="width: 60px;">申请法院执行(件)</td>
                <td rowspan="2" style="width: 35px;">办结数(件)</td>
                <td rowspan="2" style="width: 35px;">罚款(元)</td>
            </tr>
            <tr style="text-align: center">
                <td>件</td>
                <td>元</td>
            </tr>
        </thead>
        <tbody id="ContentMesHtml">
        </tbody>
    </table>
</div>
