@{
    Layout = "~/Views/CoordinationCentre/ContentManagement/_LayoutContentManagement.cshtml";
}
<script src="~/Scripts/assets/jquery/jquery.min.js"></script>
<script>
    function Show(articleID) {
        window.open("/ArticleManagement/ShowArticle?articleID=" + articleID);
    }

    function TimeTransform(time) {
        if (time == null | time == "") {
            return "";
        }
        time = time.replace("/Date(", "");
        time = time.replace(")/", "");
        var d = new Date();
        d.setTime(time);
        var year = d.getFullYear();
        var month = d.getMonth() + 1;
        var date = d.getDate();
        date = date >= 10 ? date : "0" + date;
        var hour = d.getHours();
        hour = hour >= 10 ? hour : "0" + hour;
        var minute = d.getMinutes();
        minute = minute > 10 ? minute : "0" + minute;
        var StrTime = year + "-" + month + "-" + date + " " + hour + ":" + minute;

        return StrTime;
    }



    $(document).ready(function () {
        $("#ArticleList").css("display", "block");
        $("#ArticleTable").dataTable({
            sAjaxSource: "/ArticleManagement/GetUnapprovedArticleList",
            aoColumns:
                [{
                    "mDataProp": function (data) {
                        var title;
                        if (data.title.length > 37) {
                            title = data.title.substring(0, 33) + "...";
                        }
                        else {
                            title = data.title;
                        }
                        var label = "<label title=" + data.title + ">" + title + "</label>";
                        return label;
                    }
                },
            { "mDataProp": "createDuserName" },
            { "mDataProp": "author" },
            {
                "mDataProp": function (data) {
                    return TimeTransform(data.createdTime)
                }
            },
            { "mDataProp": "category" },
            {
                "mDataProp": function (data) {
                    var Handle = "<a  href='ApprovalArticleView?articleID=" + data.articleID + "' >审批</a>";
                    return Handle;
                }
            }],
            fnDrawCallback: function (oSettings) {
                var pagerIndex = oSettings._iDisplayStart / oSettings._iDisplayLength + 1;
                var $currentPager = $(".dataTables_paginate span a:contains('" + pagerIndex + "')");
                $currentPager.attr("style", "font-weight :bold;!important");
            }
        });
    });
</script>

@section BreadcrumbSection{
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li><a href="#"><i class="icon-home"></i>协同中心</a></li>
            <li>></li>
            <li><a href="/ArticleManagement/">发布管理</a></li>
            <li>></li>
            <li class="active">待审文章</li>
            <li id="UintInfo"></li>
        </ul>
    </div>
}
<div class="row-fluid">
    <div class="span12" id="span90">
        <div class="box box-black" style="margin-top: 0px;">
            <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
                <i class="icon-table" style="margin-right: 5px;"></i>待审批文章列表
            </div>
            <div class="box-content">
                <table class="table table-bordered table-striped table-hover fill-head" id="ArticleTable">
                    <thead>
                        <tr>
                            <th style="text-align: center">文章标题</th>
                            <th style="text-align: center">发布人</th>
                            <th style="text-align: center">作者</th>
                            <th style="text-align: center">发文时间</th>
                            <th style="text-align: center">所属栏目</th>
                            <th style="text-align: center">操作</th>
                        </tr>
                    </thead>
                </table>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
    <div class="span9" style="display: none;" id="span91">
    </div>
    <div class="span9" style="display: none;" id="span92">
    </div>
</div>
