@{
    ViewBag.FunctionName = "发布管理";
    ViewBag.Title = "Index";
    Layout = "~/Views/CoordinationCentre/ContentManagement/_LayoutContentManagement.cshtml";
}
@section HeadStyles_Manage{
    <style type="text/css">
        .center {
            text-align: center !important;
        }
    </style>
}

@section FootScripts_Manage{
    <script type="text/javascript">
        function TimeTransform(time) {
            if (time == null | time == "") {
                return "";
            }
            time = time.replace("/Date(", "");
            time = time.replace(")/", "");
            var d = new Date();
            d.setTime(time);
            var year = d.getFullYear();
            var month = d.getMonth() + 1;
            var date = d.getDate();
            date = date >= 10 ? date : "0" + date;
            var hour = d.getHours();
            hour = hour >= 10 ? hour : "0" + hour;
            var minute = d.getMinutes();
            minute = minute >= 10 ? minute : "0" + minute;
            var StrTime = year + "-" + month + "-" + date + " " + hour + ":" + minute;

            return StrTime;
        }

        function ShowTable() {
            $("#span91").hide();
            $("#span90").show();
        }

        function Show(articleID) {
            $.ajax({
                type: "GET",
                url: "/ArticleManagement/ShowArticle?articleID=" + articleID + "&random=" + Math.random(),
                success: function (data) {
                    $("#span90").hide();
                    //隐藏编辑表单
                    $("#span92").hide();
                    //显示添加表单
                    $('#article-content').empty();
                    $("#span91").show();
                    $("#article-content").html(data);
                }
            });
        }

        $(document).ready(function () {
            $("#ArticleList").css("display", "block");
            oTable = $('#ArticleTable').dataTable({
                sAjaxSource: "/ArticleManagement/GetArticleList",
                aoColumns: [
                    {
                        "mDataProp": "category"
                    },
                    {
                        "mDataProp": function (data) {
                            var lableValue;
                            if (data.title.length > 10) {
                                lableValue = data.title.substring(0, 7) + "..."
                            }
                            else {
                                lableValue = data.title;
                            }
                            var lable = "<label title=" + data.title + ">" + lableValue + "</label>";
                            return lable;
                        }
                    },
                    { "mDataProp": "createDuserName" },
                    { "mDataProp": "author" },
                    {
                        "mDataProp": function (data) {
                            return TimeTransform(data.createdTime)
                        }
                    },
                    {
                        "mDataProp": function (data) {
                            var isDelete = "其他状态";
                            if (data.isDelete == 1) {
                                isDelete = "正常";
                            }
                            if (data.isDelete == 0) {
                                isDelete = "已删除";
                            }
                            return isDelete;
                        }
                    },
                    {
                        "mDataProp": function (data) {
                            var status = "未审核";
                            if (data.approvalStatusID == 0) {
                                status = "待审核";
                            }
                            if (data.approvalStatusID == 1) {
                                status = "已审核";
                            }
                            return status;
                        }
                    },
                    { "mDataProp": "approvalUserName" },
                    {
                        "mDataProp": function (data) {
                            return TimeTransform(data.approvalTime)
                        }
                    },

                    {
                        "mDataProp": function (data) {
                            var show = "<a  href='#' onclick=\"Show(" + data.articleID + ")\"><i class='icon-edit padding-null'></i> 查看全文 </a>";
                            return show;
                        }
                    }

                ],
                iDisplayLength: 10,
                iDisplayStart: 0,
                fnDrawCallback: function (oSettings) {
                    var pagerIndex = oSettings._iDisplayStart / oSettings._iDisplayLength + 1;
                    var $currentPager = $(".dataTables_paginate span a:contains('" + pagerIndex + "')");
                    $currentPager.attr("style", "font-weight :bold;!important");
                }
            });
        });
    </script>
}

@section BreadcrumbSection{
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li><a href="#"><i class="icon-home"></i>协同中心</a></li>
            <li>></li>
            <li><a href="/ArticleManagement/">发布管理</a></li>
            <li>></li>
            <li class="active">文章管理</li>
            <li id="UintInfo"></li>
        </ul>
    </div>
}
<input type="hidden" value="@ViewBag.URL" id="URL"/>

<div class="row-fluid">
    <div class="span12" id="span90">
        <div class="box box-black" style="margin-top: 0px;">
            <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
                <i class="icon-table" style="margin-right: 5px;"></i>文章列表
            </div>
            <div class="box-content">
                <a href="/ArticleManagement/Published" class="btn btn-primary">添 加</a>
                <table class="table table-bordered table-striped table-hover fill-head" id="ArticleTable">
                    <thead>
                        <tr>
                            <th style="text-align: center">文章类别</th>
                            <th style="text-align: center">文章标题</th>
                            <th style="text-align: center">发布人</th>
                            <th style="text-align: center">作者</th>
                            <th style="text-align: center">发文时间</th>
                            <th style="text-align: center">文章状态</th>
                            <th style="text-align: center">审核状态</th>
                            <th style="text-align: center">审核用户</th>
                            <th style="text-align: center">审核时间</th>
                            <th style="text-align: center">查看正文</th>
                        </tr>
                    </thead>
                </table>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>

    <div style="display: none;" id="span91">
        <div class="box box-black" style="margin-top: 0px; background-color: white">
            <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
                <i class="icon-table" style="margin-right: 5px;"></i>查看文章
            </div>
            <div class="box-content" id="article-content" style="width: 750px; margin-left: 15%; min-height: 500px">
            </div>
            <a href="#" onclick="ShowTable()" class="btn btn-primary" style="margin-left: 48%;">返回</a>
        </div>
    </div>
    @Html.Hidden("ParentFunctionID")
</div>
