@{
    Layout = "~/Views/CoordinationCentre/ContentManagement/_LayoutContentManagement.cshtml";
}
@*@section HeadStyles{
    <style type="text/css">
        .center {
            text-align: center !important;
        }
    </style>
}*@

<script src="~/Scripts/assets/jquery/jquery.min.js"></script>
<script src="~/Scripts/ueditor/ueditor.config.js"></script>
<script src="~/Scripts/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#ArticleTitle").change(function () {
            if ($("#ArticleTitle").val() != "") {
                $("#ArticleTitleDiv").removeClass("error").addClass("success");
                $("#ArticleTitleSpan").text("");
            }
        });

        $("#articleCategory").change(function () {
            if ($("#articleCategory").val() != "") {
                $("#articleCategoryDiv").removeClass("error").addClass("success");
                $("#articleCategorySpan").text("");
            }
        }); 

        $("#ApprovalUser").change(function () {
            if ($("#ApprovalUser").val() != "") {
                $("#ApprovalUserDiv").removeClass("error").addClass("success");
                $("#ApprovalUserSpan").text("");
            }
        });

        $("#Author").change(function () {
            if ($("#Author").val() != "") {
                $("#AuthorDiv").removeClass("error").addClass("success");
                $("#AuthorSpan").text("");
            }
        });

        $("#ArticleList").css("display", "block");
        $("#saveArticle").click(function () {
            var ArticleTitle = null;
            var flag = true;
            if ($("#ArticleTitle").val() != "") {
                ArticleTitle = $("#ArticleTitle").val();
            }
            else {
                flag = false;
                $("#ArticleTitleDiv").removeClass("success").addClass("error")
                $("#ArticleTitleSpan").text("必选字段");
            }

            var Author = null;
            if ($("#Author").val() != "") {
                Author = $("#Author").val();
            }
            else {
                flag = false;
                $("#AuthorDiv").removeClass("success").addClass("error")
                $("#AuthorSpan").text("必选字段");
            }

            var ArticleCategory = null;
            if ($("#articleCategory").val() != "") {
                ArticleCategory = $("#articleCategory").val();
            }
            else {
                flag = false;
                $("#articleCategoryDiv").removeClass("success").addClass("error")
                $("#articleCategorySpan").text("必选字段");
            }

            var ApprovalUser = null;
            if ($("#ApprovalUser").val()) {
                ApprovalUser = $("#ApprovalUser").val();
            } else {
                flag = false;
                $("#ApprovalUserDiv").removeClass("success").addClass("error")
                $("#ApprovalUserSpan").text("必选字段");
            }

            if (!flag) {
                return;
            }

            var content = editor.getContent();
            var Article = {
                ArticleTitle: ArticleTitle,
                Author: Author,
                Category: ArticleCategory,
                ApprovalUser: ApprovalUser,
                Content: content,
                Model: "Insert"
            };

            $.ajax({
                url: "/ArticleManagement/SaveArticle",
                type: "post",
                data: Article,
                success: function (data) {
                    location.reload();
                }
            });
        });

        $("#showArticle").click(function () {

            var ArticleTitle = null;
            var flag = true;

            if ($("#ArticleTitle").val() != "") {
                ArticleTitle = $("#ArticleTitle").val();
            }
            else {
                flag = false;
                $("#ArticleTitleDiv").removeClass("success").addClass("error")
                $("#ArticleTitleSpan").text("必选字段");
            }

            var Author = null;
            if ($("#Author").val() != "") {
                Author = $("#Author").val();
            }
            else {
                flag = false;
                $("#AuthorDiv").removeClass("success").addClass("error")
                $("#AuthorSpan").text("必选字段");
            }

            var ArticleCategory = null;
            if ($("#articleCategory").val() != "") {
                ArticleCategory = $("#articleCategory").val();
            }
            else {
                flag = false;
                $("#articleCategoryDiv").removeClass("success").addClass("error")
                $("#articleCategorySpan").text("必选字段");
            }

            if (!flag) {
                return;
            }

            var ApprovalUser = null;
            if ($("#ApprovalUser").val() != "") {
                ApprovalUser = $("#ApprovalUser").val();
            }
            else {
                alert("空!");
                return;
            }

            var content = editor.getContent();

            $("#articleTitle").append(ArticleTitle);
            $("#articleCreateTime").append("上传时间:2012-12-12  作者:" + Author);
            $("#articleContent").append(content);

            $("#articleDiv").hide();
            $("#ShowArticle").show();

        });

        $("#close").click(function () {
            $("#ShowArticle").hide();
            $("#articleDiv").show();
            $("#articleContent").empty();
            $("#articleTitle").empty();
            $("#articleCreateTime").empty();
        });
        var width = $("#myEditorDiv").css("width").replace("px", "");
        var editor = new UE.ui.Editor({ initialFrameWidth: width });
        editor.render("myEditor");
        editor.addListener('ready', function (editor) {
            var width = $("#span").width();
        });

        //级联
        $("#Category").change(function () {
            var categoryID = $(this).find("option:selected").val();
            var url = "/ArticleManagement/GetArticleCategories?categoryID=" + categoryID;
            $("#articleCategory").empty();
            $("#articleCategory").append($("<option value=''>请选择文章类别</option>"));
            BindSelect($("#articleCategory"), url);
        });
    });

    function BindSelect($select, url) {
        $.getJSON(url, function (data) {
            if (data != null) {
                $.each(data, function (i, n) {
                    $select.append($("<option value=\"" + n.ID + "\">" + n.Name + "</option>"));
                });
            }
        });
    }

</script>

@section BreadcrumbSection{
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li><a href="#"><i class="icon-home"></i>协同中心</a></li>
            <li>></li>
            <li><a href="/ArticleManagement/">发布管理</a></li>
            <li>></li>
            <li><a href="/ArticleManagement/">文章管理</a></li>
            <li>></li>
            <li class="active">新增文章</li>
            <li id="UintInfo"></li>
        </ul>
    </div>
}
<input type="hidden" value="@ViewBag.URL" id="URL"/>
<div class="row-fluid">
    <div class="box box-black span12" style="margin-top: 0px;" id="articleDiv">
        <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
            <i class="icon-reorder" style="margin-right: 5px;"></i>新增文章
        </div>
        <div class="box-content">
            <form class="form-horizontal form-bordered form-row-stripped" method="post"
                action="#">
                <div class="control-group" id="ArticleTitleDiv">
                    <label class="control-label">文章标题：</label>
                    <div class="controls">
                        <input type="text" placeholder="Text input" class="input-xxlarge" id="ArticleTitle" style="width: 559px;" />
                        <span class="help-inline" for="ArticleTitle" id="ArticleTitleSpan"></span>
                    </div>
                </div>



                <div class="control-group" id="articleCategoryDiv">
                    <label class="control-label">文章类别：</label>
                    <div class="controls">
                        @Html.DropDownList("Category", ViewBag.catfaegory as IEnumerable<SelectListItem>, new { @class = "input-xlarge", style = "width:284px;" })
                        <select id="articleCategory" name="articleCategory" class="input-xlarge" style="width: 284px;">
                            <option value="">请选择文章类别</option>
                        </select>
                        <span class="help-inline" for="articleCategory" id="articleCategorySpan"></span>
                    </div>
                </div>

                <div class="control-group" id="AuthorDiv">
                    <label class="control-label">文章作者：</label>
                    <div class="controls">
                        <input type="text" id="Author" placeholder="Text input" class="input-xlarge" />
                        <span class="help-inline" for="Author" id="AuthorSpan"></span>
                    </div>
                </div>
                <div class="control-group" id="ApprovalUserDiv">
                    <label class="control-label">文章审批人：</label>
                    <div class="controls">
                        @Html.DropDownList("ApprovalUser", ViewBag.approvalUser as IEnumerable<SelectListItem>, new { @class = "input-xlarge", style = "width:284px;" })
                        <span class="help-inline" for="ApprovalUser" id="ApprovalUserSpan"></span>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">文章正文：</label>
                    <div class="controls" id="myEditorDiv">
                        <textarea class="input-xxlarge" rows="5" id="myEditor"></textarea>
                    </div>
                </div>


                <div class="form-actions">
                    <input class="btn btn-primary" type="button" value="预 览" id="showArticle" />
                    <input style="margin-left: 10px" class="btn btn-primary" type="button" value="提 交" id="saveArticle" />
                </div>
            </form>
        </div>
    </div>

    <div class="box box-black" style="display: none; background-color: white" id="ShowArticle">
        <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
            <i class="icon-reorder" style="margin-right: 5px;"></i>预览文章
        </div>
        <div class="box-content" style="width: 750px; margin-left: 15%; min-height: 500px">
            <div style="text-align: center; color: #333333; font-size: 18px; font-weight: bold; line-height: 150%;" id="articleTitle"></div>
            <div style="text-align: center; font-size: 12px; line-height: 150%"><span style="color: #666666" id="articleCreateTime"></span></div>
            <br />
            <br />
            <div id="articleContent"></div>
        </div>
        <a href="#" id="close" class="btn btn-primary" style="margin-left: 48%;">返回</a>
    </div>
</div>




