@{
    Layout = null;
}

<script src="~/Scripts/assets/jquery/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ArticleList").css("display", "block");
        $("#article-content").append($("#content").val());
    });
</script>
<input type="hidden" id="content" value="@ViewBag.content" />
<div class="box-content" id="article-content" style="width: 750px; margin-left: 120px">
</div>
