body  {
	font-size:9pt;
	font-family: Arial;
	background-color: #fff;
	margin:0;
	scrollbar-face-color: #e0eaf6; scrollbar-shadow-color: #e0eaf6; scrollbar-highlight-color: #e0eaf6; scrollbar-3dlight-color: #e0eaf6; scrollbar-darkshadow-color:#e0eaf6; scrollbar-track-color: #fff; scrollbar-arrow-color: #458CE4
}
.title{
	font-size:14px;font-weight:bold;float:left;
}
.homebody{
	background-color: #ffffff;
}
form  {
	margin:0 0 0 0;padding:0;height:85%;width:100%;
}
a {
	text-decoration:none;color: #036;font:12px;
}
a:hover {
	text-decoration: underline;color: #0260CC;font:12px;
}
td {
	font-size:9pt;
	font-family: Arial;
	color: #000;
}
.tablecolor {
	border-collapse:collapse; border:1px solid #86B0E2;border-top:2px solid #86B0E2;background:#EFF6FE;
}
.tablecolor td {
	border:1px #fff solid;
}
.tablecolor1 {
	border-collapse:collapse; border:1px solid #86B0E2;border-top:2px solid #86B0E2;background:#EFF6FE;
}
.TableHeader {
	FONT-WEIGHT: bold; BACKGROUND: #c1d6f0; COLOR: #000000; HEIGHT: 22px
}
.TableLine1 {
	BACKGROUND: #e8e8e8; HEIGHT: 20px
}
.TableLine2 {
	BACKGROUND: #f5f5f5; HEIGHT: 20px
}
.TableLine3 {
	BACKGROUND: #f5f5f5; HEIGHT: 20px
}
.inputselect {
	border:1px #fff solid;padding:0px 0px 0px 0px;
}
.menuBg {
	BACKGROUND-IMAGE: url(../images/bg_m.gif); BACKGROUND-REPEAT: repeat-x; HEIGHT: 20px
}
.menu_hr {
	BACKGROUND-IMAGE: url(../images/t0.gif); BACKGROUND-REPEAT: repeat-x
}
.menu_css_bar {
	Z-INDEX: 9998; BACKGROUND-REPEAT: repeat-x; HEIGHT: 20px
}
.menu_css_barItem {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 9pt; PADDING-BOTTOM: 2px; CURSOR: pointer; PADDING-TOP: 2px; HEIGHT: 12px; TEXT-DECORATION: none;text-align:center;
}
.menu_css_barItemDown {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 9pt; PADDING-BOTTOM: 2px; CURSOR: pointer; COLOR: #ffffff; PADDING-TOP: 2px; HEIGHT: 12px; BACKGROUND-COLOR: #4791c5; TEXT-DECORATION: none
}
.menu_css_barItemHover {
	BORDER-RIGHT: #4791c5 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #4791c5 1px solid; PADDING-TOP: 1px; BORDER-LEFT: #4791c5 1px solid; PADDING-LEFT: 2px; BORDER-BOTTOM: #4791c5 1px solid; PADDING-BOTTOM: 1px; FONT-SIZE: 9pt;  CURSOR: pointer;  HEIGHT: 12px; BACKGROUND-COLOR: #A9C0D3; TEXT-DECORATION: none;
}
.menu_css_pad {
	FONT-SIZE: 9pt; WIDTH: 100%; CURSOR: pointer;
}
.menu_css_padItem {
	FONT-SIZE: 9pt; WIDTH: 100%; COLOR: #000000; HEIGHT: 18px; TEXT-ALIGN: left
}
.menu_css_padItemFalse {
	FONT-SIZE: 9pt; COLOR: #808080
}
.menu_css_padItemFalseHover {
	FONT-SIZE: 9pt; COLOR: #808080; BACKGROUND-COLOR: #333366
}
.menu_css_padItemHover {
	FONT-SIZE: 9pt; WIDTH: 100%; COLOR: #ffffff; HEIGHT: 18px; BACKGROUND-COLOR: #9999cc; TEXT-ALIGN: left
}
.menu_css_padItemDown {
	BORDER-RIGHT: 1px inset; BORDER-TOP: 1px inset; FONT-SIZE: 9pt; BORDER-LEFT: 1px inset; WIDTH: 100%; COLOR: #ffffff; BORDER-BOTTOM: 1px inset; HEIGHT: 18px; BACKGROUND-COLOR: #9999cc; TEXT-ALIGN: left
}
.alert_td {
	background:url(../images/impbnt_bg.jpg);
}
.table_td_header {
	background:url(../images/impbnt_bg.jpg);height:16px;border:1px solid #ABC7F2;text-align:center;font-weight : bold;font-size : 14px;
}

/**报错页面CSS**/
.alarmtd {
	background-color:#86B0E2;
}
.erroricon {
	filter :progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src=/images/wrong.png,sizingMethod=image);margin:5px;width:32px; height:32px;float:left;
}
.alarmicon {
	filter :progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src=/images/alarm.png,sizingMethod=image);margin:5px;width:32px; height:32px;float:left;
}
.notice {
	padding:10px;
}
/*************/

.readonly {
	background-color:#F3F3F3;BORDER-RIGHT: #7F9DB9 1px solid; BORDER-TOP: #7F9DB9 1px solid; BORDER-LEFT: #7F9DB9 1px solid; CURSOR: default; LINE-HEIGHT: normal; BORDER-BOTTOM: #7F9DB9 1px solid; HEIGHT: 20px;
}

.mustfill {
	background-color:#E9EDF3;
}
/*=选择图片=*/
.imgselect {
	cursor:hand;
}
/*================================各个栏目工具条按钮==========================*/
.toolsbar div{
	float:left;padding:2px 0 0 18px;background-position:left;margin:3px 0 2px 5px;text-align:inherit;table-layout:fixed;white-space: pre;cursor:pointer;
}
.inform {
	background:url(../../images/btn/notice.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;height:16px;width:16px;
}
.revert {
	background:url(/images/mail/mail_revert.gif) no-repeat bottom center;padding:2px 0 0 27px;background-position:left;height:16px;width:25px;
}
.tra {
	background:url(/images/mail/mail_tra.gif) no-repeat bottom center;padding:2px 0 0 26px;background-position:left;height:16px;width:25px;
}
.maildel {
	background:url(/images/mail/mail_del.gif) no-repeat bottom center;padding:2px 0 0 26px;background-position:left;height:16px;width:25px;
}
.add {
	background:url(../../images/btn/add.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;height:16px;width:16px;
}
.save {
	background:url(../../images/btn/save.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.savew {
	background:url(../../images/btn/save&w.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.cancel {
	background:url(../../images/btn/cancel.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.all {
	background:url(../../images/btn/all.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.detail {
	background:url(../../images/btn/detail.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.del {
	background:url(../../images/btn/del.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;height:16px;width:16px;
}
.share {
	background:url(../../images/btn/share.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.edit {
	background:url(../../images/btn/edit.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;height:16px;width:16px;
}
.front {
	background:url(../../images/btn/front.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.nextr {
	background:url(../../images/btn/nextr.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.lock {
	background:url(../../images/btn/lock.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.unlock {
	background:url(../../images/btn/unlock.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.config {
	background:url(../../images/btn/config.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.export {
	background:url(../../images/btn/sheetexport.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.sheetcreate {
	background:url(../../images/btn/sheetcreate.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.useraction {
	background:url(../../images/btn/useraction.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.advsetup {
	background:url(../../images/btn/advsetup.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.batch {
	background:url(../../images/btn/batch.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.list {
	background:url(../../images/btn/list.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.listall {
	background:url(../../images/btn/batch.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;height:16px;width:16px;
}
.info {
	background:url(../../images/btn/info.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.borrow {
	background:url(../../images/btn/borrow.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.back {
	background:url(../../images/btn/back.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.open {
	background:url(../../images/btn/open.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;height:16px;width:16px;
}
.close {
	background:url(../../images/btn/close.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;height:16px;width:16px;
}
.order {
	background:url(../../images/btn/flowmap.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;height:16px;width:16px;
}
.import {
	background:url(../../images/btn/import.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.flowmap {
	background:url(../../images/btn/flowmap.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.flowstart {
	background:url(../../images/btn/flowstart.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.flowlist {
	background:url(../../images/btn/list.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.print {
	background:url(../../images/btn/print.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.log {
	background:url(../../images/btn/log.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.goback {
	background:url(../../images/btn/goback.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.nextstep {
	background:url(../../images/btn/nextstep.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.refresh {
	background:url(../../images/btn/refresh.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.assignuser {
	background:url(../../images/btn/user.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.tablepower {
	background:url(../../images/btn/tablepower.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.modpower {
	background:url(../../images/btn/modpower.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.search {
	background:url(../../images/btn/find.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.bymonth {
	background:url(../../images/btn/month.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.byweek {
	background:url(../../images/btn/week.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.byday {
	background:url(../../images/btn/day.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.today {
	background:url(../../images/btn/today.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.next {
	background:url(../../images/btn/next.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.pre {
	background:url(../../images/btn/pre.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.belongrole {
	background:url(../../images/btn/user.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.advancedsearch {
	background:url(../../images/btn/advanced.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.submit {
	background:url(../../images/btn/submit.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.upload {
	background:url(../../images/btn/upload.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.classlist {
	background:url(../../images/btn/classlist.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.newfolder {
	background:url(../../images/btn/newfolder.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.booking {
	background:url(../../images/btn/booking.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.sendtask {
	background:url(../../images/btn/sendtask.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.backtask {
	background:url(../../images/btn/backtask.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.ImportForm {
	background:url(../../images/btn/ImportForm.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.importkw {
	background:url(../../images/btn/importkw.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.sendmail {
	background:url(../../images/btn/sendmail.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.PrintBXFWJL{
	background:url(../../images/btn/PrintBXFWJL.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.BatchMail{
	background:url(../../images/btn/BatchMail.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.LinkQuery{
	background:url(../../images/btn/LinkQuery.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.BatchRemove{
	background:url(../../images/btn/BatchRemove.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.StartupOrdersAccount{
	background:url(../../images/btn/StartupOrdersAccount.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.StartupContractAccount{
	background:url(../../images/btn/StartupContractAccount.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.SJ_FWBBPF{
	background:url(../../images/btn/SJ_FWBBPF.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.mailalert{
	background:url(../../images/btn/mailalert.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.smsalert{
	background:url(../../images/btn/smsalert.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.recover{
	background:url(../../images/btn/recover.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.infopass{
	background:url(../../images/btn/infopass.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.infonotpass{
	background:url(../../images/btn/infonotpass.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.checked{
	background:url(../../images/btn/checked.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
.unchecked{
	background:url(../../images/btn/unchecked.gif) no-repeat bottom center;padding:2px 0 0 18px;background-position:left;
}
/*================================各个栏目工具条按钮完============================*/
.find {
	background:url(../../images/btn/find.gif) no-repeat bottom right;height:16px;
}
.advanced {
	background:url(../../images/btn/advanced.gif) no-repeat bottom right;height:16px;
}
.latest {
	background:url(../../images/btn/latest.gif) no-repeat bottom center;height:16px;
}
.latest_over {
	background:url(../../images/btn/over/latest.gif) no-repeat bottom center;color: #f60;height:16px;
}
.later {
	background:url(../../images/btn/later.gif) no-repeat bottom center;height:16px;
}
.later_over {
	background:url(../../images/btn/over/later.gif) no-repeat bottom center;color: #f60;height:16px;
}
.earlier {
	background:url(../../images/btn/earlier.gif) no-repeat bottom center;height:16px;
}
.earlier_over {
	background:url(../../images/btn/over/earlier.gif) no-repeat bottom center;color: #f60;height:16px;
}
.earliest {
	background:url(../../images/btn/earliest.gif) no-repeat bottom center;height:16px;
}
.earliest_over {
	background:url(../../images/btn/over/earliest.gif) no-repeat bottom center;color: #f60;height:16px;
}

.page div {cursor:pointer;}

/*================================提交按钮==========================*/
.topSpace {margin-top:8px;}

.btn_mouseout {
	border: #cbcbcb 1px solid;padding:1px;font-size: 12px;	cursor: pointer;color: #666;filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#BECCDA);height:20px;
}
.btn_mouseover {
	border: #cbcbcb 1px solid;padding: 1px;font-size: 12px;cursor: pointer;color: #f60;filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#D7E7FA);height:20px;
}
.btn_mousedown {
	border: #dfe6ef 1px solid;padding: 1px;font-size: 12px;cursor: pointer;color: #f60;filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#C3DAF5);height:20px;
}
.btn_mouseup {
	border: #cbcbcb 1px solid;padding: 1px;font-size: 12px;cursor: pointer;color: #f60;filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#C3DAF5);height:20px;
}
.btn {
	border: #cbcbcb 1px solid;padding:1px;font-size: 12px;	cursor: pointer;color: #666;filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#BECCDA);
}
.btnover {
	border: #cbcbcb 1px solid;padding: 1px;font-size: 12px;cursor: pointer;color: #f60;filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#D7E7FA);
}
/****提交按钮完******/
/****操作按钮****/
.textlink{
	font-family:Arial;cursor:hand;text-decoration:underline;
}
.operate {
	text-align:center;
}
.operate span {
	width:16px; height:16px; display:block; float:left; margin:0 2px 0 2px; cursor:pointer;
}
.actioncss { 
	position:absolute; visibility: hidden; border:1px solid black; border-bottom-width: 0; font:normal 12px Verdana; line-height: 18px; z-index: 100; background-color: #E9FECB; width: 205px; 
}
.actioncss a{ 
	width: 100%; display: block; text-indent: 5px; border-bottom: 1px solid black; padding: 1px 0; text-decoration: none; font-weight: bold; 
} 
.actioncss a:hover{ /*hover background color*/ 
	background-color: black; color: white; 
} 
/*=======================操作按钮完===============================*/
.bright div { 
	padding:3px; border-bottom:#999 dotted 1px;word-wrap: break-word;word-break:break-all;
}

.tab_bright{ 
	padding:3px; border-bottom:#999 dotted 1px;word-wrap: break-word;word-break:break-all;
}

.datatable textarea{
	border:1px #CCCCCC solid;
}
.datatable{
	border-collapse:collapse; border:1px solid #86B0E2;border-top:2px solid #86B0E2;background:#EFF6FE;
} 
.datatable td{
	border:1px #fff solid;
}

/******表单列表标题样式*****/
.tableTitleDiv{
	width:100%;margin-left:2px;margin-right:5px;background:url(../images/left_1.gif) no-repeat left;height:20px;
}
.tableTitleDiv .div{
	width: auto; padding:3px 22px 0 10px;background:#86B0E2 url(../images/right_1.gif) no-repeat right;margin:1px 10px 0 2px;font-weight: bold;color:#FFFFFF;height:20px;float:left;
}
.tableTitleDiv span{
	float:right;height:20px;margin:0 5px 0 0;color:#86B0E2;
}

.tableTitleDivBar{
	background:url(../images/left_1.gif) no-repeat left 7px;height:20px;
}
.tableTitleDivBar .div{
	width: auto; padding:2px 22px 0px 5px;background:#86B0E2 url(../images/right_1.gif) no-repeat right ;margin:7px 10px 0 2px;font-weight: bold;color:#FFFFFF;height:20px;float:left;
}
.tableTitleDivBar span{
	float:right;color:#86B0E2;
}
/******表单列表标题样式 完******/


.closebar {
	background-color:#EAEEF2;width:10px;cursor:hand;
}

.toptable {
	padding:0 8px 0 8px;background-color:#EAEEF2;display: block;
}
.linetable {
	padding:0 8px 0 8px;background-color: #c0c0c0;cursor:default;
}

.topbody {
	margin: 8px 0px 0px; scrollbar-HIGHLIGHT-color: #fff; scrollbar-SHADOW-color: #828282; color: #000;scrollbar-3DLIGHT-color: #828282; scrollbar-ARROW-color: #797979; scrollbar-TRACK-color: #ececec;scrollbar-DARKSHADOW-color: #fff; background-color: #5a92c6;
}
.popbody {
	margin: 8px 0px 0px;scrollbar-HIGHLIGHT-color: #fff;scrollbar-SHADOW-color: #828282;color: #000;scrollbar-3DLIGHT-color: #828282;scrollbar-ARROW-color: #797979;scrollbar-TRACK-color: #ececec;scrollbar-DARKSHADOW-color: #fff;background-color: #f0ece8;
}
.footertable{
	position:absolute;left:0;bottom:0;
}
.homediv {
	margin-top:0px;overflow-y: scroll;width: 100%;padding:0 2px 0 2px;height:'100%';display: block;cursor:default;
}
.homeleftdiv {
	position: relative;margin-top:0px;overflow-y: auto;width: 100%;padding:0 2px 0 2px;height:'100%';display: block;cursor:default;
}
/*控制关联表的高度*/
.relateDiv {
	OVERFLOW: auto; width: 100%; height:140px;cursor:default;
}

.subDivDetail {
	margin-top: 1px; font: 9pt; overflow: auto; width: 100%; height: 100%;cursor:default;
}

.divTableSetup {
	margin-top:0px; overflow: auto; width: 100%; padding:0 2px 0 2px; height:95%; display: block;cursor:default;
}

.divFlow {
	margin-top:0px; overflow: auto; width: 100%; padding:0 2px 0 2px; height:70%; display: block;cursor:default;
}
/* 1024*768->84%  800*600->78%*/
.subDiv {
	position: absolute;margin-top:0px; overflow: auto; width: 100%; height:82%; display: block; cursor:default;
}

.scrollYes
{
	overflow: auto;visibility: visible;height: 100%;width: 100%;	
}

.panel {
	margin:0; background-color: #fff;
}

.report {
	overflow: auto; width: 100%; padding:0 2px 0 2px; height: 85%; display: block;	
}

.report_up {
	overflow: auto; width: 100%; padding:0 2px 0 2px; display: block;	
}
.report_down {
	overflow: auto; width: 100%; padding:0 2px 0 2px; display: block;	
}
.dataExport {
	overflow: auto; width: 100%; padding:0 2px 0 2px; height: 90%; display: block;	
}

.datalist tr { 
	cursor : default; height:22px;
}
TABLE.datalist {
	BEHAVIOR: url(/skin/blue/css/DataList.htc);
	border-collapse:collapse; border:1px solid #86B0E2;border-top:2px solid #86B0E2;background:#EFF6FE;
}
TABLE.datalist td {
	border:1px #fff solid;
}
.qInput {
	HEIGHT: 20px;float:left;FONT-SIZE: 9pt;
}
.stInput {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BORDER-LEFT: #7f9db9 1px solid; CURSOR: text; COLOR: #000000; LINE-HEIGHT: normal; BORDER-BOTTOM: #7f9db9 1px solid; FONT-STYLE: normal; HEIGHT: 20px; BACKGROUND-COLOR: white; FONT-VARIANT: normal
}
.stSelectImg {
	LEFT: 0px; CURSOR: hand; POSITION: relative; TOP: 4px;
}
.item a {
	color:#FFF; font-weight:bold;
}
.item td {
	color:#fff; font-weight:bold;
}
.item { 
	background-color:#A6C4EA;text-align:center;font-weight:bold;height:25px;
}
.item a:hover {
	font-weight:bold; color:#f60; text-decoration:underline;
}

hr { 
	border: 1px #666;height: 1px; width:50%;
}


/**表单设计器专用**/
.thetable {
	border: 1px solid #000000;
}
.thetable fieldset{ margin:5px}
.thetable fieldset legend{ 
	margin:5px;
	font-weight:bold;
	color:#06C
}
.edit1 {
	width:100%;
	color: #333;
	margin:0 10px 5px 10px;
}
.edit1 span{ width:90%;}
.edit1 table{ margin:0}
.edit1 td {
	padding:1px;
	list-style:none;
	border-bottom:1px solid dotted #999
}
.linetable1 {
    border-collapse: collapse;
    border: 1px solid #000000;
	margin:5px;
}
.linetable1 td {
    border: 1px solid #000000;
}
.itemLR {
	font:12px/20px "宋体";
	background: url(../images/itemR.png) repeat-x;
	height:20px;
	width:100%;
	position: relative;
	top:0px;
	z-index:10;
}
.pagecontrol {
	background-color:#CCE4FC
}
.uploadfile td {
	padding:1px;
	list-style:none;
	border-bottom:0px
}
.indexLeft {
	background-color:#cce4fc;
}
/**自定义流程专用**/
.associationBg{
	background:#EFF6FE;
} 
/******************/