<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Demo</title>
    <script type="text/javascript">
        var ocxObject;
        function pageLoad() {
            ocxObject = document.getElementById("OcxObject");
            //ocxObject.SetOcxMode(0);
            ocxObject.SetPlayWndOne();

            var config = "<?xml version='1.0' encoding='UTF-8'?><Message>  <Window index='0' />  <Camera>    <Id>422</Id>    <IndexCode>33021203001310016724</IndexCode>    <Name>钟公庙文化公园门口</Name>    <DevType>0</DevType>    <DetailDevType>10016</DetailDevType>    <RecLocation>2</RecLocation>  </Camera>  <Query>    <ZoneId>100001</ZoneId>    <Vrm ip='10.80.2.124' port='6300' />  </Query>  <Intelligence> </Intelligence>  <DSNVR_Info>    <Addr />    <Port />    <UserName />    <PassWord />    <indexcode />  </DSNVR_Info>  <VAG_Info>    <Addr />    <Port />    <UserName />    <PassWord />  </VAG_Info>  <Privilege>5</Privilege>  <StorageLocation>1</StorageLocation></Message>";
            ocxObject.SetPlayBackParam(config);

            StartTime = "2016-07-15 12:00:00";
            EndTime = "2016-07-15 13:00:00";
            RecType = "23";
            strXML = "<?xml version='1.0'?><Message><Time><!--录像开始时间--><Begin>" + StartTime + "</Begin><!--录像结束时间--><End>" + EndTime + "</End></Time><!--录像类型1-计划录像2-移动录像4-报警录像16-手动录像23-全部录像--><RecType>" + RecType + "</RecType></Message>";

            ocxObject.StartQueryRecord(strXML);
        }


        function setConfig() {
            var configN = document.getElementById("config").value;
            ocxObject.SetPlayBackParam(configN);
        }

        /*****搜索录像******/
        function StartQueryRecord() {
            StartTime = document.getElementById("TextStartTime").value;
            EndTime = document.getElementById("TextEndTime").value;
            RecType = document.getElementById("TextRecType").value;;
            strXML = "<?xml version='1.0'?><Message><Time><!--录像开始时间--><Begin>" + StartTime + "</Begin><!--录像结束时间--><End>" + EndTime + "</End></Time><!--录像类型1-计划录像2-移动录像4-报警录像16-手动录像23-全部录像--><RecType>" + RecType + "</RecType></Message>";

            ocxObject.StartQueryRecord(strXML);
        }

    </script>

</head>
<body onload="pageLoad();">
    <div>
        <object classid="clsid:5DEF5889-AD46-4fc0-AEBE-B54E6CD71C96" id="OcxObject" width="800" height="500" name="OcxObject"></object>
    </div>
    <div>1.请调用webservice接口CuService中的getVrmServiceByCameraIndexCodes方法来获得参数报文，把获得的XML按文档说明额外设置后填入下方的文本域</div>
    <div id="preview">
        <tr>
            <td>
                <label for="config"></label>
                <textarea name="config" id="config" cols="45" rows="5" value=""></textarea>
                <input type="button" name="设置监控点参数" value="设置监控点参数" onclick="setConfig();">
            </td>
        </tr>
    </div>
    <div>2.设置搜索时间</div>
    <div>
        <table width="50%" style="border: thin solid #C0C0C0">
            <tr>
                <td width="25%" align="center">开始时间</td>
                <td width="75%">
                    <input id="TextStartTime" style="width: 130px" type="text" value="2014-08-26 00:00:00" /></td>
            </tr>
            <tr>
                <td align="center">结束时间</td>
                <td>
                    <input id="TextEndTime" style="width: 130px" type="text" value="2014-08-26 23:59:59" /></td>
            </tr>
            <tr>
                <td align="center">录像类型</td>
                <td>
                    <input id="TextRecType" style="width: 130px" type="text" value="23" /></td>
            </tr>
            <tr>
                <td align="center">&nbsp;</td>
                <td>
                    <input type="button" value="开始搜索" onclick="StartQueryRecord()" /></td>
            </tr>
        </table>
    </div>
</body>
</html>
