@using NBZGM.XTBG.CustomModels;
@{
    ViewBag.Title = "邮件管理";
    UserInfo UserEntity = ViewBag.UserEntity;
}
<!-- Nav tabs -->
<ul class="nav nav-tabs navigation" role="tablist">
    <li role="presentation" class="active"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">我的邮件</a></li>
    <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">写邮件</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">已发邮件</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    @*我的邮件*@
    <div role="tabpanel" class="tab-pane active" id="settings">
        <div class="row">
            <div class="col-md-12">
                <label for="EmailStatusID">阅读状态：</label>
                <div class="btn-group">
                    <select class="form-control" name="EmailStatusID" id="MyMailStatus">
                        <option value="">全部</option>
                        <option value="0">未读</option>
                        <option value="1">已读</option>
                    </select>
                </div>
            </div>
        </div>
        <table class="table table-hover table-bordered" id="MyEmail_Table">
            <thead>
                <tr>
                    @*<th>序列</th>*@
                    <th>状态</th>
                    <th>发件人</th>
                    <th>收件人</th>
                    <th>主题</th>
                    <th>接收时间</th>
                    <th>操作</th>
                </tr>
            </thead>
        </table>
    </div>
    @* 写邮箱*@
    <div role="tabpanel" class="tab-pane" id="home">
        <div class="well-lg">
            <form class="form-inline" id="WriteMail_Form" action="/MailManagement/Commit">
                <table class="table table-hover table-bordered">
                    <colgroup>
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>发件人</td>
                            <td colspan="11">
                                @UserEntity.UserName
                            </td>
                        </tr>
                        <tr>
                            <td>收件人<span class="required">*</span></td>
                            <td colspan="11">
                                <input type="text" id="RecipientUserNames" name="RecipientUserNames" placeholder="" required="required" />
                                <input type="hidden" id="RecipientUserIDs" name="RecipientUserIDs" />
                                <input type="hidden" id="RecipientUserPhones" name="RecipientUserPhones" />
                            </td>
                        </tr>
                        <tr>
                            <td>是否短信提醒<span class="required">*</span></td>
                            <td>
                                <input type="radio" name="SMSRemind" value="1" />
                                是
                                <input type="radio" name="SMSRemind" value="0" checked="checked" />
                                否
                            </td>
                            <td>提醒模版</td>
                            <td colspan="9">
                                <input type="text" name="RemindContent" placeholder="您有一个文件【XXXX】【XXXX】已发送至您的OA系统，请注意查收  【发送人：XXX】" />
                            </td>
                        </tr>
                        <tr>
                            <td>外部号码</td>
                            <td colspan="11">
                                <input type="text" name="ExternalNumbers" placeholder="如果存在多个，请用 “，” 隔开" />
                            </td>
                        </tr>
                        <tr>
                            <td>主题<span class="required">*</span></td>
                            <td colspan="11">
                                <input type="text" name="EmailTitle" required="required" />
                            </td>
                        </tr>
                        <tr>
                            <td>添加附件</td>
                            <td colspan="10">
                                <table class="table table-hover table-bordered" id="EmailName_Table">
                                    <thead>
                                        <tr>
                                            <th>文件名</th>
                                            <th>大小</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <input type="hidden" id="MailAttachmentIDs" name="MailAttachmentIDs" />
                                <input id="fileupload" class="hidden" type="file" name="files[]" data-url="/Common/UploadFile" multiple>
                                <i class="icon-plus text-primary" id="MailSend_MailName_Add">添加</i>
                                <i class="icon-trash text-muted" id="MailSend_MailName_Emptied">清空</i>
                            </td>
                        </tr>
                        <tr>
                            <td>邮件内容<span class="required">*</span></td>
                            <td colspan="11">
                                <input type="hidden" name="EmailContent" id="EmailContent" />
                                <textarea id="TextArea1" cols="20" rows="2" class="ckeditor"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="12" class="text-center">
                                <input type="submit" class="btn btn-primary" value="发送" />
                                <input type="reset" class="btn btn-default" value="重置" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    @* 邮件查询*@
    <div role="tabpanel" class="tab-pane" id="profile">
        <form class="form-inline" id="MyEmailQuery_Form">
            <div class="row">
                <div class="col-md-6">
                    <label for=" EmailTitle">邮件主题：</label>
                    <input type="text" class="form-control calc100-6" name="EmailTitle" placeholder="" />
                </div>
                <div class="col-md-6">
                    <label for="EmailContent">邮件内容：</label>
                    <input type="text" class="form-control calc100-6" name="EmailContent" placeholder="" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="CreateTime">发件日期：</label>
                    <input type="text" class="form-control datetimepicker calc50-4" name="CreateTimeStart" placeholder="开始日期" />
                    至
                    <input type="text" class="form-control datetimepicker calc50-4" name="CreateTimeEmd" placeholder="结束日期" />
                </div>
                <div class="col-md-3">
                    <label for="RecipientUserNames">收件人：　</label>
                    <input type="text" class="form-control calc100-6" name="RecipientUserNames" placeholder="" />
                </div>
                <div class="col-md-3 text-right">
                    <input type="button" class="btn btn-default" value="检索" id="MyMail_btnQuery" />
                    <input type="reset" class="btn btn-default" value="重置" />
                </div>
            </div>
        </form>
        <table class="table table-hover table-bordered" id="MyEmailQuery_Table">
            <thead>
                <tr>
                    @*<td>序列</td>*@
                    <th>状态</th>
                    <th>收件人</th>
                    <th>主题</th>
                    <th>接收时间</th>
                    <th>操作</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section css{
    <style type="text/css">
        textarea, input[type=text] {
            width: 100%;
        }
    </style>
}

@section scripts{
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/ckeditor/config.js"></script>
    <script type="text/javascript">
        function ReMail(MailID) {
            $.post('/MailManagement/GetMyMail', { EMAILID: MailID })
            .success(function (data) {
                if (data.MailEntity != null) {
                    $('#RecipientUserNames').val(data.MailEntity.CREATEUSERNAME);
                    $('#RecipientUserIDs').val(',' + data.MailEntity.CREATEUSERID + ',');
                    //$('#RecipientUserPhones').val(data.MailEntity.CREATEUSERNAME);
                    $('#WriteMail_Form input[name="EmailTitle"]').val(data.MailEntity.EMAILTITLE);
                    CKEDITOR.instances.TextArea1.setData('Re:' + data.MailEntity.EMAILCONTENT);
                }
                if (data.AttachmentEntities.length != 0) {

                }
            })
        }
        $(document).ready(function () {
            CKEDITOR.replace('TextArea1');
            $('#WriteMail_Form input[type=submit]').on('click', function () {
                $('#EmailContent').val(encodeURI(CKEDITOR.instances.TextArea1.getData()));
            });
            InitUserTreeModal({
                UserIDs: "#RecipientUserIDs",
                UserNames: "#RecipientUserNames",
                UserPhones: "#RecipientUserPhones",
            });
            $(".datetimepicker").datetimepicker({
                minView: "month",//设置只显示到月份
                format: "yyyy-mm-dd",//日期格式
                autoclose: true,//选中关闭
                language: 'zh-CN',
            });
            //附件添加按钮
            $('#MailSend_MailName_Add').on('click', function () {
                $('#fileupload').trigger('click');
            });
            //附件清空按钮
            $('#MailSend_MailName_Emptied').on('click', function () {
                $('#EmailName_Table tbody tr').remove();
                $('#MailAttachmentIDs').val('');
            });
            //附件删除按钮
            $('#EmailName_Table').on('click', '.btnDelete', function () {
                var MailAttachmentIDs = $('#MailAttachmentIDs').val();
                MailAttachmentIDs = MailAttachmentIDs.replace(',' + $(this).attr('fileid') + ',', ',');
                $('#MailAttachmentIDs').val(MailAttachmentIDs);
                $(this).parent().parent().remove();
            });
            //初始化文件上传按钮
            $('#fileupload').fileupload({
                dataType: 'json',
                //上传成功回调函数
                done: function (e, data) {
                    var MailAttachmentIDs = $('#MailAttachmentIDs').val();
                    if (MailAttachmentIDs == '') {
                        MailAttachmentIDs += ',';
                    }
                    $.each(data.result.files, function (index, file) {
                        MailAttachmentIDs = MailAttachmentIDs + file.fileid + ',';
                        $('#EmailName_Table tbody').append(
                            '<tr>\
                                <td>'+ file.name + '</td>\
                                <td class="text-center nowrap">' + file.size + '</td>\
                                <td class="text-center ">\
                                <i class="icon-trash text-muted btnDelete" fileid="'+ file.fileid + '">删除</i>\
                                </td>\
                            </tr>'

                        )
                    });
                    $('#MailAttachmentIDs').val(MailAttachmentIDs);
                }
            });
            //无刷新提交表单   ////1.写邮件
            $('#WriteMail_Form').on('submit', submitForm);
            $('#WriteMail_Form').on('submit', function () {
                MyEmail_Table.ajax.reload(null, true);
                MyEmailQuery_Table.ajax.reload(null, true);
            });
            //2.初始化表格（邮箱查询）
            var MyEmailQuery_Table = $('#MyEmailQuery_Table').DataTable({
                bAutoWidth: false, bDeferRender: true, responsive: true, bServerSide: true, sServerMethod: 'post', bServerSide: true, bSort: false,
                //表格数据源
                ajax: {
                    //服务器方法地址
                    url: '/MailManagement/GetMailList',
                    //参数
                    data: function (d) {
                        var array = $("#MyEmailQuery_Form").serializeArray();
                        $(array).each(function () {
                            d[this.name] = this.value;
                        });
                    },
                    error: errorMsg
                },
                aoColumns: [
                    //{ mData: null, sClass: 'text-center nowrap' },
                    {
                        mData: 'USERIDS2', sClass: 'text-center nowrap', mRender: function (innerData, type, rowData, meta) {
                            if (innerData == null) { return '未读'; }
                            return innerData.indexOf('@ViewBag.UserID') == -1 ? '未读' : '已读';
                        }
                    },
                    //收件人
                    { 'mData': 'USERNAMES', sClass: 'nowrap', mRender: getDtContent },
                    //主题
                    { 'mData': 'EMAILTITLE' },
                    //接收时间
                    { 'mData': 'CREATETIME', sClass: 'text-center nowrap' },
                    // 操作
                    {
                        'mData': null, 'sClass': 'text-center nowrap', mRender: function (innerData, type, rowData, meta) {
                            return '<a class="btnSeeing">查看</a>|<a class="Withdraw">撤回</a>';
                        }
                    }
                ],
                //fnDrawCallback: GenerateSerialNumber,
            });
            //我的邮件 （模态框）详情
            $('#MyEmailQuery_Table').on('click', '.btnSeeing', function () {
                var nRow = $(this).parents('tr')[0];
                var aData = MyEmailQuery_Table.row(nRow).data();
                window.parent.showLgModel('/MailManagement/MaiDetails?EMAILID=' + aData.EMAILID + '&typeID=1');
                MyEmailQuery_Table.ajax.reload(null, true);
                return false;
            });
            //筛选按钮（查询）  查询  MyMail
            $("#MyMail_btnQuery").on("click", function () {
                //重新加载表格数据，并且重新绘制界面
                MyEmailQuery_Table.ajax.reload(null, true);
            })
            $("#MyMailStatus").on("change", function () {
                MyEmail_Table.ajax.reload(null, true);
            })
            //3.初始化表格（我的邮件）
            var MyEmail_Table = $('#MyEmail_Table').DataTable({
                bAutoWidth: false, bDeferRender: true, responsive: true, bServerSide: true, sServerMethod: 'post', bServerSide: true, bSort: false,
                //表格数据源
                ajax: {
                    //服务器方法地址
                    url: '/MailManagement/GetMyMailList',
                    //参数
                    data: function (d) {
                        d.EmailStatusID = $('#MyMailStatus').val();
                    },
                    error: errorMsg
                },
                aoColumns: [
                    //{ mData: null, sClass: 'text-center nowrap' },
                    {
                        mData: 'USERIDS2', sClass: 'text-center nowrap', mRender: function (innerData, type, rowData, meta) {
                            if (innerData == null) { return '未读'; }
                            return innerData.indexOf('@ViewBag.UserID') == -1 ? '未读' : '已读';
                        }
                    },
                    //收件人
                    { 'mData': 'CREATEUSERNAME', sClass: ' nowrap', mRender: getDtContent },
                    //收件人
                    { 'mData': 'USERNAMES', sClass: 'nowrap', mRender: getDtContent },
                    //主题
                    { 'mData': 'EMAILTITLE' },
                    //接收时间
                    { 'mData': 'CREATETIME', sClass: 'text-center nowrap' },
                    // 操作
                    {
                        'mData': null, 'sClass': 'text-center nowrap', mRender: function (innerData, type, rowData, meta) {
                            //return '<a class="btnSeeing">查看</a>|<a class="MyMailDel">撤回</a>';
                            return '<a class="btnSeeing">查看</a>';
                        }
                    }
                ],
                //fnDrawCallback: GenerateSerialNumber,
            });
            $('#MyEmailQuery_Table').on("click", "a.Withdraw", function () {
                var nRow = $(this).parents('tr')[0];
                var aData = MyEmailQuery_Table.row(nRow).data();
                $.post('/MailManagement/Delete', { 'EMAILID': aData.EMAILID })
                    .success(function (data) {
                        if (data.StatusID == 1) {
                            MyEmailQuery_Table.draw(true);
                            successMsg();
                        }
                    })
                    .error(errorMsg);
            });
            //我的邮件 （模态框）详情  //状态绑定有误
            $('#MyEmail_Table').on('click', '.btnSeeing', function () {
                var nRow = $(this).parents('tr')[0];
                var aData = MyEmail_Table.row(nRow).data();
                window.parent.showLgModel('/MailManagement/MaiDetails?EMAILID=' + aData.EMAILID + '&typeID=1');
                MyEmail_Table.ajax.reload(null, true);
                return false;
            });
        });
    </script>
}