@{
    ViewBag.Title = "行政审批";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadStyles{
    <link href="~/Scripts/assets/data-tables/demo_table.css" rel="stylesheet" />
    <link href="~/Scripts/assets/data-tables/DT_bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/assets/zTree/zTreeStyle.css" rel="stylesheet" />
    @RenderSection("HeadStyles_ApprovalManage", required: false)
}

@section FootScripts{
    <script src="~/Scripts/assets/data-tables/jquery.datatables.min.js"></script>
    <script src="~/Scripts/assets/data-tables/DT_bootstrap.js"></script>
    <script src="~/Scripts/assets/data-tables/PLE_DT_bootstrap.js"></script>
    <script src="~/Scripts/assets/zTree/jquery.ztree.core-3.5.js"></script>

    @RenderSection("FootScripts_ApprovalManage", required: false)

    <script type="text/javascript">
        function load(scrollHeight) {
            var sidebarHeight = scrollHeight - 112;
            $("#sidebar").css("height", sidebarHeight);
        }
    </script>
}

<div id="sidebar" style="height: 100%" class="nav-collapse">
    <ul class="nav nav-list">
        @*<li>
            <a href="/Approval/Registration">
                <i class="icon-plus-sign"></i>
                <span>提交申请</span>
            </a>
        </li>*@
        <li>
            <a href="/NewApproval/NewApproval">
                <i class="icon-edit"></i>
                <span>待办审批</span>
            </a>
        </li>
        <li>
            <a href="/Approval/Archived">
                <i class="icon-search"></i>
                <span>已结审批</span>
            </a>
        </li>
        <li>
            <a href="/Approval/WorkflowStatus">
                <i class="icon-search"></i>
                <span>流程追踪</span>
            </a>
        </li>
    </ul>
    <div id="sidebar-collapse" class="visible-desktop">
        <i class="icon-double-angle-left"></i>
    </div>
</div>

<div id="main-content">
    @RenderSection("BreadcrumbSection", false)

    <div id="content">
        @RenderBody()
    </div>
    <footer>
        <p>2013-2014 © 钟公庙行政执法局.</p>
    </footer>
    <a id="btn-scrollup" class="btn btn-circle btn-large" href="#"><i class="icon-chevron-up"></i></a>
</div>
