<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/NBZGM.csdl|res://*/NBZGM.ssdl|res://*/NBZGM.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=172.172.100.24:1521/orcl;password=NBZGM;persist security info=True;user id=NBZGM&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="Entities" connectionString="metadata=res://*/NBZGM.csdl|res://*/NBZGM.ssdl|res://*/NBZGM.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=218.108.93.246:15210/orcl;password=NBZGM;persist security info=True;user id=NBZGM&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/NBZGM.csdl|res://*/NBZGM.ssdl|res://*/NBZGM.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=10.80.2.124:1521/orcl;password=NBZGM;persist security info=True;user id=NBZGM&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="ZHCGFilePath" value="E:\ZGMImage\ZHCGFilePath\sourse\"/>
  </appSettings>
</configuration>