@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>车辆管理</title>
    <link href="/Scripts/assets/data-tables/demo_table.css" rel="stylesheet" />
    <link href="~/Scripts/assets/data-tables/DT_bootstrap.css" rel="stylesheet" />

    <link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.js"></script>

    <script type="text/javascript" src="~/Scripts/js/jquery.idTabs.min.js"></script>
    <script src="~/Scripts/assets/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/data-tables/jquery.datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/data-tables/DT_bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/data-tables/PLE_DT_bootstrap.js"></script>

    <script type="text/javascript" src="~/Scripts/js/select-ui.min.js"></script>
    <link href="~/Content/css/OA.css" rel="stylesheet" />

    <script src="~/Scripts/js/PageNotBack.js"></script>
    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/seaning/style.css" rel="stylesheet" />
    <script src="~/Scripts/layer/layer.js"></script>

    <script type="text/javascript">
        layer.config({
            skin: 'layer-ext-seaning',
            offset: ['100px', '33%'],
            title: '提示',
            moveOut: true,
            closeBtn: false,
            extend: 'skin/seaning/style.css'
        });

    </script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            $(".select1").uedSelect({
                width: 345
            });
            $(".select2").uedSelect({
                width: 167
            });
            $(".select3").uedSelect({
                width: 100
            });

            $("#selectUser").click(function () {
                $("#tip1").fadeIn(200);
            });
            $(".sure").click(function () {
                $(".tip").fadeOut(100);
            });

            $("#SetUser").click(function () {
                $("#tip2").fadeIn(200);
            });
            $(".tiptop a").click(function () {
                $(".tip").fadeOut(200);
            });
            $("#pageback").click(function () {
                location.href = "/CarManagement/Index";
            })
            $("#usual1 ul").idTabs();
            $('.tablelist tbody tr:odd').addClass('odd');
            GetDataTable();
        });

        var oTable;
        //填充区域列表
        function GetDataTable() {
            oTable = $('#CarManageTableContent').dataTable({
                sServerMethod: "POST",
                sAjaxSource: "/CarManagement/CarManagement_Grid",
                fnServerParams: function (aoData) {
                    aoData.push(
                        { "name": "CarType", "value": $("#CarType option:checked").val() },
                        { "name": "CarNumber", "value": $("#CarNumber").val() }
                        );
                },
                aoColumns: [
                    { mDataProp: "CARNUMBER" },
                    { mDataProp: "CARTYPENAME" },
                    { mDataProp: "CARTEL" },
                    { mDataProp: "REMARK" },
                    {
                        mDataProp: function (data) {
                            var edit = "<a class='btn_ico_a_edit'  href='#' onclick=\"EditCarShow(" + data.CARID + ")\"><img src='/Images/btnimage/edit.png' class='btn_ico_image' />编辑</a>";
                            var del = "<a class='btn_ico_a_delete' href='#' onclick=\"Delete(" + data.CARID + ")\"><img src='/Images/btnimage/delete.png' class='btn_ico_image' />删除</a>";
                            return edit + "  " + del;
                        }, "sClass": "center"
                    }
                ],
                aoColumnDefs: [{ sDefaultContent: '', aTargets: ['_all'] }],
                fnDrawCallback: function (oSettings) {
                    var pagerIndex = oSettings._iDisplayStart / oSettings._iDisplayLength + 1;
                    var $currentPager = $(".dataTables_paginate span a:contains('" + pagerIndex + "')");
                    $currentPager.attr("style", "font-weight :bold;!important");
                }
            });
        }

        //查询
        function Search() {
            oTable.fnPageChange('first', true);            
            oTable.fnClearTable(false);
        }

        //提交保存
        function Submit() {
            $("#ShowOrHide").hide();
            var re = /^[\u4e00-\u9fa5]{1}[A-Z]{1}[A-Z_0-9]{5}$/;
            if ($("#AddCarType option:checked").val() == "") {
                layer.alert('请选择车辆类型!', {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                }, function (index) { $("#ShowOrHide").show(); layer.close(index); });

                return false;
            }
            if (window.document.getElementById("AddCarNumber").value.search(re) == -1) {
                layer.alert('输入的车牌号格式不正确!', {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                }, function (index) { $("#ShowOrHide").show(); layer.close(index); });
                return false;
            }

            var ispass = true;
            $.ajax({
                type: "POST",
                url: "/CarManagement/CheckCarNumber",
                data: {
                    CarNumber: $("#AddCarNumber").val()
                },
                async: false,
                success: function (data) {
                    if (data == "1") {
                        ispass = false;
                        layer.alert('车牌号已存在!', {
                            icon: 0,
                            skin: 'layer-ext-seaning'
                        }, function (index) {
                            $("#ShowOrHide").show();
                            layer.close(index);
                        });
                    }
                }
            })
            if (!ispass) {
                return false;
            }

            if ($("#AddCarTel").val() == "") {
                layer.alert('请填写终端号码!', {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                }, function (index) { $("#ShowOrHide").show(); layer.close(index); });
                return false;
            }
            
            ispass = true;
            $.ajax({
                type: "POST",
                url: "/CarManagement/CheckCarTel",
                data: {
                    CarTel: $("#AddCarTel").val()
                },
                async: false,
                success: function (data) {
                    if (data == "1") {
                        ispass = false;
                        layer.alert('终端号码已存在!', {
                            icon: 0,
                            skin: 'layer-ext-seaning'
                        }, function (index) {
                            $("#ShowOrHide").show();
                            layer.close(index);
                        });
                    }
                }
            })
            if (!ispass) {
                return false;
            }

            $.ajax({
                type: "POST",
                url: "/CarManagement/SubmitAddCar",
                data: {
                    CarType: $("#AddCarType option:checked").val(),
                    CarNumber: $("#AddCarNumber").val(),
                    CarTel: $("#AddCarTel").val(),
                    Remark: $("#AddRemark").val(),
                    UnitID: $("#UNITID option:checked").val()
                },
                success: function (date) {
                    layer.alert(date, { icon: 1, skin: 'layer-ext-seaning' }, function (index) {
                        layer.close(index);
                        location.href = "/CarManagement/Index";
                    });
                }
            })
        }

        //提交修改
        function Edit() {
            $("#ShowOrHide").hide();
            var re = /^[\u4e00-\u9fa5]{1}[A-Z]{1}[A-Z_0-9]{5}$/;
            if ($("#AddCarType option:checked").val() == "") {
                layer.alert('请选择车辆类型!', {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                }, function (index) { $("#ShowOrHide").show(); layer.close(index); });
                return false;
            }
            if (window.document.getElementById("AddCarNumber").value.search(re) == -1) {
                layer.alert('输入的车牌号格式不正确!', {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                }, function (index) { $("#ShowOrHide").show(); layer.close(index); });
                return false;
            }

            if ($("#HidCarNumber").val() != $("#AddCarNumber").val()) {
                var ispass = true;
                $.ajax({
                    type: "POST",
                    url: "/CarManagement/CheckCarNumber",
                    data: {
                        CarNumber: $("#AddCarNumber").val()
                    },
                    async: false,
                    success: function (data) {
                        if (data == "1") {
                            ispass = false;
                            layer.alert('车牌号已存在!', {
                                icon: 0,
                                skin: 'layer-ext-seaning'
                            }, function (index) {
                                $("#ShowOrHide").show();
                                layer.close(index);
                            });
                        }
                    }
                })
                if (!ispass) {
                    return false;
                }
            }

            if ($("#AddCarTel").val() == "") {
                layer.alert('请填写终端号码!', {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                }, function (index) { $("#ShowOrHide").show(); layer.close(index); });
                return false;
            }            

            if ($("#HidCarTel").val() != $("#AddCarTel").val())
            {
                var ispass = true;
                $.ajax({
                    type: "POST",
                    url: "/CarManagement/CheckCarTel",
                    data: {
                        CarTel: $("#AddCarTel").val()
                    },
                    async: false,
                    success: function (data) {
                        if (data == "1") {
                            ispass = false;
                            layer.alert('终端号码已存在!', {
                                icon: 0,
                                skin: 'layer-ext-seaning'
                            }, function (index) {
                                $("#ShowOrHide").show();
                                layer.close(index);
                            });
                        }
                    }
                })
                if (!ispass) {
                    return false;
                }
            }

            $.ajax({
                type: "POST",
                url: "/CarManagement/SubmitEditCar",
                data: {
                    CarId: $("#editbtn").text(),
                    CarType: $("#AddCarType option:checked").val(),
                    CarNumber: $("#AddCarNumber").val(),
                    CarTel: $("#AddCarTel").val(),
                    Remark: $("#AddRemark").val(),
                    UnitID: $("#UNITID option:checked").val()
                },
                success: function (date) {
                    layer.alert(date, { icon: 1, skin: 'layer-ext-seaning' }, function (index) {
                        layer.close(index);
                        location.href = "/CarManagement/Index";
                    });
                }
            })
        }

        //删除车辆
        function Delete(carid) {

            layer.confirm('是否确认删除?', {
                btn: ['是', '否'],
                icon: 4,
                //按钮
            }, function () {
                $.ajax({
                    type: "GET",
                    url: "/CarManagement/DeleteCar?CarId=" + carid,
                    success: function (data) {
                        if (data == "1") {
                            layer.alert("删除成功", { icon: 1, skin: 'layer-ext-seaning' }, function (index) {
                                layer.close(index);
                                location.href = "/CarManagement/Index";
                            });
                        } else{
                            layer.alert("删除失败", { icon: 0, skin: 'layer-ext-seaning' }, function (index) {
                                layer.close(index);
                                location.href = "/CarManagement/Index";
                            });
                        }
                    }
                })
            }, function () {
                layer.close();
            });



        }

        //区域编辑显示
        function EditCarShow(carid) {
            $.ajax(
                {
                    type: 'GET',
                    url: '/CarManagement/EditCarShow?random=' + Math.random(),
                    data: { CarID: carid },
                    success: function (data) {
                        $(".itab a:eq(1)").click();
                        $(".itab a:eq(1)").text("车辆编辑");
                        $("#savebtn").hide();
                        $("#editbtn").show();
                        $("#editbtn").text(carid);
                        $("#AddCarType").val(data.CARTYPEID).prop("selected", true);
                        $("#UNITID").val(data.UNITID).prop("selected", true);
                        $("#AddCarNumber").val(data.CARNUMBER);
                        $("#AddCarTel").val(data.CARTEL);
                        $("#HidCarNumber").val(data.CARNUMBER);
                        $("#HidCarTel").val(data.CARTEL);
                        $("#AddRemark").val(data.REMARK);
                    }
                });
        }
    </script>
</head>
<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li>车辆管理</li>
        </ul>
    </div>
    <div class="formbody">
        <div id="usual1" class="usual">
            <div class="itab">
                <ul>
                    <li><a href="#tab1" class="selected">车辆列表</a></li>
                    <li><a href="#tab2">添加车辆</a></li>
                </ul>
            </div>
            <div id="tab1" class="tabson">

                <table>
                    <tr>
                        <td>车辆类型：
                        </td>
                        <td>
                            @Html.DropDownList("CarType", ViewBag.Type as IEnumerable<SelectListItem>, "请选择", new { @class = "dfinputs", @style = "float: left;width:160px;" })
                        </td>
                        <td>车牌号:
                        </td>
                        <td>
                            <input id="CarNumber" type="text" class="dfinputs" />
                        </td>
                        <td>
                            <input name="" type="button" class="sure" onclick="Search()" value="查询" style="margin-top: 0px;" />

                        </td>
                    </tr>
                </table>

                <div style="clear: both; margin-top: 10px;" class="tableListDiv">
                    <table class="tablelist" id="CarManageTableContent" style="text-align: center">
                        <thead>
                            <tr>
                                <th style="text-align: center">车牌号</th>
                                <th style="text-align: center">车辆类型</th>
                                <th style="text-align: center">终端号码</th>
                                <th style="text-align: center;">备注</th>
                                <th style="text-align: center;">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div id="tab2" class="tabson">
                <ul class="forminfo">

                    <li>
                        <label>车辆类型<b>*</b></label>
                        @Html.DropDownList("AddCarType", ViewBag.Type as IEnumerable<SelectListItem>, "请选择", new { @class = "dfinputs", @style = "float: left;width:160px;" })
                    </li>
                    <li>
                        <label>所属部门<b>*</b></label>
                        @Html.DropDownList("UNITID", ViewBag.listUnit as IEnumerable<SelectListItem>, new { @class = "dfinputs", @style = "float: left;width:160px;" })
                    </li>
                    <li>
                        <label>车牌号<b>*</b></label>
                        <input id="AddCarNumber" class="dfinputs" placeholder="请输入车牌号" />
                    </li>
                    <li>
                        <label>终端号码<b>*</b></label>
                        <input id="AddCarTel" class="dfinputs" placeholder="请输入终端号码" />
                    </li>
                    <li>
                        <label>备注</label>
                        <textarea id="AddRemark" class="dfinputs" style="height: 120px; width: 600px" placeholder="请输入备注"></textarea>
                    </li>
                    <li>
                        <label>&nbsp;</label>
                        <input id="savebtn" type="button" class="sure" onclick="Submit()" value="保存" />
                        <input id="editbtn" type="button" style="display: none;" class="sure" onclick="Edit()" value="修改" />
                        <input id="pageback" type="button" class="sure" value="返回">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <input type="hidden" value="" id="HidCarNumber" />
    <input type="hidden" value="" id="HidCarTel" />
</body>
</html>
