@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>新建企业拆迁</title>
    <link href="~/Content/css/OA.css" rel="stylesheet" />
    <link href="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/js/select-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.idTabs.min.js"></script>
    <script src="~/Scripts/assets/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-zh-CN.js"></script>

    <script src="~/Scripts/js/PageNotBack.js"></script>
    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/seaning/style.css" rel="stylesheet" />
    <script src="~/Scripts/layer/layer.js"></script>
    <style>
        table th {
            width: 80px;
        }

        table tr input.large {
            width: 98%;
        }

        table tr input.small {
            width: 94%;
        }

        .addfilebtn {
            width: 40px;
            height: 22px;
            line-height: 22px;
            display: inline-block;
            margin-top: 6px;
            color: rgb(255, 255, 255);
            background: transparent url("/Images/images/btnbg1.png") repeat-x scroll 0% 0%;
            font-size: 15px;
            font-weight: bold;
            border-radius: 3px;
            cursor: pointer;
            text-align: center;
        }

        .dtablefinputs {
            float: left;
            margin: 5px;
            text-indent:0px;
            width: 95%;
        }
    </style>

    <script type="text/javascript">
        layer.config({
            skin: 'layer-ext-seaning',
            offset: ['100px', '33%'],
            title: '提示',
            moveOut: true,
            closeBtn: false,
            extend: 'skin/seaning/style.css'
        });

        $(function () {
            $(".select2").uedSelect({
                width: 345
            });
            $("input[name='SIGNTIME']").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("input[name='EMPTYTIME']").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });

            var EditHouseId = getQueryString("EditHouseId");
            if (EditHouseId != null)
                EditShow(EditHouseId);
        })

        //后台回调js函数
        function AddCallBack(flag) {
            if (flag == 1) {
                layer.alert("操作成功!", {
                    icon: 1,
                    skin: 'layer-ext-seaning'
                }, function (index) {
                    layer.close(index);
                    location.href = "/CQGLManagement/CompanyList";
                });
            }
            if (flag == 2) {
                layer.alert("操作失败!", {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                }, function (index) {
                    layer.close(index);
                    location.href = "/CQGLManagement/CompanyList";
                });
            }
        }

        //获取url参数
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null)
                return unescape(r[2]);
            return null;
        }

        //验证表单
        function validate_form(thisform) {
            with (thisform) {
                if ($("#SelectProject option:selected").val() > 0) {
                    if (validate_required(LEGALNAME, "法人代表姓名不能为空!") == false)
                    { LEGALNAME.focus(); return false }
                    if (validate_required(LEGALPHONE, "法人代表联系方式不能为空!") == false)
                    { LEGALPHONE.focus(); return false }
                    if (validate_required_float(LANDAREA, "土地面积不能为空!", "土地面积格式不正确!") == false)
                    { LANDAREA.focus(); return false }
                    if (validate_required_float(WARRANTAREA, "权证记载面积不能为空!", "权证记载面积格式不正确!") == false)
                    { WARRANTAREA.focus(); return false }
                    if (validate_required_float(MEASUREMENTAREA, "丈量面积不能为空!", "丈量面积格式不正确!") == false)
                    { MEASUREMENTAREA.focus(); return false }
                    if (validate_required_float(WITHOUTAREA, "无证建筑面积不能为空!", "无证建筑面积格式不正确!") == false)
                    { WITHOUTAREA.focus(); return false }
                    if (validate_required_float(SUMMONEY, "总补偿金额不能为空!", "总补偿金额格式不正确!") == false)
                    { SUMMONEY.focus(); return false }
                    if (validate_required_float(TAX, "所得税补偿不能为空!", "所得税补偿格式不正确!") == false)
                    { TAX.focus(); return false }
                    else { return true }
                } else {
                    layer.alert("选择项目不能为空!", {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    return false;
                }
            }
        }

        function validate_required(field, alerttxt) {
            with (field) {
                if (value == null || value == "") {
                    layer.alert(alerttxt, {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    return false
                }
                else { return true }
            }
        }

        //验证是否为空并且为数字
        function validate_required_float(field, alertnulltxt, alerterrortxt) {
            var intregex = /^[0-9]+(.[0-9]{1,5})?$/;
            with (field) {
                if (value == null || value == "") {
                    layer.alert(alertnulltxt, {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    return false
                }
                if (value != null && value != "" && !intregex.test(value)) {
                    layer.alert(alerterrortxt, {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    return false
                }
                if (value != null && value != "" && intregex.test(value))
                { return true }
            }
        }

        //拆迁企业编辑展示
        function EditShow(Id) {
            $("input[name='hidden-enterpriseid']").val(Id);
            $("input[name='hidden-isedit']").val(1);
            $(".placeul li:eq(0)").text("编辑企业拆迁");
            $.ajax({
                type: "GET",
                url: "/CQGLManagement/EditEPShow?EnterpriseId=" + Id,
                success: function (data) {
                    $("#SelectProject option[value='" + data.list.PROJECTID + "']").prop("selected", "selected");
                    $("#SelectProject").attr("onchange", "this.selectedIndex=" + $("#SelectProject option:selected").index());
                    $("input[name='LEGALNAME']").val(data.list.LEGALNAME);
                    $("input[name='LEGALPHONE']").val(data.list.LEGALPHONE);
                    $("input[name='LANDAREA']").val(data.list.LANDAREA);
                    $("input[name='WARRANTAREA']").val(data.list.WARRANTAREA);
                    $("input[name='MEASUREMENTAREA']").val(data.list.MEASUREMENTAREA);
                    $("input[name='WITHOUTAREA']").val(data.list.WITHOUTAREA);
                    $("input[name='SIGNTIME']").val(ChangeDateFormat(data.list.SIGNTIME));
                    $("input[name='EMPTYTIME']").val(ChangeDateFormat(data.list.EMPTYTIME));
                    $("input[name='SUMMONEY']").val(data.list.SUMMONEY);
                    $("input[name='TAX']").val(data.list.TAX);

                    if (data.filename.FILENAME != null && data.filename.FILENAME != "") {
                        var fileid = new Array();
                        fileid = data.filename.FileIdStr.split('|');
                        var filestring = new Array();
                        filestring = data.filename.FILENAME.split('|');
                        var filepath = new Array();
                        filepath = data.filename.FILEPATH.split('|');
                        var strhtml = "";
                        var hidefilepath = $("#hidden-filepath").val();
                        for (var i = 0; i < filestring.length; i++) {
                            strhtml += "<div style='margin: 20px 0px;'><a href='/DownFile/DownLoadOAWorkFlow?path=" + hidefilepath
                                + filepath[i] + "&&fileName=" + filestring[i] + "'>" + filestring[i] + "</a><span id=" + fileid[i] +
                                " onclick='DeleteDBFile(this);' style='margin-left:50px;cursor:pointer;' >删除</span></div>";
                        }
                        $("#showfile").html(strhtml);
                    } else
                        $("#showfile").html("<div id='AddAfterFile' class='addfilebtn' onclick='AddAfterFile();'>添加</div>");
                }
            });
        }

        function ChangeDateFormat(val) {
            if (val != null) {
                var date = new Date(parseInt(val.replace("/Date(", "").replace(")/", ""), 10));
                //月份为0-11，所以+1，月份小于10时补个0
                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                return date.getFullYear() + "-" + month + "-" + currentDate;
            }
            return "";
        }

        //添加公告文件
        function AddAfterFile() {
            $("#AddAfterFile").after("<div style='margin: 20px 0px;'><input name='AddFile" + Math.random(10000, 99999) + "' type='file'  value='' /><b style='cursor:pointer;' onclick='DeleteFile(this);'>删除</b></div>");
        }

        //删除公告文件
        function DeleteFile(obj) {
            $(obj).parent().remove();
        }

        //删除数据库附件
        function DeleteDBFile(obj) {
            layer.confirm('是否确认删除?', {
                btn: ['是', '否'],
                icon: 4,
                //按钮
            }, function () {
                $.ajax({
                    type: 'GET',
                    url: '/CQGLManagement/DeleteDBFile?random=' + Math.random(),
                    data: { AttrachId: obj.id },
                    success: function (data) {
                        if (data == "删除成功") {
                            var oobj = $(obj).parent().parent();
                            $(obj).parent().remove();
                            if (oobj.html() == "")
                                $("#showfile").html("<div id='AddAfterFile' class='addfilebtn' onclick='AddAfterFile();'>添加</div>");
                            layer.alert(data, {
                                icon: 1,
                                skin: 'layer-ext-seaning'
                            });
                        } else {
                            layer.alert(data, {
                                icon: 0,
                                skin: 'layer-ext-seaning'
                            });
                        }
                    }
                })
            }, function () {
                layer.close();
            });
        }

    </script>
</head>
<body>


    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li>新建企业拆迁</li>
        </ul>
    </div>

    <form method="post" enctype="multipart/form-data" action="/CQGLManagement/NewCompanyCommit" target="hidden_frame" onsubmit="return validate_form(this)">
        <div class="formbody">
            <table class="table table-bordered" style="font-size: 13px">
                <tr>
                    <th style="text-align: center; line-height: 30px;">选择拆迁项目<span style="color: red;">*</span></th>
                    <td>
                        @Html.DropDownList("SelectProject", ViewBag.project as IEnumerable<SelectListItem>, "请选择", new { @class = "dtablefinputs"})
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center; line-height: 30px; width: 12%;">法人代表姓名<span style="color: red;">*</span> </th>
                    <td>
                        <div class="form-group">
                            <div class="col-sm-9 col-lg-10 controls">
                                <input type="text" name="LEGALNAME" class="dtablefinputs" />
                            </div>
                        </div>
                    </td>
                    <th style="text-align: center; line-height: 30px; width: 13%;">法人代表联系方式<span style="color: red;">*</span></th>
                    <td>
                        <div class="form-group">
                            <div class="col-sm-9 col-lg-10 controls">
                                <input type="text" name="LEGALPHONE" class="dtablefinputs" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center; line-height: 30px;">土地面积<span style="color: red;">*</span> </th>
                    <td>
                        <div class="form-group">
                            <div class="col-sm-9 col-lg-10 controls">
                                <input type="text" name="LANDAREA" class="dtablefinputs" />
                            </div>
                        </div>
                    </td>
                    <th style="text-align: center; line-height: 30px;">有证建筑面积 </th>
                    <td>
                        <div class="form-group">
                            <div class="col-sm-9 col-lg-10 controls">
                                <label style="float: left; display: block; line-height: 30px;">权证记载面积</label><span style="color: red; height: 30px; line-height: 30px; float: left;">*</span>
                                <input type="text" name="WARRANTAREA" class="dfinputs" style="width: 50px; float: left" />
                                <label style="float: left; margin-left: 30px; display: block; line-height: 30px;">丈量面积</label><span style="color: red; height: 30px; line-height: 30px; float: left;">*</span>
                                <input type="text" name="MEASUREMENTAREA" class="dfinputs" style="width: 50px; float: left" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center; line-height: 30px;">无证建筑面积<span style="color: red;">*</span> </th>
                    <td style="line-height: 30px; width: 40%">
                        <div class="form-group">
                            <div class="col-sm-9 col-lg-10 controls">
                                <input type="text" name="WITHOUTAREA" class="dtablefinputs" />
                            </div>
                        </div>
                    </td>
                    <th style="text-align: center; line-height: 30px;">签约时间 </th>
                    <td style="line-height: 30px; width: 40%">
                        <div class="form-group">
                            <div class="col-sm-9 col-lg-10 controls">
                                <input name="SIGNTIME" type="text" class="dtablefinputs" readonly="readonly" data-date-format="yyyy-mm-dd" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now)" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center; line-height: 30px;">腾空时间 </th>
                    <td>
                        <div class="form-group">
                            <div class="col-sm-9 col-lg-10 controls">
                                <input name="EMPTYTIME" type="text" class="dtablefinputs" readonly="readonly" data-date-format="yyyy-mm-dd" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now)" />
                            </div>
                        </div>
                    </td>
                    <th style="text-align: center; line-height: 30px;">总补偿金额<span style="color: red;">*</span> </th>
                    <td colspan="3">
                        <div class="form-group">
                            <div class="col-sm-9 col-lg-10 controls">
                                <input type="text" name="SUMMONEY" value="" class="dtablefinputs" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>

                    <th style="text-align: center; line-height: 30px;">所得税补偿<span style="color: red;">*</span> </th>
                    <td colspan="3">
                        <div class="form-group">
                            <input type="text" name="TAX" value="" class="dtablefinputs" style="width: 43%" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center; line-height: 30px;">附件上传 </th>
                    <td colspan="3">
                        <div id="showfile">
                            <div id="AddAfterFile" class="addfilebtn" onclick="AddAfterFile();">添加</div>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="form-group" style="margin-bottom: 5px; margin-left: 130px;">
                <div class="col-sm-9 col-lg-10 controls">
                    <input type="submit" class="sure" value="保  存" style="width: 70px;" />
                    <input type="button" class="sure" value="返  回" style="width: 70px;" onclick="window.location.href = '/CQGLManagement/CompanyList'" />
                    <input type="hidden" name="hidden-projectid" value="0" />
                    <input type="hidden" name="hidden-enterpriseid" value="0" />
                    <input type="hidden" name="hidden-isedit" value="0" />
                    <input type="hidden" id="hidden-filepath"  value="@System.Configuration.ConfigurationManager.AppSettings["ProjectPath"].Replace("\\","/")"/>
                </div>
            </div>
        </div>
    </form>
    <iframe name='hidden_frame' id="hidden_frame" style="display: none"></iframe>


</body>
</html>
