@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>全部列表</title>
    <link href="/Scripts/assets/data-tables/demo_table.css" rel="stylesheet" />
    <link href="~/Scripts/assets/data-tables/DT_bootstrap.css" rel="stylesheet" />

    <link href="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.js"></script>

    <script type="text/javascript" src="~/Scripts/js/jquery.idTabs.min.js"></script>
    <script src="~/Scripts/assets/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/data-tables/jquery.datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/data-tables/DT_bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/data-tables/PLE_DT_bootstrap.js"></script>
    <script src="~/Scripts/js/PageNotBack.js"></script>


    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-zh-CN.js"></script>
    <script type="text/javascript" src="~/Scripts/js/select-ui.min.js"></script>
    <link href="~/Content/css/OA.css" rel="stylesheet" />

    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/seaning/style.css" rel="stylesheet" />
    <style type="text/css">
        #toolslist {
            width: 100%;
            display: inline-block;
            float: left;
            height: 34px;
        }

            #toolslist .ttitle {
                width: 5%;
                height: 34px;
                line-height: 34px;
                display: inline-block;
                float: left;
            }

            #toolslist .ttitleinput {
                height: 34px;
                line-height: 34px;
                display: inline-block;
                float: left;
            }
    </style>
    <script src="~/Scripts/layer/layer.js"></script>
    <script type="text/javascript">
        layer.config({
            skin: 'layer-ext-seaning',
            offset: ['100px', '33%'],
            title: '提示',
            moveOut: true,
            closeBtn: false,
            extend: 'skin/seaning/style.css'
        });

    </script>

    <script type="text/javascript">
        var oTable;
        var date = new Date();
        var seperator1 = "-";
        var seperator2 = ":";
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate + " " + date.getHours() + seperator2 + date.getMinutes() + seperator2 + date.getSeconds();
        $(document).ready(function () {
            $("#JHKGRQSTIME").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("#JHKGRQETIME").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("#JHJGRQSTIME").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("#JHJGRQETIME").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            GetDataTable();
        });
        function GetDataTable() {
            if (oTable != null) {
                oTable.fnSettings().sAjaxSource = "/MajorProjectsList/AllEventsTableList";
                oTable.fnDraw(true);
            } else {
                oTable = $('#AllEventsTable').dataTable({
                    sAjaxSource: "/MajorProjectsList/AllEventsTableList",
                    fnServerParams: function (aoData) {
                        aoData.push(
                               { "name": "GC_NAME", "value": $("#GC_NAME").val() },
                               { "name": "JHKGRQSTIME", "value": $("#JHKGRQSTIME").val() },
                               { "name": "JHKGRQETIME", "value": $("#JHKGRQETIME").val() },
                                { "name": "JHJGRQSTIME", "value": $("#JHJGRQSTIME").val() },
                                 { "name": "JHJGRQETIME", "value": $("#JHJGRQETIME").val() },
                               { "name": "GCGCZT_ID", "value": $("#GCGCZT_ID").val() }
                            );
                    },
                    aoColumns: [
                       { mDataProp: "GC_NAME" },
                        {
                            mDataProp: function (data) {
                                var value;
                                if (data.GCGCZT_ID == 1) {
                                    value = "工程概况";
                                } else if (data.GCGCZT_ID == 2) {
                                    value = "工程招标"
                                } else if (data.GCGCZT_ID == 3) {
                                    value = "工程施工"
                                } else if (data.GCGCZT_ID == 4) {
                                    value = "工程竣工"
                                } else if (data.GCGCZT_ID == 5) {
                                    value = "保质期维护"
                                }
                                return value;
                            }
                        },
                         { mDataProp: "JHKGRQ" },
                          { mDataProp: "JHJGRQ" },
                            { mDataProp: "TBR_ID" },
                        {
                            mDataProp: function (data) {
                                var look = '<a class="btn_ico_a_look" href="/MajorProjects/Index?GC_ID=' + data.GC_ID + '&pathName=1"><img src="/Images/btnimage/look.png" class="btn_ico_image" />查看</a>';
                                var del = '<a class="btn_ico_a_delete" href="javascript:void(0);" onclick="delList(' + data.GC_ID + ')"  ><img src="/Images/btnimage/sh.png" class="btn_ico_image" />删除</a>'
                                return look+' '+del;
                            }, "sClass": "center"
                        }

                    ],
                    aoColumnDefs: [{ sDefaultContent: '', aTargets: ['_all'] }],
                    fnDrawCallback: function (oSettings) {
                        var pagerIndex = oSettings._iDisplayStart / oSettings._iDisplayLength + 1;
                        var $currentPager = $(".dataTables_paginate span a:contains('" + pagerIndex + "')");
                        $currentPager.attr("style", "font-weight :bold;!important");
                    }
                });
            }
        }

        function delList(i) {
            layer.confirm('是否确认删除?', {
                btn: ['是', '否'],
                icon: 4,
                //按钮
            }, function () {
                $.ajax({
                    url: "/MajorProjectsList/DeleteGCCKXXList?GC_ID=" + i,
                    type: "get",
                    success: function (data) {
                        layer.alert("删除成功!", { icon: 1, skin: 'layer-ext-seaning' }, function (index) {
                            layer.close(index);
                            location.href = "/MajorProjectsList/Index";
                        });

                    },
                    error: function (mes) {
                        layer.alert('操作失败!', {
                            icon: 0,
                            skin: 'layer-ext-seaning'
                        });
                        //alert("操作失败");
                    }
                });
            }, function () {
                layer.close();
            });
        }

        //查询
        function Search() {
            var StartTime = $("#StartTime").val();
            var EndTime = $("#EndTime").val();
            if (StartTime > EndTime) {
                layer.alert('开始时间不能大于结束时间！', {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                });
                // alert("开始时间不能大于结束时间");
                return;
            }
            oTable.fnPageChange('first', true);
            oTable.fnClearTable(false);
        }
        //function Search() {
        //    oTable.fnPageChange('first', true);
        //    oTable.fnClearTable(false);
        //}
    </script>
</head>

<body>
    <div class="place" style="background-image: url(/Images/images/righttop.gif)">
        <span>位置：</span>
        <ul class="placeul">
            <li>重大工程列表</li>
        </ul>
    </div>
    <div class="rightinfo" style="height: auto;">
        <div class="tools">
            <ul class="seachform">
                <li>
                    <label style="width: 75px;">工程名称：</label>
                    <input name="GC_NAME" id="GC_NAME" type="text" class="dtablefinputs" style="width: 130px; height: 32px;" />
                </li>
                <li>
                    <label style="width: 105px;">计划开工日期：</label>@*@string.Format("{0:yyyy-MM-dd}", DateTime.Now.AddMonths(-1))*@
                    <input id="JHKGRQSTIME" readonly="readonly" type="text" class="dtablefinputs" data-date-format="yyyy-mm-dd" value="" style="width: 130px;height:32px;" />
                     <label style="width: 10px;">至</label><input id="JHKGRQETIME" type="text" readonly="readonly" class="dfinputs" data-date-format="yyyy-mm-dd" value="" style="width: 130px;height:32px;" />
                </li>
                <li>
                    <label style="width: 105px;">计划竣工日期：</label>@*@string.Format("{0:yyyy-MM-dd}", DateTime.Now)*@
                    <input id="JHJGRQSTIME" readonly="readonly" type="text" class="dtablefinputs" data-date-format="yyyy-mm-dd" value=""style="width: 130px;height:32px;"/>
                    <label style="width: 10px;">至</label><input id="JHJGRQETIME" type="text" readonly="readonly" class="dfinputs" data-date-format="yyyy-mm-dd" value="" style="width: 130px;height:32px;" />
                </li>

                <li>
                    <label style="width: 45px;">环节：</label>
                    <select id="GCGCZT_ID" class="dtablefinputs" style="width: 132px; height: 32px;">
                        <option selected="selected">请选择</option>
                        <option value="1">工程概况</option>
                        <option value="2">工程招标</option>
                        <option value="3">工程施工</option>
                        <option value="4">工程竣工</option>
                        <option value="5">保质期维护</option>
                    </select>
                </li>
                <li>
                    <input name="" type="button" class="sure" onclick="Search()" value="查询" />
                  @*  <input name="" type="button" class="sure" onclick="Search212()" value="测试" />*@
                </li>
            </ul>
            <div style="clear: both; margin-top: 10px;" class="tableListDiv">
                <table class="tablelist" id="AllEventsTable" style="text-align: center">
                    <thead>
                        <tr>
                            <th>工程名称</th>
                            <th>工程状态</th>
                            <th>计划开工日期</th>
                            <th>计划竣工日期</th>
                            <th>创建人</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>
</body>
</html>
