@{
    Taizhou.PLE.Model.CaseWorkflowModels.TotalForm wmCaseForm = ViewBag.TotalForm;
    Taizhou.PLE.Model.CaseWorkflowModels.Form121 wmForm21 = wmCaseForm.Form121;
}

<div class="form">
    <div class="title">
        送达处罚决定书 
    </div>
    <table class="workflow" border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto; margin-top: 20px;">
        <tr>
            <th colspan="2">送达备注</th>
            <td colspan="9">
                @Html.TextArea("sdbz", wmForm21.SDBZ, new { disabled = "disabled" })
            </td>
        </tr>
        <tr>
            <th colspan="2">当事人执行方式</th>
            <td colspan="9">
                @{
                    string dsrfq = wmForm21.DSRZXFS == 1 ? "checked=\"checked\"" : "";
                    string yqcssb = wmForm21.DSRZXFS == 2 ? "checked=\"checked\"" : "";
                    string xzqzzx = wmForm21.DSRZXFS == 3 ? "checked=\"checked\"" : "";
                    string sqfyqzzx = wmForm21.DSRZXFS == 4 ? "checked=\"checked\"" : "";
                }
                <input type="radio" value="1" dsryjname="当事人放弃" @dsrfq disabled = "disabled" />当事人放弃
                <input type="radio" value="2" dsryjname="要求陈述申辩" @yqcssb disabled = "disabled" />当事人提起行政复议或行政诉讼
                <input type="radio" value="3" dsryjname="行政强制执行" @xzqzzx disabled = "disabled" />行政强制执行
                <input type="radio" value="4" dsryjname="声请法院强制执行" @sqfyqzzx disabled = "disabled" />申请法院强制执行
            </td>
        </tr>
        <tr>
            <th colspan="2">送达时间</th>
            <td colspan="9">
                @Html.TextBox("sdsj", wmForm21.SDSJ, string.Format("{0:yyyy-MM-dd HH:mm}", DateTime.Now), new { disabled = "disabled" })
            </td>
        </tr>
        <tr>
             <th colspan="2">处理人</th>
            <td colspan="3">@Html.TextBox("clr", wmForm21.ProcessUser.UserName, new { disabled = "disabled" })</td>
            <th colspan="2">处理时间</th>
            <td colspan="4">@Html.TextBox("clsj", wmForm21.ProcessTime != null ? wmForm21.ProcessTime.Value.ToString("yyyy-MM-dd HH:mm:ss") : "", new { disabled = "disabled" })</td>
        </tr>
        <tr style="height: 0px; line-height: 0px;">
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 92px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 72px; border: none; padding: 0px;"></td>
            <td style="width: 52px; border: none; padding: 0px;"></td>
            <td style="width: 52px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="border: none; padding: 0px;">&nbsp;</td>
        </tr>
    </table>
    <div class="clear"></div>
</div>












