
html, body {
    height: 100%;
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
}

#left {
    /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../../Images/Head/Navigation_leftImg.png, sizingMethod=scale);*/
    /*background: url(../../Images/Head/Navigation_leftImg3.png) repeat-x;  */
    /*background-size: contain;*/
}

#right {
    height: 47px;
    background: url(../../Images/Head/Navigation_rightImg4.png) no-repeat;
    background-size: contain;
}

.leftImg {
    background: url(../../Images/Head/Navigation_leftImg_left.png) no-repeat;
    background-size: contain;
}

.rightImg {
    background: url(../../Images/Head/Navigation_leftImg_right.png) no-repeat;
    background-size: contain;
}

.centerImg {
    background: url(../../Images/Head/Navigation_leftImg_center.png) repeat-x;
}

.right_leftImg {
    background: url(../../Images/Head/左.png) no-repeat;
    background-size: contain;
}

.right_rightImg {
    background: url(../../Images/Head/右.png) no-repeat;
    background-size: contain;
}

.right_centerImg {
    background: url(../../Images/Head/中.png) repeat-x;
}

.labelNavigation {
    color: rgb( 233, 113, 38 );
    font-size: 13px;
    font-family: "Microsoft YaHei";
}

.labelNavigationFalse {
    color: #d0e6ff;
    font-size: 13px;
    font-family: "Microsoft YaHei";
}

.Date {
    font-size: 16px;
    font-family: "Digital";
    color: rgb( 208, 230, 255 );
    line-height:50px;
}

.Time {
    font-size: 16px;
    font-family: "Digital";
    color: rgb( 208, 230, 255 );
}

.centreDiv {
    cursor: pointer;
    margin-top: 12px;
}

    .centreDiv:hover {
        opacity: 0.6;
    }

    .centreDiv img {
    height:17px;
    width:17px;
    }