html, body {
    height: 100%;
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
}

#contentDiv {
    height: 100%;
    width: 100%;
    min-width: 1024px;
    /*background-color: blue;*/
}

#bottomDiv {
    height: 70px;
    width: 100%;
    min-width: 1024px;
    /*text-align:center;
     vertical-align:middle;*/
    /*background-color: silver;*/
}

.slide-nav {
    right: 0;
    bottom: 6px;
    z-index: 2;
    font-size: 0;
    text-align: center;
    margin-top: 25px;
}

    .slide-nav li {
        font-size: 10px;
        display: inline-block;
        width: 30px;
        height: 30px;
        background: #32a1a2;
        border-radius: 50%;
        margin-right: 15px;
        cursor: pointer;
        color: #fff;
        font-size:16px;
        font-family: Arial;
        line-height: 30px;
    }

        .slide-nav li.selected {
            background: #31eff1;
            -webkit-transition: all .1s ease-in .05s;
            transition: all .1s ease-in .05s;
        }

.top {
    height: 100px;
    text-align: center;
}
.top_RYBJ {
    height: 100px;
    text-align: center;
}

.title {
    font-family: 'Microsoft YaHei';
    font-size: 25px;
    font-weight: 600;
    color: #c6c7c6;
    line-height: 100px;
}
.title_RYBJ {
    font-family: 'Microsoft YaHei';
    font-size: 25px;
    font-weight: 600;
    color: #c6c7c6;
    line-height: 100px;
}

.tabDiv {
    position: absolute;
    top: 36px;
    right: 100px;
    line-height: 35px;
    height: 25px;
    width: 120px;
    background-color: #142a50;
    border: 0px;
    border-radius: 15px;
}


.tabDiv_RYBJ {
    position: absolute;
    top: 36px;
    right: 100px;
    line-height: 35px;
    height: 25px;
    width: 120px;
    background-color: #142a50;
    border: 0px;
    border-radius: 15px;
}

.tab {
    float: left;
    height: 100%;
    width: 40px;
    line-height: 25px;
    color: #90a9c0;
    cursor: pointer;
}

    .tab:hover {
        opacity: 0.6;
    }

     li:hover {
        opacity: 0.6;
    }

.tab_left_selected {
    background-color: #48679c;
    border: 0px;
    border-radius: 15px 0px 0px 15px;
    color: #3cf5f3;
}

.tab_center_selected {
    background-color: #48679c;
    color: #3cf5f3;
}

.tab_right_selected {
    background-color: #48679c;
    border: 0px;
    border-radius: 0px 15px 15px 0px;
    color: #3cf5f3;
}
