/*@import 'http://fonts.googleapis.com/css?family=Noto+Sans';*/
body {
  padding: 0;
  margin: 0;
  background: -moz-linear-gradient(-45deg, #183850 0, #183850 25%, #192c46 50%, #22254c 75%, #22254c 100%);
  background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192c46 50%, #22254c 75%, #22254c 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(25, 147, 147, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(25, 147, 147, 0.2);
}
#convo {
    overflow:hidden;
}

.chat-thread {
  margin: 0px auto 0 auto;
  padding: 0 0 0 0;
  list-style: none;
  /*overflow-y: hidden;
  overflow-x: hidden;*/
  overflow:hidden;
}

.chat-thread li {
  position: relative;
  clear: both;
  display: inline-block;
  max-width:400px;
  /*padding: 8px;
  margin: 0 0 12px 0;
  font: 14px 'Noto Sans', sans-serif;
  border-radius: 8px;*/
 
}

    .chat-thread li div{
        padding: 8px;
  margin: 0 0 12px 0;
  font: 14px 'Noto Sans', sans-serif;
  border-radius: 8px;
    }
     .chat-thread li p{
       margin:0px 0px 2px 0px;
         font: 13px 'Noto Sans', sans-serif;
         color:#ccc;
    }
        .chat-thread li.self p{
      text-align:right;
    }
          .chat-thread li.other p{
      text-align:left;
    }
    .chat-thread li.self div{
     background-color: #78cdf8;
     /*max-width:400px;
     word-break:break-all;*/
    }
     .chat-thread li.other div{
     background-color: #cdd7e2;
     /*max-width:400px;
     word-break:break-all;*/
    }
      .chat-thread li.self div p{
    color:black;
     max-width:400px;
     word-break:break-all;
    }
         .chat-thread li.other div p{
     color:black;
     max-width:400px;
     word-break:break-all;
    }
.mar {
margin-left:10px;
 font-size: 12px;
}

/* Chat - Avatar */
/*.chat-thread li:before {
  position: absolute;
  top: 0px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  content: '';
}*/

/* Chat - Speech Bubble Arrow */
/*.chat-thread li:after {
  position: absolute;
  top: 10px;
  content: '';
  width: 0;
  height: 0;
  border-top: 15px solid #78cdf8;
}
.chat-thread li.other:after {
  position: absolute;
  top: 10px;
  content: '';
  width: 0;
  height: 0;
  border-top: 15px solid #cdd7e2;
}*/



.chat-thread li.self {
  animation: show-chat-odd 0.15s 1 ease-in;
  -moz-animation: show-chat-odd 0.15s 1 ease-in;
  -webkit-animation: show-chat-odd 0.15s 1 ease-in;
  float: right;
  margin-right: 10px;
  color: black;
  font-size:14px;
}

/*.chat-thread li.self:before {
  right: -58px;
  background-image: url('/Images/Communicate/baojing005.png');
}

.chat-thread li.self:after {
  border-right: 15px solid transparent;
  right: -15px;
}*/

.chat-thread li.other {
  animation: show-chat-even 0.15s 1 ease-in;
  -moz-animation: show-chat-even 0.15s 1 ease-in;
  -webkit-animation: show-chat-even 0.15s 1 ease-in;
  float: left;
  margin-left: 10px;
  color: #000;
}

/*.chat-thread li.other:before {
  left: -58px;
  background-image: url('/Images/Communicate/association-action-icon.png');
  
}

.chat-thread li.other:after {
  border-left: 15px solid transparent;
  left: -15px;
}*/

.chat-window {
  position: fixed;
  bottom: 18px;
}

.chat-window-message {
  width: 100%;
  height: 48px;
  font: 32px/48px 'Noto Sans', sans-serif;
  background: none;
  color: #0AD5C1;
  border: 0;
  border-bottom: 1px solid rgba(25, 147, 147, 0.2);
  outline: none;
}

/* Small screens */
@media all and (max-width: 300px) {
  .chat-thread {
    width: 100%;
    height: 100%;
  }

  .chat-window {
    left: 5%;
    width: 90%;
  }
}
/* Medium and large screens */
@media all and (min-width: 300px) {
  .chat-thread {
    width:100%;
    height: 350px;
  }

  .chat-window {
    left: 25%;
    width: 50%;
  }
}
@keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }

  100% {
    margin-left: 0;
  }
}
@-moz-keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }

  100% {
    margin-left: 0;
  }
}
@-webkit-keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }

  100% {
    margin-left: 0;
  }
}
@keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }

  100% {
    margin-right: 0;
  }
}
@-moz-keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }

  100% {
    margin-right: 0;
  }
}
@-webkit-keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }

  100% {
    margin-right: 0;
  }
}
.credits{
  text-align:center;
  margin-top:35px;
  color: rgba(255, 255, 255, 0.35);
  font-family: 'Noto Sans', sans-serif;
}
.credits a{
  text-decoration:none;
  color: rgba(255, 255, 255, 0.35);
}

#Draggable{
    z-index:100;
background-color:#CCCCCC;
color:#FFF;
width:510px;
height:525px;
position:absolute;
border:1px solid #0b3a6f;
padding:0px; 
 /*background-image: url('/images/Communicate/communicateBackImg4.png');
    background-repeat: no-repeat;*/
}
    .tools {
    height:30px;
    width:508px;
    border-top:1px solid #12dffc;
    border-bottom:1px solid #12dffc;
    }
    .item {
    height:20px;
    width:20px;
    float:left;
    margin:5px;
    }
        .item:hover {
        opacity:0.6;
        }
.minImg {
background:url('/images/minus_icon.png') no-repeat
}
.maxImg {
background:url('/images/maxImg.png') no-repeat
}
.showC {
display:block;
}
.hideC {
display:none;
}
.closeImg:hover {
      opacity:0.6;
}
.minImg:hover {
      opacity:0.6;
}
    .pic {      
    background-image:url("/Images/Communicate/importImg.png");
     background-repeat:no-repeat;
    background-size :20px 20px;
    }
     .file {      
    background-image:url("/Images/Communicate/uploadFile.png");
     background-repeat:no-repeat;
    background-size :20px 20px;
    }
      .position {      
    background-image:url("/Images/Communicate/position.png");
    background-repeat:no-repeat;
    background-size :20px 20px;
    }