@{
    Layout = "~/Views/IntegratedService/CaseManagement/_LayoutCaseManagement.cshtml";
}

@section HeadStyles_CaseManage{
    <link href="~/Scripts/assets/bootstrap-timepicker/compiled/timepicker.css" rel="stylesheet" />
    <link href="~/Scripts/assets/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <style type="text/css">
        .table td.left {
            text-align: left;
            /*white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;*/
        }

        .table td.center {
            text-align: center;
        }
    </style>
}

@section FootScripts_CaseManage{
    <script src="~/Scripts/assets/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script src="~/Scripts/assets/bootstrap-datepicker/js/bootstrap-datepicker-zh_CN.js"></script>
    <script src="~/Scripts/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //设置选中菜单样式
            $("#menuCase").addClass("active");
            $("#GeneralCase").css({ "display": "block" });

            function BindDataTable() {
                var oTable = $("#PendingCasesTable").dataTable({
                    sAjaxSource: "/GeneralCase/GetPendingCases/",
                    aoColumns: [
                        {
                            mDataProp: "WDName", "sClass": "center", sWidth: "70px"
                        },
                        {
                            mDataProp: "WICode", "sClass": "center", sWidth: "115px"
                        },
                        {
                            mDataProp: "WIName", "sClass": "left"
                        },
                        {

                            mDataProp: function (data) {
                                var DeviveryTimeYY = "<span title='" + data.DeviveryTimeYY + "'>" + data.DeviveryTime + "</span>";
                                return DeviveryTimeYY;
                            }, "sClass": "center", sWidth: "100px"
                        },
                        {
                            mDataProp: function (data) {
                                var ExpirationTimeYY = "<span title='" + data.ExpirationTimeYY + "'>" + data.ExpirationTime + "</span>";
                                return ExpirationTimeYY;
                            }, "sClass": "center", sWidth: "100px"
                        },
                        {
                            mDataProp: "ADName", "sClass": "center", sWidth: "130px"
                        },
                        {
                            mDataProp: function (data) {
                                var operate = "";

                                if (data.WDID == 1) {
                                    operate = "<a href='/Workflow/WorkflowProcess?WIID=" + data.WIID + "&AIID=" + data.AIID + "'>处理</a>";

                                } else if (data.WDID == 2) {
                                    operate = "<a href='/RelevantItemWorkflow/RelevantItemWorkflowProcess?ParentWIID=" + data.ParentWIID + "&WIID=" + data.WIID + "&AIID=" + data.AIID + "'>处理</a>";
                                }
                                return operate;
                            }, "sClass": "center", sWidth: "40px"
                        }
                    ],
                    fnDrawCallback: function (oSettings) {
                        var pagerIndex = oSettings._iDisplayStart / oSettings._iDisplayLength + 1;
                        var $currentPager = $(".dataTables_paginate span a:contains('" + pagerIndex + "')");
                        $currentPager.attr("style", "font-weight :bold;!important;");
                    }
                });
            }
            BindDataTable();
        });
    </script>
}

@section BreadcrumbSection{
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li><a href="#"><i class="icon-home"></i>综合业务</a></li>
            <li>></li>
            <li><a href="IllegalManagement">案件管理</a></li>
            <li>></li>
            <li>一般案件</li>
            <li>></li>
            <li class="active" id="aaa">待处理案件</li>
            <li id="FunctionInfo"></li>
        </ul>
    </div>
}


<div class="box box-black" style="margin: 5px;">
    <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
        <i class="icon-table" style="margin-right: 5px;"></i>待处理案件
    </div>
    <div class="box-content" style="min-height: 400px;">
        <table class="table table-bordered table-striped table-hover fill-head" style="table-layout: fixed;" id="PendingCasesTable">
            <thead>
                <tr>
                    <th style="text-align: center;">流程类型</th>
                    <th style="text-align: center;">流程编号</th>
                    <th style="text-align: left;">案由/审批事项</th>
                    <th style="text-align: center;">递送时间</th>
                    <th style="text-align: center;">超期时间</th>
                    <th style="text-align: center;">当前环节</th>
                    <th style="text-align: center;">操作</th>
                </tr>
            </thead>
        </table>
        <div style="clear: both"></div>
    </div>
</div>


