@using NBZGM.XTBG.CustomModels;
@{
    ViewBag.Title = "会议管理";
    UserInfo UserEntity = ViewBag.UserEntity;
}

<ul class="nav nav-tabs navigation" role="tablist">
    <li role="presentation" class="active"><a role="tab" data-toggle="tab" aria-controls="MyMeeting" href="#MyMeeting">我的会议</a></li>
    @if (UserEntity.RoleIDS.Where(m => m.ROLEID == 16).FirstOrDefault() != null)
    {
        <li role="presentation"><a role="tab" data-toggle="tab" aria-controls="MeetingAdd" href="#MeetingAdd">申请会议</a></li>
        <li role="presentation"><a role="tab" data-toggle="tab" aria-controls="MeetingMgr" href="#MeetingMgr">已发会议</a></li>
        <li role="presentation"><a role="tab" data-toggle="tab" aria-controls="MeetingRoomMgr" href="#MeetingRoomMgr">会议室管理</a></li>
        <li role="presentation"><a role="tab" data-toggle="tab" aria-controls="MeetingRoomAdd" href="#MeetingRoomAdd">会议室添加</a></li>
    }
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="MyMeeting">
        <div class="row">
            <div class="col-md-12">
                <input type="radio" name="attend" value="1" />已召开
                <input type="radio" name="attend" value="-1" />未召开
                <input type="radio" name="attend" value="0" checked="checked" />全部
            </div>
        </div>
        <table class="table table-hover table-bordered" id="MyMeeting_Table">
            <thead>
                <tr>
                    @*<th>序号</th>*@
                    <th>名称</th>
                    <th>主题</th>
                    <th>时间</th>
                    <th>出席人员</th>
                    <th>会议室</th>
                    <th>地点</th>
                    <th>操作</th>
                </tr>
            </thead>
        </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="MeetingAdd">
        <div class="well-lg">
            <form class="form-inline" id="MeetingAdd_Form" action="/MeetingManagement/MeetingAdd">
                <table class="table table-bordered" style="table-layout: fixed">
                    <colgroup>
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>会议名称<span class="required">*</span></td>
                            <td colspan="5">
                                <input type="text" name="MeetingName" placeholder="" required="required" />
                            </td>
                            <td>会议主题<span class="required">*</span></td>
                            <td colspan="5">
                                <input type="text" name="MeetingTitle" placeholder="" required="required" />
                            </td>
                        </tr>
                        <tr>
                            <td>出席人员<span class="required">*</span></td>
                            <td colspan="11">
                                <input type="text" id="MeetingUserNames" name="MeetingUserNames" class="calc100" placeholder="" required="required" />
                                <input type="hidden" id="MeetingUserIDs" name="MeetingUserIDs" />
                                <input type="hidden" id="MeetingUserPhones" name="MeetingUserPhones" />
                            </td>
                            @*<td>查看范围<span class="required">*</span></td>
                            <td colspan="5">
                                <input type="text" id="MeetingUnitNames" name="MeetingUnitNames" class="calc100" placeholder="查看范围" required="required" />
                                <input type="hidden" id="MeetingUnitIDs" name="RecipientUserIDs" />
                            </td>*@
                        </tr>
                        <tr>
                            <td>会议室<span class="required">*</span></td>
                            <td colspan="5">
                                <select id="MeetingRoomID" name="MeetingRoomID" class="calc100" required>
                                    <option value="">请选择</option>
                                </select>
                            </td>
                            <td>会议时间<span class="required">*</span></td>
                            <td colspan="5">
                                <input type="text" class="datetimepicker calc50-075" name="StartTime" id="meetingstarttime" placeholder="开始时间" required="required" />
                                至
                                <input type="text" class="datetimepicker calc50-075" name="EndTime" id="meetingendtime" placeholder="结束时间" required="required" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="12" id="MeetingRoomImg"></td>
                        </tr>
                        <tr>
                            <td>短信提醒<span class="required">*</span></td>
                            <td>
                                <input type="radio" name="SMSRemind" value="1" />
                                是
                                <input type="radio" name="SMSRemind" value="0" checked="checked" />
                                否
                            </td>
                            <td>提醒模版</td>
                            <td colspan="9">
                                <input type="text" name="RemindContent" placeholder="您有一个【XXXX会议】于【XXXX-XX-XX XX:XX】在【XXX会议室】举行，请准时参加  【发送人：XXX】" />
                            </td>
                        </tr>
                        <tr>
                            <td>文件附件</td>
                            <td colspan="10">
                                <table class="table table-hover table-bordered" id="MeetingAttachment_Table">
                                    <thead>
                                        <tr>
                                            <th>文件名</th>
                                            <th>大小</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <input type="hidden" id="MeetingAttachmentIDs" name="FileAttachmentIDs" />
                                <input id="MeetingAttachment_fileupload" class="hidden" type="file" name="files[]" data-url="/Common/UploadFile" multiple>
                                <i class="icon-plus text-primary" id="MeetingAttachment_Add">添加</i>
                                <i class="icon-trash text-muted" id="MeetingAttachment_Emptied">清空</i>
                            </td>
                        </tr>
                        <tr>
                            <td>会议内容<span class="required">*</span></td>
                            <td colspan="11">
                                <textarea name="MeetingContent" rows="5" required="required"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="12" class="text-center">
                                <input type="submit" class="btn btn-primary" value="添加" />
                                <input type="reset" class="btn btn-default" value="重置" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="MeetingMgr">
        <form class="form-inline" id="MeetingMgr_Form">
            <div class="row">
                <div class="col-md-3">
                    <label for="MeetingName">会议名称：</label>
                    <input type="text" class="form-control  calc100-6" name="MeetingName" placeholder="" />
                </div>
                <div class="col-md-3">
                    <label for="MeetingTitle">会议主题：</label>
                    <input type="text" class="form-control  calc100-6" name="MeetingTitle" placeholder="" />
                </div>
                <div class="col-md-6">
                    <label for="StartTime">会议日期：</label>
                    <input type="text" class="form-control datepicker  calc50-4" id="meetingstarttime1" name="StartTime" placeholder="开始日期" />
                    <label for="EndTime">至 </label>
                    <input type="text" class="form-control datepicker  calc50-4" id="meetingendtime1" name="EndTime" placeholder="结束日期" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="MeetingRoomID">会议室：　</label>
                    <select name="MeetingRoomID" class="form-control">
                        <option value="">请选择</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="MeetingUserNames">出席人员：</label>
                    <input type="text" class="form-control calc100-6" id="MeetingMgrUserNames" name="MeetingUserNames" placeholder="" />
                </div>
                <div class="col-md-6  text-right">
                    <input type="button" class="btn btn-default" value="检索" id="MeetingMgr_btnFilter" />
                    <input type="reset" class="btn btn-default" value="重置" />
                </div>
            </div>
        </form>
        <table class="table table-hover table-bordered" id="MeetingMgr_Table">
            <thead>
                <tr>
                    @*<th>序号</th>*@
                    <th>名称</th>
                    <th>主题</th>
                    <th>时间</th>
                    <th>出席人员</th>
                    <th>会议室</th>
                    <th>地点</th>
                    <th>操作</th>
                </tr>
            </thead>
        </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="MeetingRoomMgr">
        <table class="table table-hover table-bordered" id="MeetingRoomMgr_Table">
            <thead>
                <tr>
                    @*<th>序号</th>*@
                    <th>名称</th>
                    <th>可容纳人数</th>
                    <th>所在地点</th>
                    <th>管理员</th>
                    <th>操作</th>
                </tr>
            </thead>
        </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="MeetingRoomAdd">
        <div class="well-lg">
            <form class="form-inline" id="MeetingRoomAdd_Form" action="/MeetingManagement/MeetingRoomAdd">
                <table class="table table-bordered" style="table-layout: fixed">
                    <colgroup>
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>会议室名称<span class="required">*</span></td>
                            <td colspan="3">
                                <input type="text" name="MeetingRoomName" placeholder="" required="required" />
                            </td>
                            <td>会议室地址<span class="required">*</span></td>
                            <td colspan="3">
                                <input type="text" name="MeetingRoomAddr" placeholder="" required="required" />
                            </td>
                            <td>可容纳人数<span class="required">*</span></td>
                            <td colspan="1">
                                <input type="number" name="MeetingRoomAccommodateNumber" min="0" required="required" />
                            </td>
                            <td>管理员<span class="required">*</span></td>
                            <td colspan="1">
                                <input type="text" name="MgrUserName" placeholder="" required="required" />
                            </td>
                        </tr>
                        <tr>
                            <td>设备情况<span class="required">*</span></td>
                            <td colspan="11">
                                <input type="text" name="MeetingRoomEquipment" placeholder="" required="required" />
                            </td>
                        </tr>
                        @*<tr>
                            <td>会议室相片</td>
                            <td colspan="10">
                                <table class="table table-hover table-bordered" id="FileName_Table">
                                    <thead>
                                        <tr>
                                            <th>文件名</th>
                                            <th>大小</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <input type="hidden" id="FileAttachmentIDs" name="FileAttachmentIDs" />
                                <input id="fileupload" class="hidden" type="file" name="files[]" data-url="/Common/UploadFile" multiple>
                                <i class="icon-plus text-primary" id="FileSend_FileName_Add">添加</i>
                                <i class="icon-trash text-muted" id="FileSend_FileName_Emptied">清空</i>
                            </td>
                        </tr>*@
                        <tr>
                            <td>会议室描述<span class="required">*</span></td>
                            <td colspan="11">
                                <textarea rows="5" name="MeetingRoomRemark" required></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="12" class="text-center">
                                <input type="submit" class="btn btn-primary" value="添加" />
                                <input type="reset" class="btn btn-default" value="重置" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

@section css{
    <style type="text/css">
        textarea, input[type=text], input[type=number] {
            width: 100%;
        }

        form td {
            width: 1em;
            white-space: nowrap;
        }

        .bar {
            height: 18px;
            background: green;
        }

        .modal-body > div {
            margin: 1em 0;
        }

        #MeetingRoomImg {
            display: none;
            white-space: normal;
        }
    </style>
}

@section scripts{
    <script type="text/javascript">
        var MeetingRoomData;
        var MeetingRoomMgr_Table;
        function getMeetingRoomID() {
            $.post('/MeetingManagement/GetMeetingRoomSelectList')
            .success(function (data) {
                if (data != null && data != "") {
                    MeetingRoomData = data;
                    $('select[name=MeetingRoomID]').empty();
                    $('select[name=MeetingRoomID]').append($('<option>').val('').text('请选择'));
                    $.each(data, function (index, value) {
                        $('select[name=MeetingRoomID]').append($('<option>').val(value.MeetingRoomID).text(value.MeetingRoomName));
                    });
                }
            })
            .error(errorMsg);
        }
        function RefreshMeetingRoom() {
            getMeetingRoomID();
            MeetingRoomMgr_Table.ajax.reload(null, true);
        }
        $(document).ready(function () {
            InitUserTreeModal({
                UserIDs: "#MeetingUserIDs",
                UserNames: "#MeetingUserNames",
                UserPhones: "#MeetingUserPhones",
            });
            InitUnitTreeModal({
                UnitIDs: "#MeetingUnitIDs",
                UnitNames: "#MeetingUnitNames",
            });
            $(".datetimepicker").datetimepicker({ format: 'yyyy-mm-dd hh:ii', language: 'zh-CN', autoclose: true, })
            .on('changeDate', function () {
                $('#meetingendtime').datetimepicker('setStartDate', $('#meetingstarttime').val())
                $('#meetingendtime1').datetimepicker('setStartDate', $('#meetingstarttime1').val())
            });

            $(".datepicker").datepicker({ format: 'yyyy-mm-dd' });

            $('#MeetingAdd_Form').on('click', 'input[type=submit]', function () {
                if ($('#meetingendtime').val() < $('#meetingstarttime').val()) { errorTimeMsg(); return false; }
                if ($('#MeetingRoomID').val() == '' || $('#MeetingRoomID').val() == null) {
                    Messenger().post({ message: '请选择会议室' + new Date().toLocaleString(), type: 'error', showCloseButton: true }); return false;
                }
            });
            $('#MeetingMgr_Form').on('click', 'input[type=submit]', function () {
                if ($('#meetingendtime1').val() < $('#meetingstarttime1').val()) { errorTimeMsg(); return false; }
            });
            getMeetingRoomID();
            //$('#MeetingRoomID').on('change', function () {
            //    var MeetingRoomImg = $(this).val();
            //    if (MeetingRoomImg == '' || MeetingRoomImg == null) { $('#MeetingRoomImg').hide(); return; }
            //    $('#MeetingRoomImg').show();
            //    var PHOTO;
            //    $.each(MeetingRoomData, function (index, value) {
            //        if (value.MeetingRoomID == MeetingRoomImg) { PHOTO = value.PHOTO; return false; }
            //    });
            //    if (PHOTO == '' || PHOTO == null) { $('#MeetingRoomImg').hide(); return; }
            //    $.each(PHOTO.split(','), function (index, value) {
            //        if (value == '' || value == null) { return true; }
            //        $('#MeetingRoomImg').append($('<img>').attr('src', '/Common/DownloadAttachment?AttachmentID=' + value).attr('height', '200px'));
            //    })
            //});
            MeetingRoomMgr_Table = $('#MeetingRoomMgr_Table').DataTable({
                bAutoWidth: false, bDeferRender: true, responsive: true, bServerSide: true, sServerMethod: 'post', bServerSide: true, bSort: false,
                ajax: {
                    url: '/MeetingManagement/GetMeetingRoomList',
                    error: errorMsg
                },
                aoColumns: [
                    //{ mData: null, sClass: 'text-center nowrap' },
                    { mData: 'MEETINGROOMNAME', sClass: 'text-center nowrap' },
                    { mData: 'ACCOMMODATENUMBER', sClass: 'text-center nowrap' },
                    { mData: 'MEETINGROOMADDR', sClass: 'text-center nowrap' },
                    { mData: 'MGRUSERNAME', sClass: 'nowrap' },
                    {
                        mData: null, sClass: 'text-center nowrap', mRender: function (innerData, type, rowData, meta) {
                            return '<a class="btnMeetingRoomEdit">编辑</a> | <a class="btnMeetingRoomDel">删除</a>';
                        }
                    },
                ],
                //fnDrawCallback: GenerateSerialNumber,
            });
            $('#MeetingRoomMgr_Table').on("click", "a.btnMeetingRoomDel", function () {
                var nRow = $(this).parents('tr')[0];
                var aData = MeetingRoomMgr_Table.row(nRow).data();
                $.post('/MeetingManagement/MeetingRoomRemove', aData)
                    .success(function (data) {
                        if (data.StatusID == 1) {
                            MeetingRoomMgr_Table.draw(true);
                            successMsg();
                        }
                    })
                    .error(errorMsg);
                RefreshMeetingRoom();
            });

            $('#MeetingRoomMgr_Table').on("click", "a.btnMeetingRoomEdit", function () {
                var nRow = $(this).parents('tr')[0];
                var aData = MeetingRoomMgr_Table.row(nRow).data();
                window.parent.showLgModel('/MeetingManagement/MeetingRoomEdit?MeetingRoomID=' + aData.MEETINGROOMID);
                return false;
            });
            var MyMeeting_Table = $('#MyMeeting_Table').DataTable({
                bAutoWidth: false, bDeferRender: true, responsive: true, bServerSide: true, sServerMethod: 'post', bServerSide: true, bSort: false,
                ajax: {
                    url: '/MeetingManagement/GetMyMeetingList',
                    data: function (d) {
                        d.MeetingType = $('input[name=attend]:checked').val();
                    },
                    error: errorMsg
                },
                aoColumns: [
                    //{ mData: null, sClass: 'text-center nowrap' },
                    { mData: 'MEETINGNAME', sClass: 'nowrap', mRender: getDtContent },
                    { mData: 'MEETINGTITLE', sClass: 'nowrap', mRender: getDtContent },
                    { mData: null, sClass: 'text-center nowrap', mRender: function (innerData, type, rowData, meta) { return rowData.STARTTIME + ' 至 ' + rowData.ENDTIME; } },
                    { mData: 'USERNAMES', sClass: 'nowrap', mRender: getDtContent },
                    { mData: 'MEETINGROOMNAME', sClass: 'text-center nowrap' },
                    { mData: 'MEETINGROOADDR', sClass: 'text-center nowrap' },
                    { 'mData': null, 'sClass': 'text-center nowrap', mRender: function (innerData, type, rowData, meta) { return '<a class="btnSeeing">查看</a>'; } },
                ],
                //fnDrawCallback: GenerateSerialNumber,
            });
            $('#MyMeeting_Table').on('click', '.btnSeeing', function () {
                var nRow = $(this).parents('tr')[0];
                var aData = MyMeeting_Table.row(nRow).data();
                window.parent.showLgModel('/MeetingManagement/MeetingDetails?MEETINGID=' + aData.MEETINGID + '&typeID=1');
                MyMeeting_Table.ajax.reload(null, true);
                return false;
            });
            $('input[name=attend]').on('click', function () {
                MyMeeting_Table.ajax.reload(null, true);
            });
            var MeetingMgr_Table = $('#MeetingMgr_Table').DataTable({
                bAutoWidth: false, bDeferRender: true, responsive: true, bServerSide: true, sServerMethod: 'post', bServerSide: true, bSort: false,
                ajax: {
                    url: '/MeetingManagement/GetMeetingList',
                    data: function (d) {
                        var array = $("#MeetingMgr_Form").serializeArray();
                        $(array).each(function () {
                            d[this.name] = this.value;
                        });
                    },
                    error: errorMsg
                },
                aoColumns: [
                    //{ mData: null, sClass: 'text-center nowrap' },
                    { mData: 'MEETINGNAME', sClass: 'nowrap', mRender: getDtContent },
                    { mData: 'MEETINGTITLE', sClass: 'nowrap', mRender: getDtContent },
                    { mData: null, sClass: 'text-center nowrap', mRender: function (innerData, type, rowData, meta) { return rowData.STARTTIME + ' 至 ' + rowData.ENDTIME; } },
                    { mData: 'USERNAMES', sClass: 'nowrap', mRender: getDtContent },
                    { mData: 'MEETINGROOMNAME', sClass: 'text-center nowrap' },
                    { mData: 'MEETINGROOADDR', sClass: 'text-center nowrap' },
                    { 'mData': null, 'sClass': 'text-center nowrap', mRender: function (innerData, type, rowData, meta) { return '<a class="btnSeeing">查看</a>'; } }
                ],
                //fnDrawCallback: GenerateSerialNumber,
            });
            $('#MeetingMgr_Table').on('click', '.btnSeeing', function () {
                var nRow = $(this).parents('tr')[0];
                var aData = MeetingMgr_Table.row(nRow).data();
                window.parent.showLgModel('/MeetingManagement/MeetingDetails?MEETINGID=' + aData.MEETINGID + '&typeID=2');
                MeetingMgr_Table.ajax.reload(null, true);
                return false;
            });
            $('#MeetingMgr_btnFilter').on("click", function () {
                MeetingMgr_Table.ajax.reload(null, true);
            });

            //$('#fileupload').fileupload({
            //    dataType: 'json',
            //    done: function (e, data) {
            //        var $FileIDs = $('#FileAttachmentIDs');
            //        var FileAttachmentIDs = $FileIDs.val();
            //        if (FileAttachmentIDs == '') {
            //            FileAttachmentIDs += ',';
            //        }
            //        $.each(data.result.files, function (index, file) {
            //            FileAttachmentIDs = FileAttachmentIDs + file.fileid + ',';
            //            $('#FileName_Table').append(
            //                '<tr>\
            //                    <td>'+ file.name + '</td>\
            //                    <td class="text-center nowrap">' + file.size + '</td>\
            //                    <td class="text-center ">\
            //                    <i class="icon-trash text-muted btnDelete" fileid="'+ file.fileid + '">删除</i>\
            //                    </td>\
            //                </tr>'
            //            )
            //        });
            //        $FileIDs.val(FileAttachmentIDs);
            //    }
            //});
            //$('#FileName_Table').on('click', '.btnDelete', function () {
            //    var FileAttachmentIDs = $('#FileAttachmentIDs').val();
            //    FileAttachmentIDs = FileAttachmentIDs.replace(',' + $(this).attr('fileid') + ',', ',');
            //    $('#FileAttachmentIDs').val(FileAttachmentIDs);
            //    $(this).parent().parent().remove();
            //});
            //$('#FileSend_FileName_Add').on('click', function () {
            //    $('#fileupload').trigger('click');
            //});
            //$('#FileSend_FileName_Emptied').on('click', function () {
            //    $('#FileName_Table tbody tr').remove();
            //    $('#FileAttachmentIDs').val('');
            //});

            $('#MeetingAttachment_fileupload').fileupload({
                dataType: 'json',
                done: function (e, data) {
                    var $FileIDs = $('#MeetingAttachmentIDs');
                    var FileAttachmentIDs = $FileIDs.val();
                    if (FileAttachmentIDs == '') {
                        FileAttachmentIDs += ',';
                    }
                    $.each(data.result.files, function (index, file) {
                        FileAttachmentIDs = FileAttachmentIDs + file.fileid + ',';
                        $('#MeetingAttachment_Table').append(
                            '<tr>\
                                <td>'+ file.name + '</td>\
                                <td class="text-center nowrap">' + file.size + '</td>\
                                <td class="text-center ">\
                                <i class="icon-trash text-muted btnDelete" fileid="'+ file.fileid + '">删除</i>\
                                </td>\
                            </tr>'
                        )
                    });
                    $FileIDs.val(FileAttachmentIDs);
                }
            });
            $('#MeetingAttachment_Table').on('click', '.btnDelete', function () {
                var FileAttachmentIDs = $('#MeetingAttachmentIDs').val();
                FileAttachmentIDs = FileAttachmentIDs.replace(',' + $(this).attr('fileid') + ',', ',');
                $('#MeetingAttachmentIDs').val(FileAttachmentIDs);
                $(this).parent().parent().remove();
            });
            $('#MeetingAttachment_Add').on('click', function () {
                $('#MeetingAttachment_fileupload').trigger('click');
            });
            $('#MeetingAttachment_Emptied').on('click', function () {
                $('#MeetingAttachment_Table tbody tr').remove();
                $('#MeetingAttachmentIDs').val('');
            });

            $('#MeetingRoomAdd_Form').on('submit', submitForm);
            $('#MeetingRoomAdd_Form').on('submit', function () {
                RefreshMeetingRoom();
            });
            $('#MeetingAdd_Form').on('submit', submitForm);
            $('#MeetingAdd_Form').on('submit', function () {
                MyMeeting_Table.ajax.reload(null, true);
            });
        });
    </script>
}