@{
    Layout = "~/Views/IntegratedService/CaseManagement/_LayoutCaseManagement.cshtml";
}

@section BreadcrumbSection{
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li><a href="#"><i class="icon-home"></i>综合业务</a></li>
            <li>></li>
            <li><a href="/IllegalManagement/">案件管理</a></li>
            <li>></li>
            <li class="active" id="aaa">帮助中心</li>
            <li id="FunctionInfo"></li>
        </ul>
    </div>
}
<div class="row-fluid">
    <div class="span12" id="span90">
        <div class="box box-black" style="margin-top: 0px; text-align:center">
            <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
                <i class="icon-table" style="margin-right: 5px;"></i>一般案件流程
            </div>
            <img src="~/Images/simplecase/案件管理系统流程图.jpg" />
        </div>
    </div>
</div>
