@{
    Layout = "~/Views/IntegratedService/CaseManagement/_LayoutCaseManagement.cshtml";
}

@section HeadStyles_CaseManage{
    <link href="~/Scripts/assets/bootstrap-timepicker/compiled/timepicker.css" rel="stylesheet" />
    <link href="~/Scripts/assets/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
}

@section FootScripts_CaseManage{
    <script src="~/Scripts/assets/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script src="~/Scripts/assets/bootstrap-datepicker/js/bootstrap-datepicker-zh_CN.js"></script>
    <script src="~/Scripts/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //激活菜单
            $("#menuCase").addClass("active");



            //绑定日历控件(未处理案件)
            //$("#txtStartDate").datepicker();
            //$("#txtEndDate").datepicker();
            ////绑定日历控件(已处理案件)
            //$("#txtStartDate2").datepicker();
            //$("#txtEndDate2").datepicker();

            //绑定未处理搜索按钮事件
            //$("#btnQuery").click(function () {
            //    var startDate = $("#txtStartDate").val();
            //    var endDate = $("#txtEndDate").val();
            //    $("#ActiveContainer").html("<table id='DataTable' class='table table-striped table-mod'></table><div class='clear'></div>");
            //    GetActiveHTML(startDate, endDate);
            //});
            //绑定已处理搜索按钮事件
            //$("#btnQuery2").click(function () {
            //    var startDate = $("#txtStartDate2").val();
            //    var endDate = $("#txtEndDate2").val();
            //    $("#ActiveContainer2").html("<table id='DataTable2' class='table table-striped table-mod'></table><div class='clear'></div>");
            //    GetActiveHTML2(startDate, endDate);
            //});

            //获取未处理列表
            function GetActiveHTML(startDate, endDate) {
                var url = "/CaseManagement/GetCases";
                url += "?StartDate=" + startDate;
                url += "&EndDate=" + endDate;

                var columns = [
                    { "sTitle": "案件编号", "sWidth": "180px", "sClass": "center" },
                    { "sTitle": "案由", "sWidth": "150px" },
                    { "sTitle": "当前状态", "sWidth": "170px" },
                    { "sTitle": "递送时间", "sWidth": "120px", "sClass": "center" },
                    {
                        "sName": "Operate",
                        "sTitle": "操作",
                        "sWidth": "40px",
                        "sClass": "center",
                        "bSearchable": false,
                        "bSortable": false,
                        "fnRender": function (oObj) {
                            var myData = eval("[" + oObj.aData[4] + "]");
                            return "<a href='/WorkFlow/WorkflowProcess?WIID=" + myData[0].WIID
                                + "&AIID=" + myData[0].AIID
                                + "' title='案件处理'>处理</a>";
                        } //自定义列的样式
                    }
                ];

                GetDataTable("DataTable", url, columns);

            }
            //获取已处理列表
            //function GetActiveHTML2(startDate, endDate) {
            //    var url = "/CaseManagement/GetProcessCases";
            //    url += "?StartDate=" + startDate;
            //    url += "&EndDate=" + endDate;
            //    var columns = [
            //        { "sTitle": "案件编号", "sWidth": "180px", "sClass": "center" },
            //        { "sTitle": "案由", "sWidth": "150px" },
            //        { "sTitle": "处理状态", "sWidth": "170px" },
            //        { "sTitle": "处理时间", "sWidth": "120px", "sClass": "center" },
            //        { "sTitle": "递送时间", "sWidth": "120px", "sClass": "center" },
            //        { "sTitle": "操作", "sWidth": "40px", "sClass": "center" }
            //    ];
            //    GetDataTable("DataTable2", url, columns);
            //}
            //获取案件分页表单
            function GetDataTable(id, url, columns) {

                var oTable = $('#' + id).dataTable({
                    bProcessing: true,
                    oLanguage: {
                        "sLengthMenu": "每页显示 _MENU_ 条",
                        "sZeroRecords": "没有匹配结果",
                        "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                        "sInfoFiltered": "(一共有 _MAX_  条记录)",
                        "oPaginate": {
                            "sFirst": "首页",
                            "sPrevious": " 上一页 ",
                            "sNext": " 下一页 ",
                            "sLast": " 末页 "
                        }
                    },
                    sPaginationType: "full_numbers",
                    bSort: false,
                    bFilter: false,
                    bPaginate: true,
                    bServerSide: true,
                    bProcessing: false,
                    bLengthChange: true,
                    sAjaxSource: url,
                    aoColumns: columns,
                    fnDrawCallback: function () {
                        $(this).css("width", "100%");
                    }
                });

            }
        });

    </script>
}

@section BreadcrumbSection{
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li><a href="#"><i class="icon-home"></i>综合业务</a></li>
            <li>></li>
            <li><a href="IllegalManagement">案件管理</a></li>
            <li>></li>
            <li class="active" id="aaa">案件中心</li>
            <li id="FunctionInfo"></li>
        </ul>
    </div>
}
<div class="row-fluid">
    <div class="span12" id="span90">
        <div class="box box-black" style="margin-top: 0px; background-color: white">
            <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
                <i class="icon-table" style="margin-right: 5px;"></i>案件中心
            </div>
            <div class="content" style="padding-top: 10px;">
                <ul id="myTab" class="nav nav-tabs tabs-main" style="margin-top: 10px;">
                    <li class="active"><a href="#new" data-toggle="tab">待处理案件</a></li>
                    <li><a href="#inbox" data-toggle="tab">已处理案件</a></li>
                </ul>

                <div id="myTabContent" class="tab-content tabs-main-content padding-null" style="margin-left: 10px">
                    <div class="tab-pane tab-overflow-main fade in active" id="new">
                        <div class="query">
                            <table>
                                <tr>
                                    <td style="width: 80px">
                                        <label style="vertical-align: bottom; margin-top: 5px; margin-bottom: 2px; float: left;">开始日期:</label></td>
                                    <td style="width: 250px">
                                        <input id="txtStartDate" type="text" style="margin-top:5px;margin-bottom:0px;float:left;" value="@(string.Format("{0:yyyy-MM-dd}", DateTime.Now.AddDays(-6)))" class="datepicker" data-date-format="yyyy-mm-dd"></td>
                                    <td style="width: 80px">
                                        <label style="vertical-align: bottom; margin-top: 5px; margin-bottom: 2px;">结束日期: </label>
                                    </td>
                                    <td style="width: 250px">
                                        <input id="txtEndDate" type="text" style="margin-top:5px;margin-bottom:0px;" value="@(string.Format("{0:yyyy-MM-dd}", DateTime.Now))" class="datepicker" data-date-format="yyyy-mm-dd"></td>
                                    <td>
                                        <input id="btnQuery" type="button" style="margin-top: 5px; margin-bottom: 0px;" class="btn btn-info" title="查询" value="查 询">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <hr />
                        <div class="message-list" style="margin-top: 0px;">
                            <div id="ActiveContainer">
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="inbox" style="margin-top: -1px">
                        <div class="query">
                            <table>
                                <tr>
                                    <td style="width: 80px">
                                        <label style="vertical-align: bottom; margin-top: 5px; margin-bottom: 2px; float: left;">开始日期:</label></td>
                                    <td style="width: 250px">
                                        <input id="txtStartDate2" style="vertical-align: bottom; margin-top: 5px; margin-bottom: 2px; float: left;" type="text" value="@(string.Format("{0:yyyy-MM-dd}", DateTime.Now.AddDays(-6)))" class="datepicker" data-date-format="yyyy-mm-dd"></td>
                                    <td style="width: 80px">
                                        <label style="vertical-align: bottom; margin-top: 5px; margin-bottom: 2px;">结束日期: </label>
                                    </td>
                                    <td style="width: 250px">
                                        <input id="txtEndDate2" type="text" style="margin-top:5px;margin-bottom:0px;" value="@(string.Format("{0:yyyy-MM-dd}", DateTime.Now))" class="datepicker" data-date-format="yyyy-mm-dd"></td>
                                    <td>
                                        <input id="btnQuery2" type="button" style="margin-top: 5px; margin-bottom: 0px;" class="btn btn-info" title="查询" value="查 询">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <hr />
                        <div class="message-list" style="margin-top: 0px;">
                            <div id="ActiveContainer2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



