<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="Entities" connectionString="metadata=res://*/NBZGM.csdl|res://*/NBZGM.ssdl|res://*/NBZGM.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=10_80_2_124_15210;password=NBZGM;user id=NBZGM&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Entities" connectionString="metadata=res://*/NBZGM.csdl|res://*/NBZGM.ssdl|res://*/NBZGM.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=172.172.100.24:1521/orcl;password=NBZGM;persist security info=True;user id=NBZGM&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <!--上午上班时间-->
    <add key="NoonGoOnWorkTime" value="8:30:00"/>
    <!--上午下班时间-->
    <add key="NoonGoOffWorkTime" value="11:30:00"/>
    <!--下午上班时间-->
    <add key="EveningGoOnWorkTime" value="13:30:00"/>
    <!--下午下班时间-->
    <add key="EveningGoOffWorkTime" value="17:30:00"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
