<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <connectionStrings>
      <add name="PLEEntities" connectionString="metadata=res://*/PLEEntities.csdl|res://*/PLEEntities.ssdl|res://*/PLEEntities.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=TAIZHOU_NEWPLE_ORCL;password=NEWPLE;persist security info=True;user id=NEWPLE&quot;" providerName="System.Data.EntityClient"/>
    </connectionStrings>
</configuration>
