body {
    font-family: '微软雅黑';
    margin: 0 auto;
    min-width: 980px;
}

.formbody {
    padding: 10px 18px;
}

.dfinputs {
    width: 284px;
    height: 32px;
    line-height: 32px;
    border-top: solid 1px #a7b5bc;
    border-left: solid 1px #a7b5bc;
    border-right: solid 1px #ced9df;
    border-bottom: solid 1px #ced9df;
    background: url(/Images/images/inputbg.gif) repeat-x;
    text-indent: 2px;
    float: left;
    margin: 5px;
}

.dtablefinputs {
    width: 97%;
    height: 32px;
    line-height: 32px;
    border-top: solid 1px #a7b5bc;
    border-left: solid 1px #a7b5bc;
    border-right: solid 1px #ced9df;
    border-bottom: solid 1px #ced9df;
    background: url(/Images/images/inputbg.gif) repeat-x;
   text-indent: 1px;
    float: left;
    margin: 5px;
}

.lb {
    width: 86px;
    line-height: 34px;
    display: block;
    float: left;
}

/*right.html*/
.place {
    height: 40px;
    background: url(/Images/images/righttop.gif) repeat-x;
}

    .place span {
        line-height: 40px;
        font-weight: bold;
        float: left;
        margin-left: 12px;
    }

.placeul li {
    float: left;
    line-height: 40px;
    padding-left: 7px;
    padding-right: 12px;
    background: url(/Images/images/rlist.gif) no-repeat right;
}

    .placeul li:last-child {
        background: none;
    }

.rightinfo {
    padding: 8px;
}

.tools {
    clear: both;
    height: 35px;
    margin-bottom: 8px;
}

.toolbar {
    float: left;
}

    .toolbar li {
        background: url(/Images/images/toolbg.gif) repeat-x;
        line-height: 33px;
        height: 33px;
        border: solid 1px #d3dbde;
        float: left;
        padding-right: 10px;
        margin-right: 5px;
        border-radius: 3px;
        behavior: url(js/pie.htc);
        cursor: pointer;
    }

        .toolbar li span {
            float: left;
            margin-left: 10px;
            margin-right: 5px;
            margin-top: 5px;
        }

.toolbar1 {
    float: right;
}

    .toolbar1 li {
        background: url(/Images/images/toolbg.gif) repeat-x;
        line-height: 33px;
        height: 33px;
        border: solid 1px #d3dbde;
        float: left;
        padding-right: 10px;
        margin-left: 5px;
        border-radius: 3px;
        behavior: url(js/pie.htc);
    }

        .toolbar1 li span {
            float: left;
            margin-left: 10px;
            margin-right: 5px;
            margin-top: 5px;
        }

.tablelist {
    width: 100%;
    clear: both;
    table-layout: fixed;
}

    .tablelist th {
        background: url(/Images/images/th.gif) repeat-x;
        height: 34px;
        line-height: 34px;
        border-bottom: solid 1px #b6cad2;
        text-indent: 11px;
    }

    .tablelist td {
        line-height: 35px;
        text-indent: 11px;
        border-right: dotted 1px #c7c7c7;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.tablelink {
    color: #056dae;
}

.tablelist tbody tr.odd {
    background: #f5f8fa;
}

.tablelist tbody tr:hover {
    background: #e5ebee;
}

.sort {
    padding-left: 3px;
}

.tableListDiv select {
    border: 1px solid #d3dbde;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@media (max-width: 2000px) {
    * {
        font-family: '微软雅黑';
        font-size: 11pt;
        border: 0;
        margin: 0;
        padding: 0;
    }
}
@media (max-width: 1400px) {
    * {
        font-family: '微软雅黑';
        font-size: 9pt;
        border: 0;
        margin: 0;
        padding: 0;
    }
}

/** {
     font-family: '微软雅黑';
    font-size: 11pt;
    border: 0;
    margin: 0;
    padding: 0;
}*/

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

textarea {
    resize: none;
}

a, a:focus {
    text-decoration: none;
    color: #000;
    outline: none;
    blr: expression(this.onFocus=this.blur());
    cursor: pointer;
    *cursor: hand;
}

    a:hover {
        color: #00a4ac;
        text-decoration: none;
    }

.forminfo {
    padding-left: 23px;
}

    .forminfo li {
        margin-bottom: 13px;
        clear: both;
    }

        .forminfo li label {
            width: 105px;
            line-height: 34px;
            display: block;
            float: left;
        }

        .forminfo li i {
            color: #7f7f7f;
            padding-left: 20px;
            font-style: normal;
        }

        .forminfo li cite {
            display: block;
            padding-top: 10px;
        }



.formtitle, .formtitle1 {
    border-bottom: solid 1px #d0dee5;
    line-height: 35px;
    position: relative;
    height: 35px;
    margin-bottom: 10px;
}



    .formtitle span, .formtitle1 span {
        font-weight: bold;
        font-size: 20px;
        border-bottom: solid 3px #66c9f3;
        float: left;
        position: absolute;
        z-index: 100;
        bottom: -1px;
        padding: 0 3px;
        height: 30px;
        line-height: 30px;
    }

.forminfo b {
    color: #ea2020;
    padding-left: 3px;
}

.enter {
    display: block;
    margin-top: 5px;
    width: 94px;
    height: 30px;
    color: #fff;
    background: #3eafe0;
    font-weight: bold;
    border-radius: 2px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

    .enter:hover {
        color: #fff;
        background: #d98c1d;
    }

/*tip*/
.tip {
    width: 485px;
    height: 260px;
    position: absolute;
    top: 10%;
    left: 30%;
    background: #fcfdfd;
    box-shadow: 1px 8px 10px 1px #9b9b9b;
    border-radius: 1px;
    behavior: url(js/pie.htc);
    display: none;
    z-index: 111111;
}

.tiptop {
    height: 40px;
    line-height: 40px;
    background: url(/Images/images/tcbg.gif) repeat-x;
    cursor: pointer;
}

    .tiptop span {
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        float: left;
        text-indent: 20px;
    }

    .tiptop a {
        display: block;
        background: url(/Images/images/close.png) no-repeat;
        width: 22px;
        height: 22px;
        float: right;
        margin-right: 7px;
        margin-top: 10px;
        cursor: pointer;
    }

        .tiptop a:hover {
            background: url(/Images/images/close1.png) no-repeat;
        }

.tipinfo {
    padding-top: 30px;
    margin-left: 65px;
    height: 95px;
}

    .tipinfo span {
        width: 95px;
        height: 95px;
        float: left;
    }

.tipright {
    float: left;
    padding-top: 15px;
    padding-left: 10px;
}

    .tipright p {
        font-size: 14px;
        font-weight: bold;
        line-height: 35px;
    }

    .tipright cite {
        color: #858686;
    }

.tipbtn {
    margin-top: 25px;
    margin-left: 125px;
}

/*.sure, .cancel {
    width: 70px;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    margin-top: 6px;
    color: #fff;
    background: url(/Images/images/btnbg1.png) repeat-x;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}*/
@media (max-width: 2000px) {
   .sure, .cancel {
    width: 70px;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    margin-top: 6px;
    color: #fff;
    background: url(/Images/images/btnbg1.png) repeat-x;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}
}
@media (max-width: 1400px) {
   .sure, .cancel {
    width: 70px;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    margin-top: 6px;
    color: #fff;
    background: url(/Images/images/btnbg1.png) repeat-x;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}
}
    .sure:hover {
        opacity: 0.6;
    }

.cancel {
    background: url(/Images/images/btnbg2.png) repeat-x;
    color: #000;
    font-weight: normal;
}

.btndelete {
    width: 70px;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    margin-top: 6px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    background-color: red;
    font-weight: normal;
}

.cityright {
    float: left;
}

.butn {
    width: 137px;
    height: 35px;
    background: url(/Images/images/btnbg.png) no-repeat;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

/*tab*/
.itab {
    height: 36px;
    border-bottom: solid 1px #d0dee5;
    position: relative;
    border-left: solid 1px #d3dbde;
}

    .itab ul li {
        float: left;
        height: 37px;
        line-height: 37px;
        background: url(/Images/images/itabbg.png) repeat-x;
        border-right: solid 1px #d3dbde;
    }

        .itab ul li a {
            font-size: 14px;
            color: #000;
            padding-left: 25px;
            padding-right: 25px;
        }

            .itab ul li a.selected {
                height: 37px;
                display: block;
                background: url(/Images/images/itabbg1.png) repeat-x;
                font-weight: bold;
            }

.tabson {
    margin: 18px 0px;
}

.formtext {
    height: 45px;
    padding-left: 25px;
    line-height: 20px;
    color: #848383;
}

    .formtext b {
        color: #d70101;
    }

.forminfo b {
    color: #ea2020;
    padding-left: 3px;
}

/*seachform*/
.seachform {
    height: 42px;
}

    .seachform li {
        float: left;
        margin-right: 5px;
    }

        .seachform li label {
            /*padding-right: 10px;*/
            float: left;
            line-height: 44px;
            vertical-align: middle;
            width: 75px;
            display: inline-block;
        }


.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}

    .file input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
    }

    .file:hover {
        background: #AADFFD;
        border-color: #78C3F3;
        color: #004974;
        text-decoration: none;
    }


.btn_ico_image {
    margin: 3px;
    width: 12px;
    height: 12px;
    vertical-align: middle;
}

.btn_ico_a_edit {
    width: 60px;
    height: 20px;
    background-color: #0091ff;
    color: white;
    line-height: 20px;
    padding: 5px;
}

.btn_ico_a_dispose {
    width: 60px;
    height: 20px;
    background: #fd930a;
    color: white;
    line-height: 20px;
    padding: 5px;
}

.btn_ico_a_sh {
    width: 60px;
    height: 20px;
    background: #d3b924;
    color: white;
    line-height: 20px;
    padding: 5px;
}

.btn_ico_a_look {
    width: 60px;
    height: 20px;
    background: #38c952;
    color: white;
    line-height: 20px;
    padding: 5px;
}

.btn_ico_a_delete {
    width: 60px;
    height: 20px;
    background: #e13636;
    color: white;
    line-height: 20px;
    padding: 5px;
}

.setFunctions {
    width: 80px;
    height: 20px;
    background: #fd930a;
    color: white;
    line-height: 20px;
    padding: 5px;
}

.lablestyle {
    cursor: text;
}

.tableListDiv tbody a:focus {
    text-decoration: none;
    color: white;
    outline: none;
    blr: expression(this.onFocus=this.blur());
    cursor: pointer;
    *cursor: hand;
}

.tableListDiv tbody a:hover {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

input:focus {
    border-color: rgba(82,168,236,0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
/*default*/
/*.mainbox{padding:8px;position:relative;}
.mainleft{padding-right:298px;}
.leftinfo{border:#d3dbde solid 1px; height:290px;}
.mainright{width:298px;position:absolute; top:8px; right:8px;}
.dflist{border:#d3dbde solid 1px; width:288px; height:290px; float:right;}
.dflist1{border:#d3dbde solid 1px; width:288px; height:238px; float:right; margin-top:8px;}
.listtitle{background:url(/Images/images/tbg.png) repeat-x; height:36px; line-height:36px; border-bottom:solid 1px #d3dbde; text-indent:14px; font-weight:bold; font-size:14px;}
.more1{float:right; font-weight:normal;color:#307fb1; padding-right:17px;}
.maintj{text-align:center;}
.newlist{padding-left:14px; padding-top:15px;}
.newlist li{line-height:25px; background:url(/Images/images/list2.png) no-repeat 0px 8px; text-indent:11px;}
.newlist i{width:80px; display:block; float:left; font-style:normal;}
.newlist b{font-weight:normal; color:#7b7b7b; padding-right:10px;float:right}
.leftinfos{height:238px;margin-top:8px;}
.infoleft{border:#d3dbde solid 1px; float:left;height:238px;}
.inforight{border:#d3dbde solid 1px; float:right;height:238px; }
.tooli{padding:30px 20px;}
.tooli li{float:left;padding-left:15px; padding-right:15px;margin-bottom:20px;}
.tooli li span{text-align:center;}
.tooli li p{line-height:35px; text-align:center;}*/


.mainbox {
    width: 99%;
    height: 100%;
}

.mainleft {
    width: 70%;
    float: left;
}

.leftinfo {
    border: #d3dbde solid 1px;
    height: 290px;
    width: 100%;
    float: left;
}

.mainright {
    top: 8px;
    float: right;
    width: 29%;
    right: 1%;
    float: right;
}

.dflist {
    border: #d3dbde solid 1px;
    width: 99%;
    height: 290px;
    float: left;
}

.dflist1 {
    border: #d3dbde solid 1px;
    width: 98%;
    height: 238px;
    float: left;
    margin-top: 8px;
}

.listtitle {
    background: url(/Images/images/tbg.png) repeat-x;
    height: 36px;
    line-height: 36px;
    border-bottom: solid 1px #d3dbde;
    text-indent: 14px;
    font-weight: bold;
    font-size: 14px;
}

.more1 {
    float: right;
    font-weight: normal;
    color: #307fb1;
    padding-right: 17px;
}

.maintj {
    text-align: center;
}

.newlist {
    padding-left: 14px;
    padding-top: 15px;
}

    .newlist li {
        line-height: 25px;
        background: url(/Images/images/list2.png) no-repeat 0px 8px;
        text-indent: 11px;
    }

    .newlist i {
        width: 80px;
        display: block;
        float: left;
        font-style: normal;
    }

    .newlist b {
        font-weight: normal;
        color: #7b7b7b;
        padding-right: 10px;
        float: right;
    }

.leftinfos {
    height: 238px;
    margin-top: 8px;
    width: 100%;
}

.infoleft {
    border: #d3dbde solid 1px;
    float: left;
    height: 238px;
}

.infoleft1 {
    border: #d3dbde solid 1px;
    float: left;
    height: 98%;
    width: 49%;
}

.inforight {
    border: #d3dbde solid 1px;
    float: right;
    height: 238px;
}

.inforight1 {
    border: #d3dbde solid 1px;
    float: right;
    height: 98%;
    width: 50%;
}

.tooli {
    padding: 30px 20px;
}

    .tooli li {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 20px;
    }

        .tooli li span {
            text-align: center;
        }

        .tooli li p {
            line-height: 35px;
            text-align: center;
        }
