<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="OmpServiceSoap11Binding" />
        <binding name="CuServiceSoap11Binding" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="OmpServiceSoap11Binding1" />
        <binding name="CuServiceSoap11Binding1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="OmpServiceSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CuServiceSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="OmpServiceSoap12Binding1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CuServiceSoap12Binding1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://172.172.100.10:80/vms/services/OmpService.OmpServiceHttpSoap11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="OmpServiceSoap11Binding"
        contract="OmpService.OmpServicePortType" name="OmpServiceHttpSoap11Endpoint" />
      <endpoint address="http://172.172.100.10:80/vms/services/CuService.CuServiceHttpSoap11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="CuServiceSoap11Binding"
        contract="CmsService.CuServicePortType" name="CuServiceHttpSoap11Endpoint" />
      <endpoint address="http://10.80.2.124:8200/vms/services/OmpService.OmpServiceHttpSoap11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="OmpServiceSoap11Binding1"
        contract="OmpServiceOut.OmpServicePortType" name="OmpServiceHttpSoap11Endpoint1" />
      <endpoint address="http://10.80.2.124:8200/vms/services/CuService.CuServiceHttpSoap11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="CuServiceSoap11Binding1"
        contract="CmsServiceOut.CuServicePortType" name="CuServiceHttpSoap11Endpoint1" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <!--<add name="ZGMEntities" connectionString="metadata=res://*/ZGMModel.csdl|res://*/ZGMModel.ssdl|res://*/ZGMModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=172.172.100.24:1521/orcl;password=NBZGM;persist security info=True;user id=NBZGM&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ZGMEntities" connectionString="metadata=res://*/ZGMModel.csdl|res://*/ZGMModel.ssdl|res://*/ZGMModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=172.172.100.24:1521/orcl;password=NBZGM;persist security info=True;user id=NBZGM&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>