@{
    Layout = null;
}
@model ZGM.Model.XTGL_ZFSJS
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>全部列表</title>
    <link href="/Scripts/assets/data-tables/demo_table.css" rel="stylesheet" />
    <link href="~/Scripts/assets/data-tables/DT_bootstrap.css" rel="stylesheet" />

    <link href="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.js"></script>

    <script type="text/javascript" src="~/Scripts/js/jquery.idTabs.min.js"></script>
    <script src="~/Scripts/assets/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/data-tables/jquery.datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/data-tables/DT_bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/data-tables/PLE_DT_bootstrap.js"></script>

    <script src="~/Scripts/js/PageNotBack.js"></script>

    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-zh-CN.js"></script>
    <script type="text/javascript" src="~/Scripts/js/select-ui.min.js"></script>
    <link href="~/Content/css/OA.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/seaning/style.css" rel="stylesheet" />
    <script src="~/Scripts/layer/layer.js"></script>

    <script type="text/javascript">
        layer.config({
            skin: 'layer-ext-seaning',
            offset: ['100px', '33%'],
            title: '提示',
            moveOut: true,
            closeBtn: false,
            extend: 'skin/seaning/style.css'
        });

    </script>
    <style type="text/css">
        .black_overlay {
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index: 1001;
            -moz-opacity: 0.8;
            opacity: .80;
            filter: alpha(opacity=80);
        }

        .white_content {
            display: none;
            position: absolute;
            top: 10%;
            left: 20%;
            width: 640px;
            height: 270px;
            background-color: white;
            z-index: 1002;
            overflow: auto;
        }

        .btn_ico_a_delete {
            margin-left: -10px;
        }
    </style>

    <script type="text/javascript">
        var oTable;
        var date = new Date();
        var seperator1 = "-";
        var seperator2 = ":";
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate + " " + date.getHours() + seperator2 + date.getMinutes() + seperator2 + date.getSeconds();
        $(document).ready(function () {
            $("#StartTime").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("#EndTime").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });

            GetDataTable();
        });

        //弹出隐藏层
        function ShowDiv(show_div, bg_div, ZFSJID) {
            document.getElementById(show_div).style.display = 'block';
            document.getElementById(bg_div).style.display = 'block';
            var bgdiv = document.getElementById(bg_div);
            bgdiv.style.width = document.body.scrollWidth;
            $("#" + bg_div).height($(document).height());
            $("#ZFSJID").val(ZFSJID);
        };
        //关闭弹出层
        function CloseDiv(show_div, bg_div) {
            var ZFSJID = $("#ZFSJID").val();
            var CONTENT = $("#CONTENT").val();
            if (CONTENT == "" || CONTENT == null) {
                layer.alert('请添加督察意见!', {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                });

                return false;
            }
            $.ajax({
                type: "POST",
                url: "/LDDC/Inspection",
                data: {
                    ZFSJID: ZFSJID, CONTENT: CONTENT
                },
                cache: false,
                success: function (data) {
                    if (data == 1) {
                        layer.alert('督办成功!', { icon: 1, skin: 'layer-ext-seaning' }, function (index) {
                            layer.close(index);
                            location.href = "/LDDC/InspectionList";
                        });
                    }
                },
                error: function () {
                    layer.alert('网络异常，请重试!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });

                }
            });
            document.getElementById(show_div).style.display = 'none';
            document.getElementById(bg_div).style.display = 'none';
        };

        function Click_Div(show_div, bg_div) {
            document.getElementById(show_div).style.display = 'none';
            document.getElementById(bg_div).style.display = 'none';
        }




        function GetDataTable() {
            if (oTable != null) {
                oTable.fnSettings().sAjaxSource = "/LDDC/InspectionTableList";
                oTable.fnDraw(true);
            } else {
                oTable = $('#InspectionTable').dataTable({
                    sAjaxSource: "/LDDC/InspectionTableList",
                    fnServerParams: function (aoData) {
                        aoData.push(
                            { "name": "EVENTTITLE", "value": $("#EVENTTITLE").val() },
                            { "name": "StartTime", "value": $("#StartTime").val() },
                            { "name": "EndTime", "value": $("#EndTime").val() },
                            { "name": "SOURCEID", "value": $("#SOURCEID").val() },
                            { "name": "ISTimeOut", "value": $("#ISTimeOut").val() },
                            { "name": "username", "value": $("#username").val() }
                            );
                    },
                    aoColumns: [
                         {
                             mDataProp: "LEVELNUM", sWidth: "90", sTitle: "紧急级别", fnRender: function (obj) {
                                 if (obj.aData.LEVELNUM == 2) {
                                     LEVELNAME = '<img title="紧急事件" src="/Images/images/JJSJ.png" />';
                                 }
                                 else if (obj.aData.LEVELNUM == 3) {
                                     LEVELNAME = '<img title="特急事件" src="/Images/images/TJSJ.png" />';
                                 }
                                 else {
                                     LEVELNAME = '<img title="一般事件" src="/Images/images/YBSJ.png" />';
                                 }
                                 return LEVELNAME
                             }
                         },
                        { mDataProp: "EVENTCODE", sWidth: "150", sTitle: "事件编号", fnRender: function (obj) { return obj.aData.EVENTCODE } },
                      {
                          mDataProp: "EVENTTITLE", sTitle: "事件标题", fnRender: function (obj) {
                              var value = "<p style='text-align:left' title='" + obj.aData.EVENTTITLE + "'> " + obj.aData.EVENTTITLE + "</p>";
                              return value
                          }
                      },
                         //{ mDataProp: "wfdname", sWidth: "90", sTitle: "环节名称", fnRender: function (obj) { return obj.aData.wfdname } },

                        { mDataProp: "SOURCENAME", sWidth: "120", sTitle: "事件来源", fnRender: function (obj) { return obj.aData.SOURCENAME } },
                        { mDataProp: "createtime", sWidth: "180", sTitle: "上报时间", fnRender: function (obj) { return obj.aData.createtime } },

                      { mDataProp: "username", sWidth: "90", sTitle: "处理人", fnRender: function (obj) { return obj.aData.username } },
                      {
                          mDataProp: "ISOVERDUE", sWidth: "80", sTitle: "是否超时", fnRender: function (obj) {


                              if (obj.aData.ISOVERDUE == 1) {
                                  ISOVERDUE = '<img title="超时" src="/Images/images/Timeout.png" />';
                              }
                              else if (obj.aData.ISOVERDUE == 2) {
                                  ISOVERDUE = '<img title="预警" src="/Images/images/Warning.png" />';
                              }
                              else {
                                  ISOVERDUE = '<img title="未超时" src="/Images/images/NoTimeout.png" />';
                              }
                              return ISOVERDUE
                          }
                      },  {
                          mDataProp: "statusName", sWidth: "90", sTitle: "是否结案", fnRender: function (obj) {

                        if (obj.aData.status == "2") {
                            statusName = '<span  style="color:red">已结案</span>';
                        } else {
                            statusName = ' <span>未结案</span>';
                        }
                        return statusName

                    }
              },
                    {
                        mDataProp: "INSPECTIONIDEAS_NUM", sWidth: "90", sTitle: "是否督办", fnRender: function (obj) {

                            if (obj.aData.INSPECTIONIDEAS_NUM != "0") {
                                INSPECTIONIDEAS = '<span  style="color:red">已督办</span>';
                            } else {
                                INSPECTIONIDEAS = ' <span>未督办</span>';
                            }
                            return INSPECTIONIDEAS

                        }
                    },
                     {
                         mDataProp: "mun",
                         sWidth: "200",
                         sTitle: "操作",
                         fnRender: function (obj) {
                             if (obj.aData.wfdid != "20160407132010002" && obj.aData.status != 2) {
                                 var value = '<a class="btn_ico_a_delete" href="javascript:void(0);" onclick="ShowDiv(\'MyDiv\', \'fade\',\'' + obj.aData.ZFSJID + '\')"  ><img src="/Images/btnimage/sh.png" class="btn_ico_image" />督办</a>'
                             } else {
                                 var value = "";
                             }
                             
                             var edit = '<a class="btn_ico_a_look" href="/XTGL/GetView?ID=' + obj.aData.ZFSJID + '&WFSID=' + obj.aData.wfsid + '&pathName=5"><img src="/Images/btnimage/look.png" class="btn_ico_image" />查看</a>';
                             return value + " " + edit;
                         }
                     }
                    ],
                    aoColumnDefs: [{ sDefaultContent: '', aTargets: ['_all'] }],
                    fnDrawCallback: function (oSettings) {
                        var pagerIndex = oSettings._iDisplayStart / oSettings._iDisplayLength + 1;
                        var $currentPager = $(".dataTables_paginate span a:contains('" + pagerIndex + "')");
                        $currentPager.attr("style", "font-weight :bold;!important");
                    }
                });
            }
        }

        //查询
        function Search() {
            var StartTime = $("#StartTime").val();
            var EndTime = $("#EndTime").val();
            if (StartTime > EndTime) {
                layer.alert('开始时间不能大于结束时间!', {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                });

                return;
            }
            oTable.fnPageChange('first', true);
            oTable.fnClearTable(false);
        }
    </script>
</head>

<body>
    <div class="place" style="background-image: url(/Images/images/righttop.gif)">
        <span>位置：</span>
        <ul class="placeul">
            <li>督察列表</li>
        </ul>
    </div>
    <div class="rightinfo">
        <div class="tools">
            <table>
                <tr>
                    <td>事件标题：</td>
                    <td>
                        <input name="EVENTTITLE" id="EVENTTITLE" type="text" class="dfinputs" style="width: 130px; height: 32px;" /></td>
                    <td>处理人：</td>
                    <td>
                        <input name="username" id="username" type="text" class="dfinputs" style="width: 130px; height: 32px;" /></td>
                    <td>开始时间：</td>
                    <td>
                        <input id="StartTime" type="text" readonly="readonly" class="dfinputs" data-date-format="yyyy-mm-dd" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now.AddMonths(-1))" style="width: 130px;height:32px;" /></td>
                    <td>结束时间：</td>
                    <td>
                        <input id="EndTime" type="text" readonly="readonly" class="dfinputs" data-date-format="yyyy-mm-dd" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now)"style="width: 130px;height:32px;"/></td>
                    <td>来源：</td>
                    <td>@Html.DropDownList("SOURCEID", ViewBag.EventSource as IEnumerable<SelectListItem>, "请选择来源", new { onchange = "changeEventSourceID()", @class = "dfinputs", @style = "width:130px;height:35px" })
                    </td>
                    <td>
                        <input name="" type="button" class="sure" onclick="Search()" style="margin-top: 0px;" value="查询" /></td>
                </tr>
            </table>
            <div style="clear: both; margin-top: 10px;" class="tableListDiv">
                <table class="tablelist" id="InspectionTable" style="text-align: center">
                </table>
            </div>
        </div>
    </div>
    <input id="ZFSJID" style="display: none" value="" />

    <!--弹出层时背景层DIV-->
    <div id="fade" class="black_overlay"></div>
    <div id="MyDiv" class="white_content">
        <div class="tiptop"><span>领导督办</span><a onclick="Click_Div('MyDiv','fade')"></a></div>
        <div>
            <label style="float: left; margin: 20px">督办意见:<b style="color: red">*</b></label>
            <textarea id="CONTENT" style="height: 150px; width: 500px; margin-right: 20px" class="dfinputs"></textarea>
        </div>

        <div>

            <input name="" type="button" style="float: right; margin-right: 60px; margin-top: 20px" class="sure" value="督办" onclick="CloseDiv('MyDiv', 'fade')" />

        </div>
    </div>

    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>
</body>
</html>
