@{
    Layout = "~/Views/SysManagement/WorkflowConfig/_LayoutWorkFlowConfigManagement.cshtml";
}

@section HeadStyles_WorkFlowConfigManage{
    <style type="text/css">
        .center
        {
            text-align: center !important;
        }
    </style>
}

@section FootScripts_WorkFlowConfigManage
{
    <script type="text/javascript">
        var oTable;
        $(function () {
            $("#IllegalListUL").css("display", "block");
            //左边违法行为树
            var setting = {
                data: {
                    simpleData: {
                        enable: true
                    }
                },
                callback: {//点击树节点时触发事件
                    onClick: function (event, treeId, treeNode) {
                        var id = treeNode.value;
                        var type = treeNode.type;

                        if (type == "zl")
                        {
                            return;
                        }

                        $("#nodeID")[0].value = id;
                        $("#nodeType")[0].value = type;
                        $("#classAddPanel").css("display", "none");
                        $("#classEditPanel").css("display", "none");
                        $("#tabledata").css("display", "block");
                        var IllegalClassListClickURL = "/IllegalManagement/IllegalClassList?ID="
                            + id + "&&type="
                            + type + "&&Random="
                            + Math.random();

                        BindDataTable(IllegalClassListClickURL);
                    }
                },
            };

            $.ajax({
                type: "POST",
                url: ("/IllegalManagement/GetIllegalTree"),
                success: function (data) {
                    var zNodes = data;
                    $.fn.zTree.init($("#tree"), setting, zNodes);

                    //配置树展开
                    var selectID = "@ViewBag.ID", selectType = "@ViewBag.Type";
                    if (selectID != "0" && selectID != "root") {
                        var treeObj = $.fn.zTree.getZTreeObj("tree");
                        var node = treeObj.getNodeByParam("value", selectID, null);
                        $("#nodeID")[0].value = selectID;
                        $("#nodeType")[0].value = selectType;
                        var IllegalClassListURL = "/IllegalManagement/IllegalClassList?ID="
                            + selectID + "&&type="
                            + selectType + "&&Random="
                            + Math.random();

                        if (selectType == "dl") {
                            //展开节点
                            treeObj.expandNode(node, true, false, true);
                            treeObj.selectNode(node);

                            BindDataTable(IllegalClassListURL);
                        } else if (selectType == "xl") {
                            //展开节点
                            treeObj.expandNode(node, true, false, true);
                            treeObj.selectNode(node);

                            BindDataTable(IllegalClassListURL);
                        }

                    }
                        //第一次加载页面显示所有的大类列表
                    else {
                        var IllegalClassListIndexUrl = "/IllegalManagement/IllegalClassList?ID=0&&type=root&&Random="
                            + Math.random();

                        BindDataTable(IllegalClassListIndexUrl);
                    }
                }
            });
        })

        //设置树的高度
        function setHeightFunction() {
            var height1 = $("#listContentDiv")[0].clientHeight;
            var height2 = $("#addButton")[0].clientHeight;
            $("#treeContentDiv").height(height1+height2-20);
        }

        //获取大小子类列表数据
        function BindDataTable(url) {
            if (oTable != null) {
                oTable.fnSettings().sAjaxSource = url;
                oTable.fnDraw(true);
            } else {
                oTable = $('#ILLEGALCLSAATable').dataTable({
                    sAjaxSource: url,

                    aoColumns: [
                        { "mDataProp": "Code", "sClass": "center" },
                        { "mDataProp": "Type", "sClass": "center" },
                        { "mDataProp": "Name", "sClass": "left" },
                        {
                            "mDataProp": function (data) {
                                var ID = $("#nodeID").val();
                                var Type = $("#nodeType").val();
                                var edit = "<a class='btn btn-primary btn-small' href='#' onclick=\"EditIllegalClass(" + data.IllegalClassID + ")\"><i class='icon-edit padding-null'></i> 编辑 </a>";
                                var del = "<a class='btn btn-danger btn-small' href='/IllegalManagement/DeleteIllegalClass?IllegalClassID=" + data.IllegalClassID + "&&ID=" + ID + "&&Type=" + Type + "' onclick=\"return DeleteIllegalClass(" + data.IllegalClassID + ",'" + data.Name + "');\"><i class='icon-trash padding-null'></i> 删除 </a>";
                                return edit + "  " + del;
                            }, "sClass": "center"
                        }
                    ],
                    fnDrawCallback: function (oSettings) {
                        var pagerIndex = oSettings._iDisplayStart / oSettings._iDisplayLength + 1;
                        var $currentPager = $(".dataTables_paginate span a:contains('" + pagerIndex + "')");
                        $currentPager.attr("style", "font-weight :bold;!important");
                        setHeightFunction();
                    }
                });
            }
        }

        //添加大小子类
        function AddIllegalClass(illegalClassTypeID) {
            $("#tabledata").css("display", "none");
            $("#classAddPanel").css("display", "block");
            $("#classAddPanel").load("/IllegalManagement/AddIllegalClass?random=" + Math.random(),
                {
                    ID: $("#nodeID").val(),
                    Type: $("#nodeType").val(),
                    IllegalClassTypeID: illegalClassTypeID
                });
        }
        //编辑大小子类
        function EditIllegalClass(illegalClassID) {
            $("#tabledata").css("display", "none");
            $("#classEditPanel").css("display", "block");
            $("#classEditPanel").load("/IllegalManagement/EditIllegalClass?random=" + Math.random(),
                {
                    illegalClassID: illegalClassID,
                    ID: $("#nodeID").val(),
                    Type: $("#nodeType").val()
                });
        }

        //类的删除
        function DeleteIllegalClass(IllegalClassID, IllegalClassName) {
            var flag = false;
            $.ajax({
                type: "get",
                url: ('/IllegalManagement/GetIllegalClassInfomation'),
                async: false,
                data: { 'ID': IllegalClassID },
                success: function (result) {
                    if (result == 0) {

                        if (window.confirm("是否确认删除:" + IllegalClassName + "?")) {
                            flag = true;
                        }

                    }
                    else {
                        alert("该类与其他类或违法事项相关联,请先删除它的下一级!");
                        flag = false;
                    }
                }

            });

            return flag;
        }
    </script>

}

@section BreadcrumbSection{
    <div id="breadcrumbs">
        <ul class="breadcrumb">

            <li><a href="#"><i class="icon-home"></i>综合业务</a></li>
            <li>></li>
            <li><a href="#">案件管理</a></li>
            <li>></li>
            <li class="active" id="">违法行为类别</li>
            <li id=""></li>

        </ul>
    </div>
}

<div class="row-fluid">
    <div class="span3">
        <div class="box box-black" style="margin-top: 0px;">
            <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
                <i class="icon-reorder" style="margin-right: 5px;"></i>违法行为类别树
            </div>
            <div class="box-content" id="treeContentDiv">
                <ul id="tree" class="ztree"></ul>
            </div>
        </div>
    </div>
    <div class="span9" id="tabledata">
        <div class="box box-black" style="margin-top: 0px;">
            <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
                <i class="icon-reorder" style="margin-right: 5px;"></i>违法行为类别列表
            </div>
            <div class="box-content" id="addButton">
                <button class="btn btn-primary" id="AddDL" onclick="AddIllegalClass(1)">添加大类</button>
                <button class="btn btn-primary" id="AddXL" onclick="AddIllegalClass(2)">添加小类</button>
                <button class="btn btn-primary" id="AddZL" onclick="AddIllegalClass(3)">添加子类</button>
            </div>
            <div class="box-content" id="listContentDiv">
                <table class="table table-bordered table-striped table-hover fill-head" id="ILLEGALCLSAATable">
                    <thead>
                        <tr>
                            <th style="text-align: center;">代码</th>
                            <th style="text-align: center;">类型</th>
                            <th style="text-align: center;">名称</th>
                            <th style="text-align: center; width: 135px;">操作</th>
                        </tr>
                    </thead>
                </table>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
    @*大小子类的添加*@
    <div id="classAddPanel" style="display: none;" class="span9">
    </div>
    @*大小子类的修改*@
    <div id="classEditPanel" style="display: none;" class="span9">
    </div>
</div>
@Html.Hidden("nodeID", "0")
@Html.Hidden("nodeType", "root")

