<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="hzwEntities" connectionString="metadata=res://*/HZW.csdl|res://*/HZW.ssdl|res://*/HZW.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.80.2.135;user id=hzw;password=hzw;persistsecurityinfo=True;port=3306;database=hzw&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="TZWebServiceImplServiceSoapBinding" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://183.136.153.51:8181/eUrbanMIS/ws/tzsyn" binding="basicHttpBinding" bindingConfiguration="TZWebServiceImplServiceSoapBinding" contract="ServiceReference.TZWebService" name="TZWebServiceImplPort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
