@{
    Layout = null;
}
@model ZGM.Model.QWGL_SIGNINAREAS
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>签到区域管理</title>
    <link href="/Scripts/assets/data-tables/demo_table.css" rel="stylesheet" />
    <link href="~/Scripts/assets/data-tables/DT_bootstrap.css" rel="stylesheet" />

    <link href="~/Scripts/assets/timepicker/jquery.datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.js"></script>

    <script type="text/javascript" src="~/Scripts/js/jquery.idTabs.min.js"></script>
    <script src="~/Scripts/assets/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/data-tables/jquery.datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/data-tables/DT_bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/data-tables/PLE_DT_bootstrap.js"></script>

    <script src="~/Scripts/assets/timepicker/jquery.datetimepicker.full.min.js"></script>

    <script type="text/javascript" src="~/Scripts/js/select-ui.min.js"></script>
    <link href="~/Content/css/OA.css" rel="stylesheet" />

    <script src="~/Scripts/js/PageNotBack.js"></script>
    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/seaning/style.css" rel="stylesheet" />
    <script src="~/Scripts/layer/layer.js"></script>

    <script type="text/javascript">
        layer.config({
            skin: 'layer-ext-seaning',
            offset: ['100px', '33%'],
            title: '提示',
            moveOut: true,
            closeBtn: false,
            extend: 'skin/seaning/style.css'
        });

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#AddStartTime").datetimepicker({
                datepicker: false,
                format: "H:i",
                step: 5,changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true 
            });
            $("#AddEndTime").datetimepicker({
                datepicker: false,
                format: "H:i",
                step: 5,changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true 
            });
            $(".select1").uedSelect({
                width: 345
            });
            $(".select2").uedSelect({
                width: 167
            });
            $(".select3").uedSelect({
                width: 100
            });
            $("#selectUser").click(function () {
                $("#tip1").fadeIn(200);
            });
            $(".sure").click(function () {
                $(".tip").fadeOut(100);
            });

            $("#SetUser").click(function () {
                $("#tip2").fadeIn(200);
            });
            $(".tiptop a").click(function () {
                $(".tip").fadeOut(200);
            });
            $("#pageback").click(function () {
                location.href = "/RRManagement/Index";
            })
            $("#usual1 ul").idTabs();
            $('.tablelist tbody tr:odd').addClass('odd');


            GetDataTable();
        });

        var oTable;
        //填充签到区域列表
        function GetDataTable() {
            oTable = $('#RRTableContent').dataTable({
                sServerMethod: "POST",
                sAjaxSource: "/RRManagement/RRManagement_Grid",
                fnServerParams: function (aoData) {
                    aoData.push(
                        { "name": "SignInAreaName", "value": $("#SignInAreaName").val() }
                        );
                },
                aoColumns: [
                    { mDataProp: "AREANAME" },
                    { mDataProp: "STIME" },
                     { mDataProp: "ETIME" },
                    {
                        mDataProp: function (data) {
                            var parentUnitID = $("#ParentUnitID").val();
                            var edit = "<a class='btn_ico_a_edit' href='#' onclick=\"EditAreaShow(" + data.AREAID + ")\"><img src='/Images/btnimage/edit.png' class='btn_ico_image' />编辑</a>";
                            var del = "<a class='btn_ico_a_delete' href='#' onclick=\"Delete(" + data.AREAID + ")\"><img src='/Images/btnimage/delete.png' class='btn_ico_image' />删除</a>";
                            return edit + "  " + del;
                        }, "sClass": "center"
                    }
                ],
                aoColumnDefs: [{ sDefaultContent: '', aTargets: ['_all'] }],
                fnDrawCallback: function (oSettings) {
                    var pagerIndex = oSettings._iDisplayStart / oSettings._iDisplayLength + 1;
                    var $currentPager = $(".dataTables_paginate span a:contains('" + pagerIndex + "')");
                    $currentPager.attr("style", "font-weight :bold;!important");
                }
            });
        }

        function mapInited() {
            setTimeout(function () {
                var mapCtrl = document.getElementById("mapCtrl").content.MapCtrl;
                var Geometry = $("#Geometry").val();
                mapCtrl.AddPolygon("Green", Geometry);
            }, 1000)
        }

        function mapDraw(color, s) {
            var a = $("#Geometry").val();
            a = s;
            $("#Geometry").val(a);
        }

        function mapClear() {
            var a = "";
            $("#Geometry").val(a);
        }

        //查询
        function Search() {
            oTable.fnPageChange('first', true);
            oTable.fnClearTable(false);
        }

        //提交保存
        function Submit() {
            $("#ShowOrHide").hide();
            if ($("#AddSignInArea").val() == "") {
                layer.alert('请填写签到地点!', {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                }, function (index) { $("#ShowOrHide").show(); layer.close(index); });
                return false;
            }
            if ($("#AddStartTime").val() == "") {
                layer.alert('请填写开始时间!', {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                }, function (index) { $("#ShowOrHide").show(); layer.close(index); });

                return false;
            }
            if ($("#AddEndTime").val() == "") {
                layer.alert('请填写结束时间!', {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                }, function (index) { $("#ShowOrHide").show(); layer.close(index); });


                return false;
            }
            if ($("#Geometry").val() == "") {
                layer.alert('请选择地图位置!', {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                }, function (index) { $("#ShowOrHide").show(); layer.close(index); });


                return false;
            }

            $.ajax({
                type: "POST",
                url: "/RRManagement/SubmitAddSignInArea",
                data: {
                    AreaName: $("#AddSignInArea").val(),
                    StartTime: $("#AddStartTime").val(),
                    EndTime: $("#AddEndTime").val(),
                    Geometry: $("#Geometry").val()
                },
                success: function (date) {
                    if (date == "添加成功") {
                        layer.alert(date, { icon: 1, skin: 'layer-ext-seaning' }, function (index) {
                            layer.close(index);
                            location.href = "/RRManagement/Index";
                        });
                    }
                    else {
                        layer.alert(date, { icon: 11, skin: 'layer-ext-seaning' });
                    }
                }
            })
        }

        //提交修改
        function Edit(areaid) {
            $("#ShowOrHide").hide();
            if ($("#AddSignInArea").val() == "") {
                layer.alert('请填写签到地点!', {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                }, function (index) { $("#ShowOrHide").show(); layer.close(index); });

                return false;
            }
            if ($("#AddStartTime").val() == "") {
                layer.alert('请填写开始时间!', {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                }, function (index) { $("#ShowOrHide").show(); layer.close(index); });


                return false;
            }
            if ($("#AddEndTime").val() == "") {
                layer.alert('请填写结束时间!', {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                }, function (index) { $("#ShowOrHide").show(); layer.close(index); });


                return false;
            }
            if ($("#Geometry").val() == "") {
                layer.alert('请选择地图位置!', {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                }, function (index) { $("#ShowOrHide").show(); layer.close(index); });


                return false;
            }

            $.ajax({
                type: "POST",
                url: "/RRManagement/SubmitEditSignInArea",
                data: {
                    AreaId: $("#editbtn").text(),
                    AreaName: $("#AddSignInArea").val(),
                    StartTime: $("#AddStartTime").val(),
                    EndTime: $("#AddEndTime").val(),
                    Geometry: $("#Geometry").val()
                },
                success: function (date) {
                    if (date == "修改成功") {
                        layer.alert(date, { icon: 1, skin: 'layer-ext-seaning' }, function (index) {
                            layer.close(index);
                            location.href = "/RRManagement/Index";
                        });
                    }
                    else {
                        layer.alert(date, { icon: 11, skin: 'layer-ext-seaning' });
                    }
                }
            })
        }

        //删除区域
        function Delete(areaid) {
            layer.confirm('是否确认删除?', {
                btn: ['是', '否'],
                icon: 4,
                //按钮
            }, function () {
                $.ajax({
                    type: "GET",
                    url: "/RRManagement/DeleteSignInArea?AreaId=" + areaid,
                    success: function (data) {
                        if (data == "1") {
                            layer.alert("删除成功", { icon: 1, skin: 'layer-ext-seaning' }, function (index) {
                                layer.close(index);
                                location.href = "/RRManagement/Index";
                            });
                        } else {
                            layer.alert("删除失败", { icon: 0, skin: 'layer-ext-seaning' }, function (index) {
                                layer.close(index);
                                location.href = "/RRManagement/Index";
                            });
                        }
                    }
                });
            }, function () {
                layer.close();
            });
        }

        //区域编辑显示
        function EditAreaShow(areaid) {
            $.ajax(
                {
                    type: 'GET',
                    url: '/RRManagement/EditSignInAreaShow?random=' + Math.random(),
                    data: { AreaID: areaid },
                    success: function (data) {
                        $(".itab a:eq(1)").click();
                        $(".itab a:eq(1)").text("编辑签到区域");
                        $("#addbtn").hide();
                        $("#editbtn").show();
                        $("#editbtn").text(areaid);
                        $("#AddSignInArea").val(data.list.AREANAME);
                        $("#AddStartTime").val(data.list.STIME);
                        $("#AddEndTime").val(data.list.ETIME);
                        $("#Geometry").val(data.list.GEOMETRY);
                    }
                });
        }

    </script>

</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li>签到区域管理</li>
        </ul>
    </div>
    <div class="formbody">
        <div id="usual1" class="usual">
            <div class="itab">
                <ul>
                    <li><a href="#tab1" class="selected">签到区域列表</a></li>
                    <li><a href="#tab2">添加签到区域</a></li>
                </ul>
            </div>
            <div id="tab1" class="tabson">
                <table>
                    <tr>
                        <td>
                            <label>签到地点：</label></td>
                        <td>
                            <input id="SignInAreaName" type="text" class="dfinputs" /></td>
                        <td>
                            <input type="button" class="sure" value="查询" onclick="Search()" style="margin-top: 0px;" /></td>
                    </tr>
                </table>

                <div style="clear: both; margin-top: 10px;" class="tableListDiv">
                    <table class="tablelist" id="RRTableContent" style="text-align: center">
                        <thead>
                            <tr>
                                <th style="text-align: center">地点名称</th>
                                <th style="text-align: center">开始时间</th>
                                <th style="text-align: center">结束时间</th>
                                <th style="text-align: center;">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div id="tab2" class="tabson">
                <ul class="forminfo">

                    <li>
                        <label>签到地点<b>*</b></label>
                        <input id="AddSignInArea" type="text" class="dfinputs" placeholder="请输入签到地点" />
                    </li>
                    <li>
                        <label>开始时间<b>*</b></label>
                        <input id="AddStartTime" type="text" class="dfinputs" placeholder="请输入开始时间" />
                    </li>
                    <li>
                        <label>结束时间<b>*</b></label>
                        <input id="AddEndTime" type="text" class="dfinputs" placeholder="请输入结束时间" />
                    </li>

                    <li>
                        <label>地图位置<b>*</b></label>
                        <div class="form-group" id="ShowOrHide" style="margin-bottom: 5px;">
                            <div class="col-sm-9 col-lg-10 controls">
                            </div>
                            @Html.HiddenFor(model => model.GEOMETRY, new { @name = "Geometry", @id = "Geometry" })
                            <div class="form-group" style="width: 90%; height: 350px; margin-left: 85px;">
                                <div id="silverlightControlHost" style="height: 322px;">
                                    <object id="mapCtrl" data="data:application/x-silverlight-2," type="application/x-silverlight-2" height="100%" width="100%">
                                        <param name="source" value="/ClientBin/MapCtrl.xap" />
                                        <param name="background" value="white" />
                                        <param name="minRuntimeVersion" value="5.0.61118.0" />
                                        <param name="autoUpgrade" value="true" />
                                      <param id="initParams" name="initParams" value="IsGoogleMap=false,MapUrl=@ZGM.Web.ConfigManager.MapUrl,X1=@ZGM.Web.ConfigManager.MapLonX1,Y1=@ZGM.Web.ConfigManager.MapLatY1,X2=@ZGM.Web.ConfigManager.MapLonX2,Y2=@ZGM.Web.ConfigManager.MapLatY2,Mode=4,PinUrl=./Images/pin.png,OffsetX=24,OffsetY=48,fileUrl=" />
                                        <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=5.0.61118.0" style="text-decoration: none">
                                            <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight" style="border-style: none" />
                                        </a>
                                    </object>
                                    <iframe id="_sl_historyFrame" style="visibility: hidden; height: 0px; width: 0px; border: 0px"></iframe>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <label>&nbsp;</label>
                        <input id="addbtn" type="button" class="sure" style="margin-top: 30px;" value="保存" onclick="Submit()" />
                        <input id="editbtn" type="button" style="display: none; margin-top: 30px;" class="sure" onclick="Edit()" value="修改" />
                        <input id="pageback" type="button" class="sure" value="返回">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
