@{
    ViewBag.Title = "执法督查";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadStyles{
    <link href="~/Scripts/assets/data-tables/demo_table.css" rel="stylesheet" />
    <link href="~/Scripts/assets/data-tables/DT_bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/assets/zTree/zTreeStyle.css" rel="stylesheet" />
    @RenderSection("HeadStyles_EnforceManage", required: false)
}

@section FootScripts{
    <script src="~/Scripts/assets/data-tables/jquery.datatables.min.js"></script>
    <script src="~/Scripts/assets/data-tables/DT_bootstrap.js"></script>
    <script src="~/Scripts/assets/data-tables/PLE_DT_bootstrap.js"></script>
    <script src="~/Scripts/assets/zTree/jquery.ztree.core-3.5.js"></script>
    <script src="~/Scripts/assets/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script src="~/Scripts/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/assets/bootstrap-datepicker/js/bootstrap-datepicker-zh_CN.js"></script>


    @RenderSection("FootScripts_EnforceManage", required: false)

    <script type="text/javascript">
        setTimeout(function () {
            var scrollHeight = window.document.body.scrollHeight;
            var sidebarHeight = scrollHeight - 112;
            $("#sidebar").css("height", sidebarHeight);
        }, 1000);
    </script>

}
<script type="text/javascript">
    $(function () {
        var n = function () {
            if ($("#sidebar.sidebar-fixed").size() == 0) {
                $("#sidebar .nav").css("height", "auto");
                return
            }
            if ($("#sidebar.sidebar-fixed.sidebar-collapsed").size() > 0) {
                $("#sidebar .nav").css("height", "auto");
                return
            }
            var e = $(window).height() - 90;
        };
        n();

        $("#sidebar a.dropdown-toggle").click(function () {
            var e = $(this).next(".submenu");
            var t = $(this).children(".arrow");
            if (t.hasClass("icon-angle-right")) {
                t.addClass("anim-turn90")
            }
            else {
                t.addClass("anim-turn-90")
            }
            e.slideToggle(400, function () {
                if ($(this).is(":hidden")) {
                    t.attr("class", "arrow icon-angle-right");
                } else {
                    t.attr("class", "arrow icon-angle-down");
                    n()
                }
                t.removeClass("anim-turn90").removeClass("anim-turn-90")
            })
        });
    });
</script>
<div id="sidebar" class="nav-collapse">
    <ul class="nav nav-list" style="width: 100%">
        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-flag-checkered"></i>
                <span>日常督察</span>
                <b class="arrow icon-angle-right"></b>
            </a>
            <ul class="submenu">
                <li><a href="/EnforceTheLawManagement/Index">日常督查添加</a></li>
                <li><a href="/EnforceTheLawManagement/TaskList">待处日常督查</a></li>
                <li><a href="/EnforceTheLawManagement/ProcessedList">已处日常督查</a></li>
                <li><a href="/EnforceTheLawManagement/AllList">全部日常督查</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-flag-checkered"></i>
                <span>专项督察</span>
                <b class="arrow icon-angle-right"></b>
            </a>
            <ul class="submenu">
                <li><a href="/GeneralCase/InitiateCase/">专项督察添加</a></li>
                <li><a href="/GeneralCase/PendingCaseList/">待处专项督察</a></li>
                <li><a href="/GeneralCase/ProcessedCaseList/">已处专项督察</a></li>
            </ul>
        </li>
    </ul>
    <div id="sidebar-collapse" class="visible-desktop">
        <i class="icon-double-angle-left"></i>
    </div>
</div>
<div id="main-content">

    @RenderSection("BreadcrumbSection", false)

    <div id="content" style="padding-right: 5px;">
        @RenderBody()
    </div>
    <footer>
        <p>2013-2014 © 钟公庙行政执法局.</p>
    </footer>
    <a id="btn-scrollup" class="btn btn-circle btn-large" href="#"><i class="icon-chevron-up"></i></a>
</div>
