@{
    
}

<style>
    table th {
        width: 100px;
    }

    table td {
        width: 250px;
    }

    table tr input.large {
        width: 98%;
    }

    table tr input.small {
        width: 94%;
    }

    table tr td .form-group div {
        width: 94%;
        line-height: 30px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
<form method="post" enctype="multipart/form-data">
    <div class="title" style="margin-bottom: 30px;">
        已办审批列表
    </div>
    <table class="table table-bordered" id="ContentTable">
    </table>
    <table class="table table-bordered">
        <tr>
            <td  style="text-align:left">
                <a  href="/NewApproval/NewAchived" class="btn goBack">返　回</a>
            </td>
        </tr>
    </table>
</form>

