@model Web.ViewModels.CaseViewModels.ViewModel28
@using Taizhou.PLE.Model.CaseWorkflowModels

<script type="text/ecmascript">
    function ValidateWorkflowForm() {
        return true;
    }
</script>
<form id="workflow28Form" class="workflowForm" method="post" enctype="multipart/form-data" action="/Workflow128/Commit">
    <div class="title">
        行政强制执行
    </div>
    <table class="workflow" border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto; margin-top: 20px">
        <tr>
            <th colspan="2">备注</th>
            <td colspan="9">
                @Html.TextAreaFor(model => model.BZSM, new { style = "height:120px" })
            </td>
        </tr>
        <tr style="height: 0px; line-height: 0px;">
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 92px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 72px; border: none; padding: 0px;"></td>
            <td style="width: 52px; border: none; padding: 0px;"></td>
            <td style="width: 52px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="border: none; padding: 0px;">&nbsp;</td>
        </tr>
    </table>
    @Html.Hidden("WIID", ViewData["WIID"])
    @Html.Hidden("AIID", ViewData["AIID"])
</form>
