<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="PLEEntities" connectionString="metadata=res://*/PLEEntities.csdl|res://*/PLEEntities.ssdl|res://*/PLEEntities.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=192_168_73_21;password=NEWPLE;persist security info=True;user id=NEWPLE&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="TZ_ZFJEntities" connectionString="metadata=res://*/TZ_ZFJModel.csdl|res://*/TZ_ZFJModel.ssdl|res://*/TZ_ZFJModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=TZ_ZFJ;password=tz_zfj_ydlm;persist security info=True;user id=TZ_ZFJ&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <!--执法事件图片压缩宽度大小-->
    <add key="ZFSJPicSize" value="800"/>
    <!--替换路径-->
    <add key="ZFSJOriginalPathTH" value="C:/ZFSJMaterial/sourse/"/>
    <!--执法事件原图片路径-->
    <add key="ZFSJOriginalPath" value="C:\ZFSJMaterial\sourse\"/>
    <!--执法事件压缩图片路径-->
    <add key="ZFSJFilesPath" value="C:\ZFSJMaterial\destnation\"/>
    <!--一般案件手机图片-->
    <add key="YBAJFilesPath" value="C:\CaseAttachments\"/>
    <!--执法事件手机端读取图片URL-->
    <add key="CaseFilesPath" value="C:\Taizhou.PLE.CaseFiles\"/>
    <add key="ReadPictureURL" value="http://122.226.143.66:10007/ReadPictureHandler.ashx?path="/>
    <add key="XZSPReadPictureURL" value="http://122.226.143.66:10007/ReadXZSPPictureHandler.ashx?path="/>
    <add key="ZHRYBH" value="1198"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>