@{
    Layout = "~/Views/IntegratedService/CaseManagement/_LayoutCaseManagement.cshtml";
}

@section HeadStyles_CaseManage{
    <style type="text/css">
        .center {
            text-align: center !important;
        }
    </style>
}

<script type="text/javascript">
    function DeleteFunction(DDID, ADID) {
        if (confirm("你确定删除此条信息吗？")) {
            $.ajax({
                type: "GET",
                url: "/Document/DeleteDOC?ADID=" + ADID + "&DDID=" + DDID,
                success: function () {
                    loadDoc(ADID);
                }
            });
        }
    }
    $(function () {
        $("ul#docTree").bind("loadDocTreeData", function () {
            //文书树配置
            var setting = {
                data: {
                    simpleData: {
                        enable: true
                    }
                },
                view: {
                    showIcon: false,
                    showLine: true,
                    fontCss: {
                        size: "14px"
                    }
                },
                callback: {
                    onClick: function (event, treeId, treeNode) {
                        if (treeNode.type == "ac") {
                            $("#ADID").val(treeNode.value);
                            loadDoc(treeNode.value);
                            $("#acList").val(treeNode.value);
                            droDoc(treeNode.value);
                            $("tbody td").css({ "text-align": "center" });
                        }
                    }
                },
            };
            $.ajax({
                type: "GET",
                cache: false,
                url: ("/Document/GetDocPhas?rad=" + Math.random()),
                success: function (data) {
                    $.fn.zTree.init($("ul#docTree"), setting, data);
                    var treeObj = $.fn.zTree.getZTreeObj("docTree");
                }
            });
        });

        $("ul#docTree").trigger("loadDocTreeData");
        var oTable = null;
        //绑定列表
        function loadDoc(ADID) {
            if (oTable != null) {
                oTable.fnSettings().sAjaxSource = "/Document/GetDoc?ADID=" + ADID + "&random=" + Math.random();
                oTable.fnDraw(true);
            } else {
                oTable = $('#TableDoc').dataTable({
                    sAjaxSource: "/Document/GetDoc?ADID=" + ADID + "&random=" + Math.random(),
                    aoColumns: [
                        { "mDataProp": "ADNAME" },
                        { "mDataProp": "DDNAME" },
                        {
                            "mDataProp": function (data) {
                                var edit = "<a class='btn btn-primary btn-small' style='margin:auto 0' onclick='DeleteFunction(" + data.DDID + "," + data.ADID + ")'><i class='icon-edit padding-null'></i> 删除 </a>";
                                return edit;
                            }, "sClass": "center"
                        }
                    ],
                    fnDrawCallback: function (oSettings) {
                        var pagerIndex = oSettings._iDisplayStart / oSettings._iDisplayLength + 1;
                        var $currentPager = $(".dataTables_paginate span a:contains('" + pagerIndex + "')");
                        $currentPager.attr("style", "font-weight :bold;!important");
                    }
                });
            }
        }
        loadDoc(0);
        //当活动下拉框改变的时候
        $("#acList").change(function () {
            droDoc($(this).val());
        })

        //添加文书活动配置
        $("#addDOC").click(function () {
            var adid = $("#acList").val();
            var ddid = $("#DocDorpdownList").val();
            var isrequired = $("input[name='isrequired']:checked").val();
            alert(isrequired + adid + ddid);
            $.ajax({
                type: "POST",
                url: "/Document/AddDoc?ADID=" + adid + "&DDID=" + ddid + "&isrequired=" + isrequired,
                success: function () {
                    if ($("#ADID").val() == adid) {
                        loadDoc(adid);
                        droDoc(adid);
                    }
                }
            })
        })

        //根据活动标识绑定文书下拉框
        function droDoc(ADID) {
            $("#DocDorpdownList").find("option").remove();
            $.ajax({
                type: "GET",
                url: "/Document/GetDocList?ADID=" + ADID,
                success: function (data) {
                    $.each(data, function (i, t) {
                        $("#DocDorpdownList").append("<option value=" + t.DDID + ">" + t.DDNAME + "</option");
                    })
                }
            })
        }
    })
</script>

@section BreadcrumbSection{
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li><a href="#"><i class="icon-home"></i>综合业务</a></li>
            <li>></li>
            <li><a href="#">案件管理</a></li>
            <li>></li>
            <li class="active" id="">文书配置</li>
            <li id=""></li>
        </ul>
    </div>
}

<div class="row-fluid">
    <div class="span3">
        <div class="box box-black" style="margin-top: 0px;">
            <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
                <i class="icon-reorder" style="margin-right: 5px;"></i>操作面板
            </div>
            <div class="box-content" id="docTreeScroll" style="overflow-x: auto">
                <ul id="docTree" class="ztree"></ul>
            </div>
        </div>
    </div>

    <div class="span9" id="span90">
        <div class="box box-black" style="margin-top: 0px;">
            <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
                <i class="icon-reorder" style="margin-right: 5px;"></i>文书列表
            </div>
            <div class="box-content" id="addButtonDiv">
                <a href="#modal-1" class="btn btn-primary" role="button" data-toggle="modal">添加
                </a>
            </div>
            <div class="box-content" id="userListDiv">
                <table class="table table-bordered table-striped table-hover fill-head" id="TableDoc">
                    <thead>
                        <tr>
                            <th>活动名称</th>
                            <th>文书名称</th>
                            <th style="text-align: center; width: 135px;">操作</th>
                        </tr>
                    </thead>
                </table>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
    @Html.Hidden("ADID")
</div>


<div id="modal-1" class="modal hide fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">添加文书</h3>
            </div>
            <div class="modal-body">
                <div class="form-group" style="margin-bottom: 5px;">
                    <label class="col-xs-3 col-lg-2 control-label" for="textfield3" style="width: 80px; float: left">
                        流程环节</label>
                    <div class="col-sm-9 col-lg-10 controls" style="margin-left: 100px;">
                        @Html.DropDownList("acList", ViewBag.acList as IEnumerable<SelectListItem>)
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group" style="margin-bottom: 5px;">
                    <label class="col-xs-3 col-lg-2 control-label" for="textfield3" style="width: 80px; float: left">
                        文书名称</label>
                    <div class="col-sm-9 col-lg-10 controls" style="margin-left: 100px;">
                        <select id="DocDorpdownList">
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group" style="margin-bottom: 5px;">
                    <label class="col-xs-3 col-lg-2 control-label" for="textfield3" style="width: 80px; float: left; margin-top: 5px;">
                        是否必填</label>
                    <div class="col-sm-9 col-lg-10 controls" style="margin-left: 100px;">
                            <input type="radio" name="isrequired" value="1" />是
                            <input type="radio" name="isrequired" value="0" checked="checked" />否
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                <input type="button" id="addDOC" class="btn btn-primary" value="保存" />
            </div>
        </div>
    </div>
</div>
