@{
    Layout = null;
}

<div style="float: left; width: 100%; margin-left: 5px;">
    <div style="width: 30%; float: left; margin-left: 1%; height: 350px" id="pic1">
    </div>
    <div style="width: 30%; float: left; margin-left: 3%; height: 350px" id="pic2">
    </div>
    <div style="width: 30%; float: left; margin-left: 3%; height: 350px" id="pic3">
    </div>
</div>

<div id="ShowBigPic" class="modal hide fade">
    <div class="box box-black" style="margin-top: 0px;">
        <div class="box-title" style="color: white; height: 28px; line-height: 28px; padding-bottom: 0px; padding-top: 0px;">
            <table style="width: 100%">
                <tr>
                    <td style="text-align: left">&nbsp;</td>
                    <td style="text-align: right; cursor: pointer" onclick="NoneBigPic()">关闭</td>
                </tr>
            </table>
        </div>
        <div class="box-content" style="padding-top: 0px; padding-left: 0px; padding-right: 0px; padding-bottom: 0px;">
            <div id="showBigPicImg" style="overflow: hidden; width: 560px; height: 560px;">
            </div>
        </div>
    </div>
</div>
