@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DownLoadOAWorkFlow</title>

    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.js"></script>
    <link href="/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="/Scripts/layer/skin/seaning/style.css" rel="stylesheet" />
    <script src="/Scripts/layer/layer.js"></script>
    <script type="text/javascript">
        layer.config({
            skin: 'layer-ext-seaning',
            offset: ['100px', '33%'],
            title: '提示',
            moveOut: true,
            closeBtn: false,
            extend: 'skin/seaning/style.css'
        });

    </script>
    <script>

        $(document).ready(function () {
            layer.alert("当前文件不存在!", {
                icon: 0,
                skin: 'layer-ext-seaning'
            }, function (index) {
                layer.close(index);
                history.go(-1);
            });
           
        })
    </script>


</head>
<body>
    <div>
    </div>
</body>
</html>
