<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="Entities" connectionString="metadata=res://*/NBZGM.csdl|res://*/NBZGM.ssdl|res://*/NBZGM.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=10_80_2_124_15210;password=NBZGM;user id=NBZGM&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Entities" connectionString="metadata=res://*/NBZGM.csdl|res://*/NBZGM.ssdl|res://*/NBZGM.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=192.168.0.200:1521/orcl;password=NBZGM;persist security info=True;user id=NBZGM&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--账号-->
    <add key="AccountNumber" value="test" />
    <!--密码-->
    <add key="Password" value="123456" />
   
  </appSettings>
</configuration>