@{
    ViewBag.Title = "公共服务系统";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadStyles{
    <link href="~/Scripts/assets/data-tables/demo_table.css" rel="stylesheet" />
    <link href="~/Scripts/assets/data-tables/DT_bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/assets/zTree/zTreeStyle.css" rel="stylesheet" />
    @RenderSection("HeadStyles_EnforceLawEventManage", required: false)
}

@section FootScripts{
    <script src="~/Scripts/assets/data-tables/jquery.datatables.min.js"></script>
    <script src="~/Scripts/assets/data-tables/DT_bootstrap.js"></script>
    <script src="~/Scripts/assets/data-tables/PLE_DT_bootstrap.js"></script>
    <script src="~/Scripts/assets/zTree/jquery.ztree.core-3.5.js"></script>

    <script src="~/Scripts/assets/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script src="~/Scripts/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/assets/bootstrap-datepicker/js/bootstrap-datepicker-zh_CN.js"></script>
    @RenderSection("FootScripts_EnforceLawEventManage", required: false)

    <script type="text/javascript">
        $(function () {
            var scrollHeight = window.document.body.scrollHeight;
            var sidebarHeight = scrollHeight - 112;

            $("#sidebar").css("height", sidebarHeight);
        });

    </script>
}

<div id="sidebar" class="nav-collapse">
    <ul class="nav nav-list">
        <li>
            <a href="/EventRegister/Index">
                <i class="icon-plus-sign"></i>
                <span>信访热线登记</span>
            </a>
        </li>
        <li>
            <a href="/EventRegister/ProcessTaskList">
                <i class="icon-edit"></i>
                <span>待办事件</span>
            </a>
        </li>
        <li>
            <a href="/EventRegister/TaskList">
                <i class="icon-search"></i>
                <span>已办事件</span>
            </a>
        </li>
        @*@{
            if (Web.SessionManager.User.UnitID == 830)
            {
            *@<li>
                <a href="/EventRegister/AllList">
                    <i class="icon-search"></i>
                    <span>全部案件</span>
                </a>
            </li>
        @*    }
        }*@
    </ul>
    <div id="sidebar-collapse" class="visible-desktop">
        <i class="icon-double-angle-left"></i>
    </div>
</div>

<div id="main-content">
    @RenderSection("BreadcrumbSection", false)
    <div id="content">
        @RenderBody()
    </div>
    <footer>
        <p>2013-2014 © 钟公庙行政执法局.</p>
    </footer>
    <a id="btn-scrollup" class="btn btn-circle btn-large" href="#"><i class="icon-chevron-up"></i></a>
</div>

