@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadStyles{
    <link href="~/Scripts/assets/data-tables/demo_table.css" rel="stylesheet" />
    <link href="~/Scripts/assets/data-tables/DT_bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/assets/zTree/zTreeStyle.css" rel="stylesheet" />
    @RenderSection("HeadStyles_Manage", required: false)
}

@section FootScripts{
    <script src="~/Scripts/assets/data-tables/jquery.datatables.min.js"></script>
    <script src="~/Scripts/assets/data-tables/DT_bootstrap.js"></script>
    <script src="~/Scripts/assets/data-tables/PLE_DT_bootstrap.js"></script>
    <script src="~/Scripts/assets/zTree/jquery.ztree.core-3.5.js"></script>
    <script src="~/Scripts/assets/zTree/jquery.ztree.excheck-3.5.min.js"></script>
    <script type="text/javascript" lang="ja">
        $(function () {
            var n = function () {
                if ($("#sidebar.sidebar-fixed").size() == 0) {
                    $("#sidebar .nav").css("height", "auto");
                    return
                }
                if ($("#sidebar.sidebar-fixed.sidebar-collapsed").size() > 0) {
                    $("#sidebar .nav").css("height", "auto");
                    return
                }
                var e = $(window).height() - 90;
                $("#sidebar.sidebar-fixed .nav").css("height", e + "px").niceScroll({
                    railalign: "left",
                    railoffset: { left: 3 },
                    cursoropacitymax: .7
                });
                setTimeout(function () {
                    $("#sidebar.sidebar-fixed .nav").getNiceScroll().doScrollPos(0,
                        $("#sidebar .nav").scrollTop() + 40, 900)
                }, 9)
            };
            n();

            $("#sidebar a.dropdown-toggle").click(function () {
                var e = $(this).next(".submenu");
                var t = $(this).children(".arrow");
                if (t.hasClass("icon-angle-right")) {
                    t.addClass("anim-turn90")
                }
                else {
                    t.addClass("anim-turn-90")
                }
                e.slideToggle(400, function () {
                    if ($(this).is(":hidden")) {
                        t.attr("class", "arrow icon-angle-right");
                        $("#sidebar.sidebar-fixed .nav").getNiceScroll().resize()
                    } else {
                        t.attr("class", "arrow icon-angle-down");
                        n()
                    }
                    t.removeClass("anim-turn90").removeClass("anim-turn-90")
                })
            });
        });

    </script>
    @RenderSection("FootScripts_Manage", required: false)


    <script type="text/javascript">
        $(function () {
            var scrollHeight = window.document.body.scrollHeight;
            var sidebarHeight = scrollHeight - 112;

            $("#sidebar").css("height", sidebarHeight);
        });
    </script>

}

<div id="sidebar" class="nav-collapse">
    <ul class="nav nav-list" id="sysManagerment">
        <li id="sysUnitManagement">
            <a href="#" class="dropdown-toggle">
                <i class="icon-group"></i>
                <span>内网栏目管理</span>
                <b class="arrow icon-angle-right"></b>
            </a>
            <ul class="submenu" id="PortalCategoryList">
                @*<li><a href="/PortalCategoryManagement/AddCategory">新增栏目</a></li>*@
                <li><a href="/PortalCategoryManagement/">栏目列表</a></li>
                <li><a href="/PortalCategoryManagement/ArticleCategory">文章类别</a></li>

            </ul>
        </li>
        <li id="sysUnitManagement">
            <a href="#" class="dropdown-toggle">
                <i class="icon-group"></i>
                <span>内网文章发布</span>
                <b class="arrow icon-angle-right"></b>
            </a>
            <ul class="submenu" id="ArticleList">
                <li><a href="/ArticleManagement/Approval">待审文章</a></li>
                <li><a href="/ArticleManagement/">文章列表</a></li>
                <li><a href="/RecipeManagement/">菜谱列表</a></li>
                <li><a href="/LeaderScheduleMangement/">领导日程</a></li>
            </ul>
        </li>
        @* <li id="sysUserManagement">
            <a href="#">
                <i class="icon-user"></i>
                <span>外网栏目管理</span>
            </a>
        </li>
        <li id="sysUserManagement">
            <a href="#">
                <i class="icon-user"></i>
                <span>外网文章发布</span>
            </a>
        </li>*@
    </ul>
    <div id="sidebar-collapse" class="visible-desktop">
        <i class="icon-double-angle-left"></i>
    </div>
</div>
<div id="main-content">
    @RenderSection("BreadcrumbSection", false)

    @RenderBody()
    <footer>
        <p>2013 © 钟公庙管理行政执法局.</p>
    </footer>
    <a id="btn-scrollup" class="btn btn-circle btn-large" href="#"><i class="icon-chevron-up"></i></a>
</div>


