@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <a href="/Home/LoginTest" >登录测试</a>
        <a href="/Home/UserSignInTest" >签到测试</a>
        <a href="/Home/UserExamineTest" >考核测试</a>
        <a href="/Home/UserLeaveTest" >请假测试</a>
        <a href="/Home/AnnouncementTest" >公告测试</a>
        <a href="/Home/FileTest" >文件测试</a>
        <br /><hr />
          <a href="/Home/ListTest" >协同管理</a>
         <a href="/Home/GetZFSJSOURCES" >列表数据</a>
        <a href="/Home/history">历史数据</a>
        <a href="/Home/UserHistoryPosition">地位信息</a>
         <a href="/Home/csxq">测试详情</a>
        <a href="Home/InspectionTableList">督察事件</a>
         <a href="Home/GetMessageBySendPersonAPI">消息测试</a>
    </div>
</body>
</html>
