html, body {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    background: #2f8ac1 url("/Images/default.png") repeat-x scroll left top;
}

.header {
    color: #FFF;
    height: 78px;
}

    .header .pull-left {
        margin: 10px;
    }

    .header .pull-right {
        margin-top: 1em;
        margin-right: 1em;
    }

        .header .pull-right span {
            margin: 5px;
            white-space: nowrap;
        }

.tool {
    height: 40px;
    line-height: 40px;
    color: #FFF;
}

#tool-left {
    margin-left: 11em;
}

    #tool-left > ul > li {
        margin-left: 0.5em;
    }


        #tool-left > ul > li > a {
            background: -webkit-linear-gradient(#FFF,#CCC);
            background: -o-linear-gradient(#FFF,#CCC);
            background: -moz-linear-gradient(#FFF,#CCC);
            background: linear-gradient(#FFF,#CCC);
        }

        #tool-left > ul > li.active > a, #tool-left > ul > li.active > a:hover, #tool-left > ul > li.active > a:focus {
            background: -webkit-linear-gradient(#CCC,#FFF);
            background: -o-linear-gradient(#CCC,#FFF);
            background: -moz-linear-gradient(#CCC,#FFF);
            background: linear-gradient(#CCC,#FFF);
            color: #000;
        }

#tool-right a, #tool-right a:hover {
    color: #FFF;
}

#tool-right i {
    font-size: 2em;
    margin-right: 0.5em;
}

.tool-left {
    margin-left: 5em !important;
}

.funcbar {
    background: #e0ecfd url("/Images/funcbar_bg.png") repeat-x scroll left top;
    height: 32px;
}




#center {
    background-color: #FFF;
    height: -moz-calc(100% - 146px);
    height: -webkit-calc(100% - 146px);
    height: calc(100% - 146px);
}

    #center #center-left {
        /*font-size: 1.25em;*/
        background-color: #F1F5F8;
        color: #FFF;
        margin-top: -40px;
        height: -moz-calc(100% + 40px);
        height: -webkit-calc(100% + 40px);
        height: calc(100% + 40px);
    }

        #center #center-left i {
            font-size: 2em;
        }

        #center #center-left ul li {
            width: 10em;
            float: none;
        }

            #center #center-left ul li#li-angle-left {
                background: -webkit-linear-gradient(left,#e5e9ec,#f1f6f9);
                background: -o-linear-gradient(left,#e5e9ec,#f1f6f9);
                background: -moz-linear-gradient(left,#e5e9ec,#f1f6f9);
                background: linear-gradient(left,#e5e9ec,#f1f6f9);
            }

            #center #center-left ul li a img {
                margin-right: 0.5em;
            }

    #center #center-right {
        float: left;
        width: -moz-calc(100% - 140px);
        width: -webkit-calc(100% - 140px);
        width: calc(100% - 140px);
        height: 100%;
    }

        #center #center-right .tab-pane {
            width: 100%;
            height: 100%;
        }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: -webkit-linear-gradient(left,#2fa8dd,#54c0ee);
    background: -o-linear-gradient(left,#2fa8dd,#54c0ee);
    background: -moz-linear-gradient(left,#2fa8dd,#54c0ee);
    background: linear-gradient(left,#2fa8dd,#54c0ee);
}

.center-left li {
    width: 4em !important;
}

    .center-left li span {
        display: none !important;
    }

.center-right {
    width: -moz-calc(100% - 56px) !important;
    width: -webkit-calc(100% - 56px) !important;
    width: calc(100% - 56px) !important;
}

#footer {
    height: 2em;
    line-height: 2em;
    text-align: center;
    color: #FFF;
}

    #footer .pull-left {
    }

    #footer .pull-right span {
        margin-right: 1em;
    }

    #footer div {
        margin: 0em 0.5em;
    }

    #footer #copyright {
    }

.modal-content .panel {
    margin-bottom: 0;
}

.modal-content input.datepicker {
    width: 48% !important;
    display: inline-block;
}
/*.modal-content textarea, .modal-content input[type=text] {
    width: 100%;
}*/
