@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Scripts/assets/data-tables/demo_table.css" rel="stylesheet" />
    <link href="~/Scripts/assets/data-tables/DT_bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/assets/zTree/zTreeStyle.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.7.1.js"></script>

    <script src="~/Scripts/assets/data-tables/jquery.datatables.min.js"></script>
    <script src="~/Scripts/assets/data-tables/DT_bootstrap.js"></script>
    <script src="~/Scripts/assets/data-tables/PLE_DT_bootstrap.js"></script>
    <script src="~/Scripts/assets/zTree/jquery.ztree.core-3.5.js"></script>
    <script src="~/Scripts/assets/zTree/jquery.ztree.excheck-3.5.min.js"></script>
    <link href="/Content/css/OA.css" rel="stylesheet" />
    <script src="~/Scripts/js/PageNotBack.js"></script>
    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/seaning/style.css" rel="stylesheet" />
    <script src="~/Scripts/layer/layer.js"></script>

    <script type="text/javascript">
        layer.config({
            skin: 'layer-ext-seaning',
            offset: ['100px', '33%'],
            title: '提示',
            moveOut: true,
            closeBtn: false,
            extend: 'skin/seaning/style.css'
        });

    </script>
    <style type="text/css">
        #RoleTable_paginate {
        display:none;
        }
    </style>
    <script type="text/javascript">
        var oTable = null;
        $(document).ready(function () {
            $("#btn_addRole").click(function () {
                window.location.href = "/RoleManagement/AddRole"
            });
            var url = "/RoleManagement/GetRoleJsonData?random=" + Math.random();
            BindDataTable(url);
        });
        //显示右侧功能项
        function showSetFunctionsPanel(roleID, roleName) {
            $("#roleName").html(roleName);
            $("#btnSaveSetFunctions").attr("roleID", roleID);
            $("#roleListDiv").css("width", "80%").css("float", "left");
            $("#setFunctionsDiv").css("width", "17%").css("float", "left");
            var setting = {
                check: {
                    enable: true
                },
                data: {
                    simpleData: {
                        enable: true
                    }
                }
            };
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '/RoleManagement/GetFunctionTreeData?ROLEID=' + roleID + '&random=' + Math.random(),
                success: function (data) {
                    if (data != null && data != "") {
                        var zNodes = data;
                        $.fn.zTree.init($("#tree"), setting, zNodes);
                        var height1 = $("#listContentDiv")[0].clientHeight;
                        var height2 = $("#treeContentDiv")[0].clientHeight;
                        var height = height1 > height2 ? height1 : height2;
                        $("#listContentDiv").height(height);
                        $("#treeContentDiv").height(height);
                    }
                }
            });
            $("#setFunctionsDiv").show();
        }
        //右侧功能项点击取消时，隐藏功能项
        function hideSetFunctionsPanel() {
            $("#roleListDiv").css("width", "100%");
            $("#setFunctionsDiv").hide();
        }
        //保存功能项
        function saveSetFunctions() {
            var treeObj = $.fn.zTree.getZTreeObj("tree");
            var nodes = treeObj.getCheckedNodes(true);
            var roleID = $("#btnSaveSetFunctions").attr("roleID");

            var functionIDs = "";
            for (var i = 0; i < nodes.length; i++) {
                if (i == 0) {
                    functionIDs += nodes[i].id;
                    continue;
                }
                functionIDs += "," + nodes[i].id;
            }

            $.ajax(
                    {
                        type: 'POST',
                        url: '/RoleManagement/CommitSaveRoleFunctions?random=' + Math.random(),
                        dataType: 'html',
                        data: { RoleID: roleID, FunctionIDs: functionIDs },
                        success: function (data) {
                            if (data) {
                                layer.alert('保存成功!', { icon: 1, skin: 'layer-ext-seaning' }, function (index) {
                                    layer.close(index);
                                    hideSetFunctionsPanel();
                                });
                            } else {
                                layer.alert('异常,请联系管理员。', {
                                    icon: 0,
                                    skin: 'layer-ext-seaning'
                                });
                            }
                        }
                    });
        }

        function DeleteRole(ROLEID, ROLENAME) {
            layer.confirm("是否确认删除" + ROLENAME, {
                btn: ['是', '否'],
                icon: 4,
                //按钮
            }, function () {
                $.ajax({
                    type: "GET",
                    url: "/RoleManagement/DeleteRole?ROLEID=" + ROLEID,
                    success: function (date) {
                        layer.alert(date, { icon: 1, skin: 'layer-ext-seaning' }, function (index) {
                            layer.close(index);
                            oTable.fnPageChange('first', true);
                            oTable.fnClearTable(false);
                        });
                    }
                });
            }, function () {
                layer.close();
            });
        }

        function BindDataTable(url) {
            var num = 0;
            if (oTable != null) {
                oTable.fnSettings().sAjaxSource = url;
                oTable.fnDraw(true);
            } else {
                oTable = $('#RoleTable').dataTable({
                    sAjaxSource: url,
                    "bLengthChange": false,
                    "iDisplayLength": 99999,
                    aoColumns: [
                        { "mDataProp": "ROLENAME", },
                        {
                            "mDataProp": function (data) {
                                var span = "<span title='" + data.DESCRIPTION + "'>" + data.DESCRIPTION + "</span>";
                                return span;

                            }
                        },

                        {
                            "mDataProp": function (data) {
                                var edit = "<a class='btn_ico_a_edit'  href='/RoleManagement/EditRole?ROLEID=" + data.ROLEID + "'><img src='/Images/btnimage/edit.png' class='btn_ico_image' />编辑</a>";
                                var del = "<a class='btn_ico_a_delete' href='javascript:void(0)' onclick=\"DeleteRole(" + data.ROLEID + ",'" + data.ROLENAME + "');\"><img src='/Images/btnimage/delete.png' class='btn_ico_image' />删除</a>";
                                var setFuns = "<a class='setFunctions'  ROLEID ='" + data.ROLEID + "' roleName='" + data.ROLENAME + "' href='#'><img src='/Images/btnimage/dispose.png' class='btn_ico_image' />功能项</a>";
                                return edit + "  " + del + "  " + setFuns;
                            }, "sClass": "center"
                        }
                    ],
                    fnDrawCallback: function () {
                        $(".setFunctions").click(function () {
                            var roleID = $(this).attr("roleID");
                            var roleName = $(this).attr("roleName");
                            showSetFunctionsPanel(roleID, roleName);
                        });
                    }
                });
            }
        }
    </script>

</head>
<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li>角色管理</li>
        </ul>
    </div>

    <div id="roleListDiv">
        <div class="formbody">
            <div class="formtitle"><span id="tit">角色列表</span></div>
            <div id="listuser">
                <ul class="seachform">
                    <li>
                        <input name="" type="button" class="sure" value="添加" id="btn_addRole" />
                    </li>
                </ul>
                <div style="clear: both; margin-top: 10px;" class="tableListDiv">
                    <table class="tablelist" id="RoleTable" style="text-align: center;">
                        <thead>
                            <tr>
                                <th>角色名称</th>
                                <th>角色说明</th>

                                <th style="text-align: center; width: 230px;">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="setFunctionsDiv" style="display: none;">
        <div class="formtitle" style="margin-top: 10px"><span>功能项列表</span></div>
        <div>
            <div style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
                <i style="margin-right: 5px;"></i><span id="roleName"></span>
            </div>
            <div id="btnDiv" style="text-align: left;">
                <input name="" type="button" class="sure" value="保 存" id="btnSaveSetFunctions" onclick="saveSetFunctions()" />
                <input name="" type="button" class="sure" value="取 消" onclick="hideSetFunctionsPanel()" />
            </div>
            <div id="treeContentDiv">
                <div id="tree" class="ztree">
                </div>
            </div>
        </div>
    </div>

</body>
</html>
