@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>智慧钟公庙管理平台</title>
      <link rel='icon' href='~/Images/images/ielogo.ico' type='image/x-ico' /> 
    <script src="~/Scripts/js/PageNotBack.js"></script>
</head>
<frameset rows="88,*,31" frameborder="no" border="0" framespacing="0">
  <frame src="/Home/TopPage/" name="topFrame" scrolling="no" noresize="noresize" id="topFrame" title="topFrame" />
  <frame src="" name="mainFrame" id="mainFrame" title="mainFrame" />
  <frame src="/Home/FooterPage/" name="bottomFrame" scrolling="no" noresize="noresize" id="bottomFrame" title="bottomFrame" />
</frameset>
<noframes><body>
</body></noframes>
   
</html>
