@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>智慧钟公庙管理平台</title>
    <script src="~/Scripts/js/PageNotBack.js"></script>
</head>
 <frameset cols="@ViewBag.cols" frameborder="no" border="0" framespacing="0" id="HTDMZ">
    <frame src="/Home/MainPageLeft/?id=@ViewBag.Id"  name="leftFrame" scrolling="No" noresize="noresize" id="leftFrame" title="leftFrame" />
    <frame src="" name="rightFrame" id="rightFrame" title="rightFrame" style="overflow-y:hidden" />
  </frameset>
<noframes><body>
</body></noframes>
</html>
