@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>财务审批</title>
    <link href="/Scripts/assets/data-tables/demo_table.css" rel="stylesheet" />
    <link href="~/Scripts/assets/data-tables/DT_bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/OA.css" rel="stylesheet" />
    <link href="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/js/select-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.idTabs.min.js"></script>
    <script src="~/Scripts/assets/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/data-tables/jquery.datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/data-tables/DT_bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/data-tables/PLE_DT_bootstrap.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-zh-CN.js"></script>
    <link href="~/Scripts/assets/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <script src="~/Scripts/assets/zTree/js/jquery.ztree.core.js"></script>
    <script src="~/Scripts/assets/zTree/js/jquery.ztree.excheck.js"></script>
    <script src="~/Scripts/assets/zTree/js/jquery.ztree.exedit.js"></script>
    <script src="~/Scripts/jquery.media.js"></script>
    <script src="~/Scripts/js/PageNotBack.js"></script>
    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/seaning/style.css" rel="stylesheet" />
    <script src="~/Scripts/layer/layer.js"></script>
    <style>
        .addfilebtn {
            width: 40px;
            height: 22px;
            line-height: 22px;
            display: inline-block;
            margin-top: 6px;
            color: rgb(255, 255, 255);
            background: transparent url("/Images/images/btnbg1.png") repeat-x scroll 0% 0%;
            font-size: 15px;
            font-weight: bold;
            border-radius: 3px;
            cursor: pointer;
            text-align: center;
        }
        .forminfo li label {
            margin-top:5px;
        }
    </style>
    <script type="text/javascript">

        $(document).ready(function () {
            layer.config({
                skin: 'layer-ext-seaning',
                offset: ['100px', '33%'],
                title: '提示',
                moveOut: true,
                closeBtn: false,
                extend: 'skin/seaning/style.css'
            });

            $("#usual1 ul").idTabs();
            $('.tablelist tbody tr:odd').addClass('odd');
            $("#STime").datepicker({ closeText: '清除' });
            $("#ETime").datepicker({ closeText: '清除' });
            $("#DSTime").datepicker({ closeText: '清除' });
            $("#DETime").datepicker({ closeText: '清除' });
            $('a.media').media({ width: 800, height: 600 });

            var pagenum = GetQueryString("PageNum");
            if (pagenum != null && pagenum != "" && pagenum != undefined) {
                $(".itab a:eq(" + pagenum + ")").click();
            }
            var fileid = GetQueryString("TransFileId");
            if (fileid != null && fileid != "" && fileid != undefined) {
                Transmit(fileid);
            }
            function GetQueryString(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]);
                return null;
            }

            var Auditors = {
                check: {

                    enable: true,
                    chkStyle: "radio",
                    radioType: "all"

                },

                view: {
                    dblClickExpand: false
                },
                data: {
                    simpleData: {
                        enable: true
                    }
                },
                callback: {//该事件在节点被单击后触发
                    onCheck: function (e, treeId, zNodes2) {
                        var zTree = $.fn.zTree.getZTreeObj("CheckTree");
                        nodes = zTree.getCheckedNodes(true);
                        //定义用户组变量
                        var childrenobj = "";
                        for (var i = 0, l = nodes.length; i < l; i++) {
                            if (nodes[i].type != "组织") {
                                childrenobj = nodes[i].value + ",";
                            }
                        }
                        if (childrenobj.length > 0)
                            childrenobj = childrenobj.substring(0, childrenobj.length - 1);
                        $("#NEXTAUDITUSER").val(childrenobj);

                        //定义用户号码变量
                        var userNames = "";
                        for (var i = 0, l = nodes.length; i < l; i++) {
                            if (nodes[i].type != "组织") {
                                userNames = nodes[i].name + ",";
                            }
                        }

                        if (userNames.length > 0)
                            userNames = userNames.substring(0, userNames.length - 1);

                        $("#NextReviewerName").val(userNames);
                    },
                    beforeClick: function (treeId, zNodes2) {
                        var zTree = $.fn.zTree.getZTreeObj("CheckTree");
                        zTree.checkNode(zNodes2, !zNodes2.checked, null, true);
                        return false;
                    }
                },
            };
            //加载审核人员结构树
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '/Contacts/GetCameraTrees?random=' + Math.random(),
                success: function (data) {
                    if (data != null && data != "") {
                        var zNodes = data;
                        $.fn.zTree.init($("#CheckTree"), Auditors, zNodes);
                        var treeObj = $.fn.zTree.getZTreeObj("tree");
                    }
                }
            });

            GetDataTable();
            GetDataTableD();
        });

        //后台回调js函数
        function AddCallBack(flag) {
            if (flag == 1) {
                layer.alert("操作成功!", {
                    icon: 1,
                    skin: 'layer-ext-seaning'
                }, function (index) {
                    layer.close(index);
                    location.href = "/File/Index?PageNum=1";
                });
            }
            if (flag == 2) {
                layer.alert("操作失败!", {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                }, function (index) {
                    layer.close(index);
                });
            }
        }

        var oTable;
        //填充财务列表
        function GetDataTable() {
            oTable = $('#FinanceTable').dataTable({
                sAjaxSource: "/Finance/Finance_Grid",
                fnServerParams: function (aoData) {
                    aoData.push(
                        { "name": "Title", "value": $("#Title").val() },
                        { "name": "STime", "value": $("#STime").val() },
                        { "name": "ETime", "value": $("#ETime").val() });
                },
                aoColumns: [
                    { mDataProp: "Title" },
                    { mDataProp: "Remark" },
                    { mDataProp: "CreateTime" },
                    {
                        mDataProp: function (data) {
                            var look = "<a class='btn_ico_a_look' href='#' onclick=\"Look('" + data.FinanceID + "','" + 0 + "')\"><img src='/Images/btnimage/pq.png' class='btn_ico_image' />查看</a>";
                            var del = "<a class='btn_ico_a_delete' href='#' onclick=\"Delete('" + data.FinanceID + "')\"><img src='/Images/btnimage/delete.png' class='btn_ico_image' />删除</a>";
                            if (data.CreateUserID == data.UserID)
                                return look + "  " + del
                            else
                                return look;                            
                        }, "sClass": "center"
                    }
                ],
                aoColumnDefs: [{ sDefaultContent: '', aTargets: ['_all'] }],
                fnDrawCallback: function (oSettings) {
                    var pagerIndex = oSettings._iDisplayStart / oSettings._iDisplayLength + 1;
                    var $currentPager = $(".dataTables_paginate span a:contains('" + pagerIndex + "')");
                    $currentPager.attr("style", "font-weight :bold;!important");
                }
            });
        }

        var oTableD;
        //填充待审核财务列表
        function GetDataTableD() {
            oTableD = $('#DFinanceTable').dataTable({
                sAjaxSource: "/Finance/DFinance_Grid",
                fnServerParams: function (aoData) {
                    aoData.push(
                        { "name": "DTitle", "value": $("#DTitle").val() },
                        { "name": "DSTime", "value": $("#DSTime").val() },
                        { "name": "DETime", "value": $("#DETime").val() });
                },
                aoColumns: [
                    { mDataProp: "Title" },
                    { mDataProp: "Remark" },
                    { mDataProp: "CreateTime" },
                    { mDataProp: "AuditUserName" },
                    {
                        mDataProp: function (data) {
                            var audit = "<a class='btn_ico_a_look' href='#' onclick=\"Look('" + data.FinanceID + "','"+1+"')\"><img src='/Images/btnimage/pq.png' class='btn_ico_image' />审核</a>";
                            return audit;
                        }, "sClass": "center"
                    }
                ],
                aoColumnDefs: [{ sDefaultContent: '', aTargets: ['_all'] }],
                fnDrawCallback: function (oSettings) {
                    var pagerIndex = oSettings._iDisplayStart / oSettings._iDisplayLength + 1;
                    var $currentPager = $(".dataTables_paginate span a:contains('" + pagerIndex + "')");
                    $currentPager.attr("style", "font-weight :bold;!important");
                }
            });
        }

        //全部财务查询
        function Search() {
            oTable.fnPageChange('first', true);
            oTable.fnClearTable(false);
        }
        //待审核财务查询
        function DSearch() {
            oTableD.fnPageChange('first', true);
            oTableD.fnClearTable(false);
        }

        //添加财务
        function SubmitFinance()
        {
            if ($("#AddTitle").val() == "" || $("#AddTitle").val() == null)
            {
                layer.alert("标题不能为空!", {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                });
                return false;
            }
            if ($("#AddRemark").val() == "" || $("#AddRemark").val() == null) {
                layer.alert("备注不能为空!", {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                });
                return false;
            }
            if ($("#OldFilePath").val() == "" || $("#PDFFilePath").val() == "") {
                layer.alert("附件不能为空!", {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                });
                return false;
            }
            if ($("#NEXTAUDITUSER").val() == "" || $("#NEXTAUDITUSER").val() == null) {
                layer.alert("下一步审核人不能为空!", {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                });
                return false;
            }
            $.ajax({
                type: 'POST',
                url: '/Finance/AddFinance',
                data: {
                    Title: $("#AddTitle").val(),
                    Remark: $("#AddRemark").val(),
                    AuditUser: $("#NEXTAUDITUSER").val(),
                    OldFileName: $("#OldFileName").val(),
                    OldFilePath:$("#OldFilePath").val(),
                    PDFFileName: $("#PDFFileName").val(),
                    PDFFilePath:$("#PDFFilePath").val()
                },
                success: function (data) {
                    if (data > 0) {
                        layer.alert("操作成功!", {
                            icon: 1,
                            skin: 'layer-ext-seaning'
                        }, function (index) {
                            layer.close(index);
                            location.href = "/Finance/Index?PageNum=1";
                        });
                    }
                    else {
                        layer.alert("操作失败!", {
                            icon: 0,
                            skin: 'layer-ext-seaning'
                        }, function (index) {
                            layer.close(index);
                        });
                    }
                }
            })
        }

        //查看财务
        function Look(id,value) {
            location.href = "/Finance/Look?FinanceId=" + id+"&&IsAudit="+value;
        }

        //删除财务
        function Delete(id) {
            layer.confirm('是否确认删除?', {
                btn: ['是', '否'],
                icon: 4,
                //按钮
            }, function () {
                $.ajax({
                    type: 'POST',
                    url: '/Finance/DeleteFinance',
                    data: {
                        FinanceId: id,
                    },
                    success: function (data) {
                        if (data > 0) {
                            layer.alert("删除成功!", {
                                icon: 1,
                                skin: 'layer-ext-seaning'
                            }, function (index) {
                                layer.close(index);
                                location.href = "/Finance/Index?PageNum=1";
                            });
                        }
                        else {
                            layer.alert("删除失败!", {
                                icon: 0,
                                skin: 'layer-ext-seaning'
                            }, function (index) {
                                layer.close(index);
                            });
                        }
                    }
                })
            }, function () {
                layer.close();
            });
        }

        function showMenuCheck() {
            var cityObj = $("#NextReviewerName");
            var cityOffset = $("#NextReviewerName").offset();
            var divWidth = $("#NextReviewerName").width();

            $("#menuCheck").css({ left: cityOffset.left + "px", top: cityOffset.top + cityObj.outerHeight() + "px", width: divWidth * 1.03 }).slideDown("fast");
            $("body").bind("mousedown", onBodyDownCheck);
        }
        function onBodyDownCheck(event) {
            if (!(event.target.id == "menuBtn" || event.target.id == "NextReviewerName" || event.target.id == "menuCheck" || $(event.target).parents("#menuCheck").length > 0)) {
                hideMenu();
            }
        }
        function onBodyDown(event) {
            if (!(event.target.id == "menuBtn" || event.target.id == "SelectUserNames" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length > 0)) {
                hideMenu();
            }
        }
        function hideMenu() {
            $("#menuContent").fadeOut("fast");
            $("#menuCheck").fadeOut("fast");
            $("body").unbind("mousedown", onBodyDown);
        }

        //上传文件到服务器并展示pdf文件
        function ShowFile(fileid,files)
        {
            var filename = $(fileid)[0].files[0].name;
            var splitstr = filename.lastIndexOf('.');
            var frontname = filename.substring(0,splitstr);
            var suffix = filename.substring(splitstr + 1, filename.length);
            var controllername;
            if (suffix == 'xls' || suffix == 'xlsx' || suffix == 'xlsm' || suffix == 'xml')
                controllername = "ExcelConvertPDF";
            /*else if (suffix == 'ppt' || suffix == 'pptx' || suffix == 'pptm' || suffix == 'potx' || suffix == 'ppsx' || suffix == 'ppsm' || suffix == 'potm')
                controllername = "PPTConvertPDF";*/
            //else if (suffix == 'doc' || suffix == 'docx' || suffix == 'docm' || suffix == 'dotx' || suffix == 'dotm' || suffix == 'dot' || suffix == 'txt' || suffix == 'rtp' || suffix == 'rtf')
            //    controllername = "WordConvertPDF";
            else {
                $("#ShowFileBtn").val("");
                layer.alert("请上传Excel文件!", {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                }, function (index) {
                    layer.close(index);
                    return false;
                });
            }

            if (files.length) {
                var file = files[0];
                var reader = new FileReader();
                reader.onloadend = function () {
                    $.ajax({
                        type: 'POST',
                        url: '/Finance/' + controllername,
                        data: {
                            fileName: frontname,
                            fileType: "."+suffix,
                            File: this.result
                        },
                        success: function (data) {
                            $("#pdfFile").attr("href", "/GetPDFFile.ashx?PicPath=" + data.ShowPDFPath);
                            $("#OldFileName").val(filename);
                            $("#OldFilePath").val(data.OldFilePath);
                            $("#PDFFileName").val(frontname+".pdf");
                            $("#PDFFilePath").val(data.PDFFilePath);
                            document.getElementById("pdfFile").click();
                            $("#mediaFile").show();
                        }
                    })
                };
                reader.readAsDataURL(file);
            }         
        }

    </script>
</head>
<body>
    
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li>财务审批</li>
        </ul>
    </div>
    <div class="formbody">
        <div id="usual1" class="usual">

            <div class="itab">
                <ul>
                    <li><a href="#tab1" class="selected">添加财务</a></li>
                    <li><a href="#tab2">财务列表</a></li>
                    <li><a href="#tab3">待审核列表</a></li>
                </ul>
            </div>

            
                <div id="tab1" class="tabson">
                    <ul class="forminfo">
                        <li>
                            <label>标题<b>*</b></label>
                            <input id="AddTitle" name="Title" class="dfinputs" placeholder="请输入标题" />
                        </li>
                        <li>
                            <label>备注<b>*</b></label>
                            <textarea id="AddRemark" name="Remark" class="dfinputs" placeholder="请输入备注" style="width: 500px; height: 100px"></textarea>
                        </li>
                        <li>
                            <label id="AddFile">上传附件<b>*</b></label>
                            <input type="file" id="ShowFileBtn" onchange="ShowFile('#ShowFileBtn',this.files);" />
                            <input type="hidden" id="OldFileName" name="OldFileName" />
                            <input type="hidden" id="OldFilePath" name="OldFilePath" />
                            <input type="hidden" id="PDFFileName" name="PDFFileName" />
                            <input type="hidden" id="PDFFilePath" name="PDFFilePath" />
                        </li>
                        <li id="mediaFile" style="display:none;">
                            <a id="pdfFile" href="" target="pdfifm" style="display:none;"></a><br />
                            <iframe name="pdfifm" style="margin-left:105px;width:800px;height:300px;"></iframe>
                        </li>
                        <li>
                            <label id="AddReciveUser">下一步审核人<b>*</b></label>
                            <div class="col-sm-9 col-lg-10 controls" style="margin-left: 100px;">
                                <input name="NextReviewerName" id="NextReviewerName" type="text" class="dfinputs" placeholder="请选择下一步审核人员" onclick="showMenuCheck();" onfocus="this.blur();" />
                                <br />
                                <span class="error_FromUserName"></span>
                            </div>
                            <input type="hidden" id="NEXTAUDITUSER" name="NEXTAUDITUSER" value="" />
                        </li>
                        <li>
                            <label>&nbsp;</label>
                            <input id="SaveBtn" type="button" class="sure" value="保  存" onclick="SubmitFinance();" />
                            <input id="PageBack" type="button" class="sure" value="返  回" onclick="window.location.href = '/Finance/Index'" />                            
                        </li>
                    </ul>
                </div>            

            <div id="tab2" class="tabson">
                <table>
                    <tr>
                        <td>标题：</td>
                        <td>
                            <input id="Title" type="text" class="dfinputs" style="width: 150px; height: 32px" /></td>
                        <td>发布时间：</td>
                       <td>
                        <input id="STime" type="text" class="dfinputs" readonly="readonly" data-date-format="yyyy-mm-dd" value="@string.Format("{0:yyyy-MM-dd}", new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1))"  style="width:180px;height:32px"/></td>
                    <td>至：</td>
                    <td>
                        <input id="ETime" type="text" class="dfinputs" readonly="readonly" data-date-format="yyyy-mm-dd" value="@string.Format("{0:yyyy-MM-dd}", new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).AddMonths(1).AddDays(-1))"  style="width:180px;height:32px"/></td>
                        <td>
                            <input type="button" class="sure" value="查询" onclick="Search()" style="margin-top: 0px;" /></td>
                    </tr>
                </table>

                <div style="clear: both; margin-top: 10px;" class="tableListDiv">
                    <table class="tablelist" id="FinanceTable" style="text-align: center">
                        <thead>
                            <tr>
                                <th style="text-align: center">标题</th>
                                <th style="text-align: center">备注</th>
                                <th style="text-align: center;">时间</th>
                                <th style="text-align: center;">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <div id="tab3" class="tabson">
                <table>
                    <tr>
                        <td>标题：</td>
                        <td>
                            <input id="DTitle" type="text" class="dfinputs" style="width: 150px; height: 32px" /></td>
                        <td>发布时间：</td>
                       <td>
                        <input id="DSTime" type="text" class="dfinputs" readonly="readonly" data-date-format="yyyy-mm-dd" value="@string.Format("{0:yyyy-MM-dd}", new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1))"  style="width:180px;height:32px"/></td>
                    <td>至：</td>
                    <td>
                        <input id="DETime" type="text" class="dfinputs" readonly="readonly" data-date-format="yyyy-mm-dd" value="@string.Format("{0:yyyy-MM-dd}", new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).AddMonths(1).AddDays(-1))"  style="width:180px;height:32px"/></td>
                        <td>
                            <input type="button" class="sure" value="查询" onclick="DSearch()" style="margin-top: 0px;" /></td>
                    </tr>
                </table>

                <div style="clear: both; margin-top: 10px;" class="tableListDiv">
                    <table class="tablelist" id="DFinanceTable" style="text-align: center">
                        <thead>
                            <tr>
                                <th style="text-align: center">标题</th>
                                <th style="text-align: center">备注</th>
                                <th style="text-align: center;">时间</th>
                                <th style="text-align: center;">下一步审核人</th>
                                <th style="text-align: center;">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>            

        </div>
    </div>

    <div id="menuCheck" class="menuCheck" style="display: none; position: absolute; z-index: 99999999;">
        <ul id="CheckTree" class="ztree" style="margin-top: 0; width: 273px; height: 300px; border: 1px solid #cdcdcd; background-color: rgb(255, 255, 255); color: #393939; overflow-y: scroll;"></ul>
    </div>

</body>
</html>
