@{
    ViewBag.Title = "Index";
    Layout = "~/Views/IntegratedService/EnforceLawEventManagement/_LayoutEnforceLawEventManagement.cshtml";
}

@section HeadStyles_EnforceLawEventManage
    {
    <style type="text/css">
        .table td.left {
            text-align: left;
        }

        .table td.center {
            text-align: center;
        }
    </style>
}


@section FootScripts_EnforceLawEventManage
    {
    <script type="text/javascript">
        var oTable;
        $(document).ready(function () {
            var url = "/GGFWEvent/GGFWProcessTaskList";
            BindDataTable(url);
        });
        //获取审批任务列表数据
        function BindDataTable(url) {
            if (oTable != null) {
                oTable.fnSettings().sAjaxSource = url;
                oTable.fnDraw(true);
            } else {
                oTable = $('#zfsjTable').dataTable({
                    sAjaxSource: url,
                    aoColumns: [
                        { "mDataProp": "SEQNO", "sClass": "center" },
                        { "mDataProp": "EventTitle", "sClass": "left" },
                        { "mDataProp": "ADName", "sClass": "left" },
                        { "mDataProp": "EventSource", "sClass": "center" },
                        {
                            "mDataProp": function (data) {
                                var OverTime = "<span title='" + data.OverTitleTime + "'>" + data.OverTime + "<span>";
                                return OverTime;
                            }, "sClass": "center"
                        },
                        {
                            "mDataProp": function (data) {
                                var deal = "<a  href='/GGFWEvent/DealEvent?ID=" + data.ID + "'>处理 </a>";
                                return deal;
                            }, "sClass": "center"
                        }
                    ],
                    fnDrawCallback: function (oSettings) {
                        var pagerIndex = oSettings._iDisplayStart / oSettings._iDisplayLength + 1;
                        var $currentPager = $(".dataTables_paginate span a:contains('" + pagerIndex + "')");
                        $currentPager.attr("style", "font-weight :bold;!important");
                    }
                });
            }
        }
    </script>
}

@section BreadcrumbSection{
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li><a href="javascript:void(0)"><i class="icon-home"></i>综合业务</a></li>
            <li>></li>
            <li><a href="javascript:void(0)">执法事件</a></li>
            <li>></li>
            <li class="active">公共服务事件</li>
        </ul>
    </div>
}
<div class="row-fluid">
    <div class="span12" id="tabledata">
        <div class="box box-black" style="margin-top: 0px;">
            <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
                <i class="icon-reorder" style="margin-right: 5px;"></i>公共服务事件列表
            </div>
            <div class="box-content" style="min-height: 400px;">
                <table class="table table-bordered table-striped table-hover fill-head" id="zfsjTable">
                    <thead>
                        <tr>
                            <th style="text-align: center; width: 40px;">序号</th>
                            <th style="text-align: center;">事件标题</th>
                            <th style="text-align: center; width: 70px;">当前状态</th>
                            <th style="text-align: center; width: 60px;">事件来源</th>
                            <th style="text-align: center; width: 80px;">办结时间</th>
                            <th style="text-align: center; width: 40px;">操作</th>
                        </tr>
                    </thead>
                </table>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
</div>


