<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="renderer" content="webkit" />
    <link rel="icon" href="/favicon.ico" type="image/x-ico" />
    <title>@ViewBag.Title</title>
    <link href="~/Scripts/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap-3.3.7-dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Scripts/Font-Awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Scripts/DataTables/DataTables-1.10.15/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/zTree_v3-master/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <link href="~/Scripts/messenger/css/messenger.css" rel="stylesheet" />
    <link href="~/Scripts/messenger/css/messenger-theme-ice.css" rel="stylesheet" />
    <link href="~/Scripts/datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="~/Scripts/datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/Scripts/ReBootstrap.css" rel="stylesheet" />
    @RenderSection("css", required: false)
</head>
<body>
    @RenderBody()
    <script src="~/Scripts/jquery/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/jquery/plugin/jquery.cookie.js"></script>
    <script src="~/Scripts/jquery/plugin/jQuery.extend.js"></script>
    <script src="~/Scripts/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    @*<script src="~/Scripts/DataTables/DataTables-1.10.15/js/jquery.dataTables.js"></script>*@
    <script src="~/Scripts/DataTables/datatables.min.js"></script>
    <script src="~/Scripts/DataTables/DataTables-1.10.15/js/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/zTree_v3-master/js/jquery.ztree.all.js"></script>
    <script src="~/Scripts/messenger/js/messenger.js"></script>
    <script src="~/Scripts/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="~/Scripts/jQuery-File-Upload-9.18.0/js/vendor/jquery.ui.widget.js"></script>
    <script src="~/Scripts/jQuery-File-Upload-9.18.0/js/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/jQuery-File-Upload-9.18.0/js/jquery.fileupload.js"></script>
    <script src="~/Scripts/moment/moment.js"></script>
    <script src="~/Scripts/JavaScript1.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
