@{
    Layout = null;
}


<script type="text/javascript">
    $(document).ready(function () {
        $("#goback").click(function () {
            var parentUnitID = $("#ParentUnitID").val();
            location.href = '/UnitManagement/Index?UnitID=' + parentUnitID;
        });

        $("form").submit(function () {
            var unitTypeID = $("#UnitTypeID").val();
            var unitName = $("#UnitName").val();
            var unitJC = $("#UnitJC").val();
            if (unitName == null || unitName == "") {
                layer.alert('单位名称不能为空!', {
                    icon: 0,
                    skin: 'layer-ext-seaning',
                    closeBtn: false,
                });
                return false;
            }
            if (unitJC == null || unitJC == "") {
                layer.alert('简称不能为空!', {
                    icon: 0,
                    skin: 'layer-ext-seaning',
                    closeBtn: false,
                });
                return false;
            }
            if (unitTypeID == null || unitTypeID == "") {
                layer.alert('请选择单位类型!', {
                    icon: 0,
                    skin: 'layer-ext-seaning',
                    closeBtn: false,
                });
                return false;
            }
            return true;
        });

    });
</script>

<form id="AddUnitForm" name="AddUnitForm" method="post" action="/UnitManagement/CommitAddUnit">
    <ul class="forminfo">
        <li>
            <label>所属单位名称<b>*</b></label>
            @Html.DropDownList("ParentUnitID", ViewBag.unitNameList as IEnumerable<SelectListItem>, new { @class = "dfinputs", disabled = "disabled" })
        </li>
        <li>
            <label>单位名称<b>*</b></label>
            <input name="UnitName" id="UnitName" type="text" class="dfinputs" placeholder="请输入单位名称必填" />
        </li>
        <li>
            <label>简称<b>*</b></label>
            <input name="UnitJC" id="UnitJC" type="text" class="dfinputs" placeholder="请输入简称必填" />
        </li>
        <li>
            <label>单位类型名称<b>*</b></label>
            @Html.DropDownList("UnitTypeID", ViewBag.unitTypeNameList as IEnumerable<SelectListItem>, new { @class = "dfinputs" })
        </li>
        <li>
            <label>单位排序号</label>
            <input name="SeqNo" id="SeqNo" type="text" class="dfinputs" placeholder="请输入单位排序号" />
        </li>
        <li>
            <label>单位说明</label>
            <textarea name="Description" id="Description" class="dfinputs" style="width: 700px; height: 150px" placeholder="请输入单位说明"></textarea>
        </li>
        <li>
            <label>&nbsp;</label>
            <input name="" type="submit" class="butn" value="确定" />
            <input type="button" class="butn" value="返回" id="goback" />
        </li>
    </ul>
    @Html.Hidden("ParentUnitID")
</form>

