@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <link href="/Scripts/assets/data-tables/demo_table.css" rel="stylesheet" />
    <link href="~/Scripts/assets/data-tables/DT_bootstrap.css" rel="stylesheet" />
    <link href="/Scripts/assets/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />

    <script src="/Scripts/jquery-1.7.1.js"></script>

    <script src="/Scripts/assets/data-tables/jquery.datatables.min.js"></script>
    <script src="/Scripts/assets/data-tables/DT_bootstrap.js"></script>
    <script src="/Scripts/assets/data-tables/PLE_DT_bootstrap.js"></script>

    <script src="/Scripts/assets/zTree/js/jquery.ztree.core.js"></script>
    <script src="/Scripts/assets/zTree/js/jquery.ztree.excheck.js"></script>
    <script src="/Scripts/assets/zTree/js/jquery.ztree.exedit.js"></script>

    <link href="/Content/css/OA.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/seaning/style.css" rel="stylesheet" />
    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/js/PageNotBack.js"></script>
    <script type="text/javascript">
        layer.config({
            skin: 'layer-ext-seaning',
            offset: ['100px', '33%'],
            title: '提示',
            moveOut: true,
            closeBtn: false,
            extend: 'skin/seaning/style.css'
        });

    </script>
    <script type="text/javascript">
        var oTable = null;
        $(document).ready(function () {
            var url = "/UnitManagement/GetUnits?ParentUnitID=";
            var setting = {
                callback: {
                    onClick: function (event, treeId, treeNode) {
                        var parentUnit = treeNode.value;
                        //console.log(treeNode.children.length);
                        var num = treeNode.children.length;
                        $("#ParentIDPid").val(num);
                        $("#ParentUnitID").val(parentUnit);
                        //改变导航条
                        $("#tit").text("组织机构列表");
                        // 隐藏添加列表
                        $("#addunit").hide();
                        //隐藏编辑表单
                        $("#editunit").hide();
                        // 显示列表表单
                        $("#listunit").show();
                        // 显示子节点列表数据
                        oTable.fnPageChange('first', true);
                        oTable.fnClearTable(false);
                        BindDataTable(url + treeNode.value + "&random=" + Math.random());
                    },
                }
            };

            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '/UnitManagement/GetUnitManageTree?random=' + Math.random(),
                success: function (data) {
                    if (data != null && data != "") {
                        unitIDValue = '@ViewData["ParentUnitID"]';
                        var zNodes = data;
                        $.fn.zTree.init($("#tree"), setting, zNodes);
                        var treeObj = $.fn.zTree.getZTreeObj("tree");
                        var node = treeObj.getNodeByParam("value", unitIDValue, null);
                        treeObj.selectNode(node);
                        treeObj.expandNode(node, true);
                        BindDataTable(url + unitIDValue + "&random=" + Math.random());
                    }
                }

            });
            $("#addUnit").click(function () {
                var parentUnitID = $("#ParentUnitID").val();
                var parentidpid = $("#ParentIDPid").val();
                if (parentidpid == 0) {
                    layer.alert('不能再添加子元素了。', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    return;
                } else {
                    AddUnit(parentUnitID);
                }
            });
        });
        //添加组织
        function AddUnit(parentUnitID) {
            $("#tit").text("新增组织");
            $.ajax(
                {
                    type: 'GET',
                    url: '/UnitManagement/AddUnit?random=' + Math.random(),
                    dataType: 'html',
                    data: { ParentUnitID: parentUnitID },
                    success: function (data) {
                        //隐藏列表
                        $("#listunit").hide();
                        //隐藏编辑表单
                        $("#editunit").hide();
                        //显示添加表单
                        $("#addunit").show();
                        $("#addunit").html(data);
                    }
                });
        }
        function EditUnit(unitID) {
            $("#tit").text("编辑组织");
            $.ajax(
                {
                    type: 'GET',
                    url: '/UnitManagement/EditUnit?random=' + Math.random(),
                    dataType: 'html',
                    data: { UnitID: unitID },
                    success: function (data) {
                        //隐藏列表
                        $("#listunit").hide();
                        //隐藏添加表单
                        $("#addunit").hide();
                        //显示编辑表单
                        $("#editunit").show();
                        $("#editunit").html(data);
                    }
                });
        }

        function DeleteUnit(unitID, parentUnitID) {
            layer.confirm('是否确认删除?', {
                btn: ['是', '否'],
                icon: 4,
                //按钮
            }, function () {
                $.ajax({
                    type: "GET",
                    url: '/UnitManagement/ValidateUnitDelete?random=' + Math.random(),
                    data: { UnitID: unitID },
                    success: function (data) {
                        if (data == "0") {
                            $.ajax({
                                type: "GET",
                                url: "/UnitManagement/DeleteUnit?UnitID=" + unitID + "&ParentUnitID=" + parentUnitID,
                                success: function (date) {
                                    layer.alert("删除成功", { icon: 1, skin: 'layer-ext-seaning' }, function (index) {
                                        layer.close(index);
                                        location.href = "/UnitManagement/Index?UnitID=" + parentUnitID;
                                    });
                                }
                            });
                        }
                        else {
                            layer.alert('该单位已存在子单位，请先删除子单位!', {
                                icon: 0,
                                skin: 'layer-ext-seaning'
                            });
                        }
                    }
                });
            }, function () {
                layer.close();
            });
        }

        //绑定列表
        function BindDataTable(url) {
            if (oTable != null) {
                oTable.fnSettings().sAjaxSource = url;
                oTable.fnDraw(true);
            } else {
                oTable = $('#UnitTable').dataTable({
                    sAjaxSource: url,

                    aoColumns: [
                        { "mDataProp": "UnitName" },
                        { "mDataProp": "UnitTypeName" },

                        {
                            "mDataProp": function (data) {
                                var parentUnitID = $("#ParentUnitID").val();
                                var edit = "<a class='btn_ico_a_edit' href='#' onclick=\"EditUnit(" + data.UnitID + ")\"><img src='/Images/btnimage/edit.png' class='btn_ico_image' />编辑</a>";
                                //var del = "<a class='btn_ico_a_delete' href='/UnitManagement/DeleteUnit?UnitID=" + data.UnitID + "&ParentUnitID=" + parentUnitID + "' onclick=\" return DeleteUnit(" + data.UnitID + ",'" + data.UnitName + "')\"><img src='/Images/btnimage/delete.png' class='btn_ico_image' />删除</a>";
                                var del = "<a class='btn_ico_a_delete' href='#' onclick=\"DeleteUnit('" + data.UnitID + "','" + parentUnitID + "')\"><img src='/Images/btnimage/delete.png' class='btn_ico_image' />删除</a>";
                                return edit + "  " + del;
                            }, "sClass": "center"
                        }
                    ],
                    fnDrawCallback: function (oSettings) {
                        var pagerIndex = oSettings._iDisplayStart / oSettings._iDisplayLength + 1;
                        var $currentPager = $(".dataTables_paginate span a:contains('" + pagerIndex + "')");
                        $currentPager.attr("style", "font-weight :bold;!important");
                    }
                });
            }
        }
    </script>
</head>
<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li>组织管理</li>
        </ul>
    </div>
    <div style="width: 15%; float: left; margin: 10px">
        <div class="formtitle">
            <span>组织结构树</span>
        </div>
        <div>
            <input type="hidden" id="ParentIDPid"/>
            <ul id="tree" class="ztree"></ul>
        </div>
    </div>
    <div style="width: 75%; float: left; border: 1px;">
        <div class="formbody">
            <div class="formtitle"><span id="tit">组织机构列表</span></div>
            <div id="listunit">
                <ul class="seachform">
                    <li>
                        <input name="" type="button" class="sure" value="添加" id="addUnit" />
                    </li>
                </ul>
                <div style="clear: both; margin-top: 10px;" class="tableListDiv">
                    <table class="tablelist" id="UnitTable" style="text-align: center">
                        <thead>
                            <tr>
                                <th style="text-align: center">单位名称</th>
                                <th style="text-align: center">单位类型名称</th>

                                <th style="text-align: center; width: 135px;">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div style="display: none;" id="addunit">
            </div>
            <div style="display: none;" id="editunit">
            </div>
        </div>
    </div>
    @Html.Hidden("ParentUnitID")
    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>
</body>
</html>
