@{
    Layout = "~/Views/IntegratedService/ScheduleManagement/_LayoutScheduleManagement.cshtml";
}

@section HeadStyles_ScheduleManage{
    <style type="text/css">
        .center {
            text-align: center !important;
        }
    </style>
}

@section FootScripts_ScheduleManage{
    <script type="text/javascript">
        var oTable = null;

        $(document).ready(function () {

            //绑定搜索按钮点击事件
            $("#btnQuery").click(function () {
                var url = "/CarPatrolRoute/GetCarRoutes";
                //路线名称查询
                var routeName = escape($("#txtRouteName").val());

                url += "?routeName=" + routeName;
                url += "&random=" + Math.random();

                BindDataTable(url);
            });

            $("#btnQuery").click();
        })

        //定义 datatable 数据加载函数
        function BindDataTable(url) {
            if (oTable != null) {
                oTable.fnSettings().sAjaxSource = url;
                oTable.fnDraw(true);
            } else {
                oTable = $("#CarPatrolRoute").dataTable({
                    sAjaxSource: url,
                    aoColumns: [
                        { "mDataProp": "routeName", "sClass": "left" },
                        { "mDataProp": "routeDescription", "sClass": "left" },
                        //{ "mDataProp": "draw", "sClass": "center" },
                        { "mDataProp": "operating", "sClass": "center" }
                    ],
                    fnDrawCallback: function (oSettings) {
                        var pagerIndex = oSettings._iDisplayStart / oSettings._iDisplayLength + 1;
                        var $currentPager = $(".dataTables_paginate span a:contains('" + pagerIndex + "')");
                        $currentPager.attr("style", "font-weight :bold;!important");
                    }
                });
            }
        }

        function DeleteRoute(routeID) {
            if (!confirm("确认要删除?")) {
                return;
            }
            $.ajax({
                url: "/CarPatrolRoute/DeleteRoute?routeID=" + routeID,
                type: "get",
                success: function (data) {
                    if (data == "0") {
                        if (!confirm("数据正在使用中,确定要删除?")) {
                            return;
                        }
                        $.ajax({
                            url: "/CarPatrolRoute/DeleteCarTask?routeID=" + routeID + "&newtime=" + Math.random(),
                            type: "get",
                            success: function (data) {
                                if (data == "1") {
                                    location.reload();
                                } else {
                                    alert("操作失败1");
                                }
                            },
                            error: function (mes) {
                                alert("服务器繁忙请刷新！")
                            }
                        });
                    } else if (data == "1") {
                        location.reload();
                    } else if (data == "2") {
                        alert("操作失败");
                    }

                },
                error: function (mes) {
                    alert("服务器繁忙请刷新！")
                }
            });
        }

    </script>
}

@section BreadcrumbSection{
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li><a href="javascript:void(0)"><i class="icon-home"></i>综合业务</a></li>
            <li>></li>
            <li><a href="javascript:void(0)">巡查监管</a></li>
            <li>></li>
            <li class="active">车辆巡查路线管理</li>
        </ul>
    </div>
}

<div class="box box-black" style="margin: 5px;">
    <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
        <i class="icon-reorder" style="margin-right: 5px;"></i>车辆巡查路线列表
    </div>
    <div class="box-content" style="min-height: 400px;">
        <div class="query">
            <table>
                <tr>
                    <td style="width: 80px">
                        <label style="vertical-align: bottom; margin-top: 5px; margin-bottom: 2px; float: left;">路线名称:</label></td>
                    <td style="width: 250px">
                        <input id="txtRouteName" type="text" style="margin-top: 5px; margin-bottom: 0px; float: left;" />
                    </td>
                    <td>
                        <input id="btnQuery" type="button" style="margin-top: 5px; margin-bottom: 0px;" class="btn btn-info" title="查询" value="查 询">
                        <a href="@Url.Content("~/CarPatrolRoute/AddRoute")" style="margin-top: 5px; margin-bottom: 0px;" class="btn btn-info" title="添加">添 加</a>
                    </td>
                </tr>
            </table>
        </div>
        <hr />
        <table class="table table-bordered table-striped table-hover fill-head" id="CarPatrolRoute">
            <thead>
                <tr>
                    <th style="text-align: center;">路线名称</th>
                    <th style="text-align: center;">路线说明</th>
                   @* <th style="text-align: center;">绘制路线</th>*@
                    <th style="text-align: center;">操作</th>
                </tr>
            </thead>
        </table>
        <div style="clear: both"></div>
    </div>
</div>
