/*=========mF_games_tb========*/
.mF_games_tb_wrap{float:left; margin-left:28px;}/*èƒŒæ™¯è¾¹æ¡†*/
.mF_games_tb {background:#f1f1f1;}
.mF_games_tb .pic{position:absolute;top:0;left:0; z-index:9;}
.mF_games_tb .pic li{position:absolute;width:100%;height:100%;overflow:hidden;display:none; list-style:none;}
.mF_games_tb .pic li img { width:522px; height:254px;}
.mF_games_tb .thumb{position:absolute;bottom:-21px;left:0;overflow:hidden; /*padding:2px 0;*/ background-image:url('/images/eventslist/thumbg.png');
      }
.mF_games_tb .thumb ul{position:absolute;top:0;left:0;}
.mF_games_tb .thumb ul li{position:relative;float:left;overflow:hidden;cursor:pointer; list-style:none;}
.mF_games_tb .thumb ul li a{display:block;border:2px solid #D3D3D3; margin:0 2px; height:44px; list-style:none;}
.mF_games_tb .thumb ul li img{position:relative;z-index:1;width:115px;height:44px;}
.mF_games_tb .thumb ul li.current a{border-color:#FF8C00;}
/*.mF_games_tb .txt li{position:absolute;z-index:2;width:100%;height:38px;line-height:38px;display:none; z-index:99;}
.mF_games_tb .txt li a{display:block;position:relative;z-index:1;color:#fff;padding-left:16px;font-size:14px;font-weight:bold;text-decoration:none;}
/*æ ‡é¢˜æ ·å¼*/
/*.mF_games_tb .txt li b{display:block;height:100%;width:100%;position:absolute;top:0;left:0;background:#000;filter:alpha(opacity=30);opacity:0.3;}*/
.mF_games_tb .txt{ display:none;}
.mF_games_tb .txt li{ display:none;}

.mF_games_tb .prev,.mF_games_tb .next{font:bold 28px/45px arial;width:16px;overflow:hidden;position:absolute;z-index:4;left:0;bottom:2px;cursor:pointer;}
.mF_games_tb .next{left:auto;right:0;}
.mF_games_tb .prev a,.mF_games_tb .next a{display:block;color:#bbb;text-align:center;text-decoration:none; width:16px; height:45px;}
    .mF_games_tb .prev a 
    {
        background-image:url('/images/eventslist/eventspre01.png');
        background-repeat:no-repeat;
    }

     .mF_games_tb .next a 
    {
        
        background-image:url('/images/eventslist/eventsnext01.png');
        background-repeat:no-repeat;
    }
.mF_games_tb .prev a:hover,.mF_games_tb .next a:hover{color:#f60;}