@section HeadStyles{
    <link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/bootstrap-switch/static/stylesheets/bootstrap-switch.css" rel="stylesheet" />
    <link href="~/Scripts/assets/data-tables/demo_table.css" rel="stylesheet" />
    <link href="~/Content/RCZX.css" rel="stylesheet" />
    <link href="~/Scripts/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <link href="~/Scripts/assets/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <link href="~/Scripts/assets/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="~/Scripts/assets/bootstrap-timepicker/compiled/timepicker.css" rel="stylesheet" />
}
@section FootScripts{
    <script src="~/Scripts/assets/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/assets/bootstrap-switch/static/js/bootstrap-switch.js"></script>
    <script src="~/Scripts/assets/fullcalendar/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/Scripts/assets/zTree/js/jquery.ztree.core-3.5.min.js"></script>
    <script src="~/Scripts/assets/zTree/js/jquery.ztree.excheck-3.5.min.js"></script>
    <script src="~/Scripts/js/GRGZT.js"></script>
    <script src="~/Scripts/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/assets/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script src="~/Scripts/assets/bootstrap-datepicker/js/bootstrap-datepicker-zh_CN.js"></script>


    <script>
        function TimeTransform(time) {
            time = time.replace("/Date(", "");
            time = time.replace(")/", "");
            var d = new Date();
            d.setTime(time);
            var year = d.getFullYear();
            var month = d.getMonth() + 1;
            var date = d.getDate();

            var hour = d.getHours();
            hour = hour > 10 ? hour : "0" + hour;
            var minute = d.getMinutes();
            minute = minute > 10 ? minute : "0" + minute;
            var StrTime = year + "-" + month + "-" + date + " " + hour + ":" + minute;

            return StrTime;
        }
        function TimeTransform2(d) {
            var year = d.getFullYear();
            var month = d.getMonth() + 1;
            var date = d.getDate();

            hour = hour > 10 ? hour : "0" + hour;
            var minute = d.getMinutes();
            minute = minute > 10 ? minute : "0" + minute;
            var StrTime = year + "-" + month + "-" + date + " " + hour + ":" + minute;

            return StrTime;
        }

        function zTreeOnCheck(event, treeId, treeNode) {
            var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
            var nodes = treeObj.getCheckedNodes(true);
            var userIDs = "";

            for (var i = 0; i < nodes.length; i++) {
                userIDs += "," + nodes[i].id;
            }

            if ($("#userIDs").val() == userIDs) {
                return;
            }
            if (userIDs == null | userIDs == "") {
                $("#calendar").fullCalendar('removeEvents');
                $("#userIDs").val(userIDs);
            }
            else {
                $("#userIDs").val(userIDs);

                $("#calendar").fullCalendar('refetchEvents');
            }
        }

        function getEventSouce(start, end, callback) {
            $("#calendar").fullCalendar('removeEvents');
            var dt_start = start.getFullYear() + "-" + (start.getMonth() + 1) + "-" + start.getDate();
            var dt_end = end.getFullYear() + "-" + (end.getMonth() + 1) + "-" + end.getDate();
            var userID = $("#userID").val();
            var viewMode = $('#calendar').fullCalendar("getView").name;

            $.ajax({
                type: 'POST',
                url: 'GetEventSources',
                data: "start=" + dt_start + "&end=" + dt_end + "&userID=" + userID + "&viewMode=" + viewMode,
                success: function (data) {
                    var events = [];
                    if (data != "") {
                        var info = data;
                        for (var i = 0; i < info.length; i++) {
                            var ev = info[i];

                            var title = ev.title;

                            var id = ev.ID;

                            var temp_s = ev.evtStart;
                            var temp_e = ev.evtEnd;

                            temp_s = temp_s.replace("/Date(", "");
                            temp_s = temp_s.replace(")/", "");
                            temp_e = temp_e.replace("/Date(", "");
                            temp_e = temp_e.replace(")/", "");

                            var color = null;
                            if (ev.type == 0) {
                                color = "rgb(21,183,78)";
                            }
                            if (ev.type == 1) {
                                color = "rgb(255,221,20)";
                            }
                            if (ev.type == 2) {
                                color = "rgb(251,56,56)";
                            }
                            if (ev.type == 3) {
                                color = "rgb(162,0,255)";
                            }
                            if (ev.type == 4) {
                                color = "rgb(0, 144, 255)";
                            }

                            var evtstart = new Date(parseInt(temp_s));
                            var evtend = new Date(parseInt(temp_s));

                            events.push({
                                title: title == null ? "未命名" : title,
                                allDay: false,
                                start: evtstart,
                                end: evtend,
                                id: id,
                                backgroundColor: color
                            });
                        }
                    }
                }
            });
        }

        function showEvent(event) {
            if (event.id != -1) {
                $("#modal-2").modal('show');
                $.ajax({
                    url: "GetEventByID",
                    data: "eventID=" + event.id,
                    post: "get",
                    success: function (data) {
                        $("#titleShow").val(data.TITLE);
                        $("#isShareShow").val(data.SHARETYPEID);
                        if (data.ISALLDAYEVENT == 1) {
                            $("#isAllDayEventShow").prop("checked", true);
                        }
                        else {
                            $("#isAllDayEventShow").prop("checked", false);
                        }

                        var startTime = TimeTransform(data.STARTTIME);

                        $("#startTimeShow").val(startTime);
                        $("#endTimeShow").val(TimeTransform(data.ENDTIME));
                        $("#scheduleTypeShow").val(data.SCHEDULETYPEID);
                    },
                    error: function (data) {
                        alert("失败");
                    }
                });
            } else {
                $('#calendar').fullCalendar('changeView', "agendaDay");
                $('#calendar').fullCalendar('gotoDate', event.start);
            }


        }

        $(document).ready(function () {
            var setting = {
                view: {
                    selectedMulti: false
                },
                check: {
                    enable: true
                },
                data: {
                    simpleData: {
                        enable: true
                    }
                },
                callback: {
                    onCheck: zTreeOnCheck
                }
            };

            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: "GetUsersNode?userID=" + $("#userID").val() + "&random=" + Math.random(),
                success: function (data) {
                    if (data != null && data != "") {
                        var zNodes = data;
                        $.fn.zTree.init($("#treeDemo"), setting, zNodes);
                    }
                },
                error: function (data) { alert(data); }
            });

            $("#startDate").datepicker();
            $("#startTime").timepicker({ minuteStep: 1, showSeconds: false, showMeridian: false, defaultTime: '06:00' });
            $("#endDate").datepicker();
            $("#endTime").timepicker({ minuteStep: 1, showSeconds: false, showMeridian: false, defaultTime: '17:30' });

            $("#addSchedule").click(function () {
                $("#modal-1").modal('show');
            });

            $("#isAllDayEvent").change(function () {
                if ($("#isAllDayEvent").prop("checked")) {
                    $("#startTime").attr({ disabled: "disabled" });
                    $("#endTime").attr({ disabled: "disabled" });
                    $("#startTime").val("00:00");
                    $("#endTime").val("00:00");
                } else {
                    $("#startTime").val("06:00");
                    $("#endTime").val("17:30");
                    $("#startTime").removeAttr("disabled");
                    $("#endTime").removeAttr("disabled");
                }
            });
            $("#submitSchedule").click(function () {
                var userID = $("#userID").val();
                var startDate = $("#startDate").val();
                var startTime = $("#startTime").val();
                var endDate = $("#endDate").val();
                var endTime = $("#endTime").val();
                var scheduleType = $("#scheduleType").val();
                var isAllDayEvent;
                if ($("#isAllDayEvent").prop("checked")) {
                    isAllDayEvent = 1;
                }
                else {
                    isAllDayEvent = 0;
                }

                var isShare = $("#isShare").val();
                var title = $("#title").val();

                var parameter = {
                    title: title,
                    userID: userID,
                    startTime: startDate + " " + startTime,
                    endTime: endDate + " " + endTime,
                    scheduleType: scheduleType,
                    isAllDayEvent: isAllDayEvent,
                    isShare: isShare
                };
                $.ajax({
                    url: "AddEvent",
                    type: "post",
                    data: parameter,
                    success: function (data) {
                        if (data == "True") {
                            var event = {
                                id: null,
                                start: parameter.startTime,
                                end: parameter.endTime,
                                allDay: $("#isAllDayEvent").prop("checked"),
                                title: parameter.title
                            };
                            location.assign(location);
                        } else {
                        }
                    },
                    error: function (msg) { alert("添加失败！如果此错误一直出现请联系程序管理员"); }
                });
            });

            //日历
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                monthNamesShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                dayNames: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
                dayNamesShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
                today: ["今天"],
                firstDay: 1,
                buttonText: {
                    today: '今天',
                    month: '月',
                    week: '周',
                    day: '日'
                },
                editable: false,
                selectable: true,
                selectHelper: true,
                events: function (start, end, callback) {
                    $("#calendar").fullCalendar('removeEvents');
                    var dt_start = start.getFullYear() + "-" + (start.getMonth() + 1) + "-" + start.getDate();
                    var dt_end = end.getFullYear() + "-" + (end.getMonth() + 1) + "-" + end.getDate();
                    var userID = $("#userID").val();
                    var viewMode = $('#calendar').fullCalendar("getView").name;
                    //alert("dt_start:" + dt_start + ",dt_end:" + dt_end + ",userID:" + userID + ",viewMode:" + viewMode + ",shareUserID:" + $("#userIDs").val());
                    $.ajax({
                        type: 'POST',
                        url: 'GetEventSources',
                        data: "start=" + dt_start + "&end=" + dt_end + "&userID=" + userID + "&viewMode=" + viewMode
                            + "&shareUserID=" + $("#userIDs").val(),
                        success: function (data) {
                            //alert("data:" + data);
                            var events = [];
                            if (data != "") {
                                var info = data;

                                for (var i = 0; i < info.length; i++) {

                                    var ev = info[i];

                                    var title = ev.title;

                                    var id = ev.ID;
                                    var draggable = ev.draggable;

                                    var temp_s = ev.evtStart;
                                    var temp_e = ev.evtEnd;

                                    temp_s = temp_s.replace("/Date(", "");
                                    temp_s = temp_s.replace(")/", "");
                                    temp_e = temp_e.replace("/Date(", "");
                                    temp_e = temp_e.replace(")/", "");

                                    var color = null;
                                    if (ev.type == 0) {
                                        color = "rgb(21,183,78)";
                                    }
                                    if (ev.type == 1) {
                                        color = "rgb(255,221,20)";
                                    }
                                    if (ev.type == 2) {
                                        color = "rgb(251,56,56)";
                                    }
                                    if (ev.type == 3) {
                                        color = "rgb(162,0,255)";
                                    }
                                    if (ev.type == 4) {
                                        color = "rgb(0, 144, 255)";
                                    }

                                    var evtstart = new Date(parseInt(temp_s));
                                    var evtend = new Date(parseInt(temp_e));

                                    events.push({
                                        title: title == null ? "未命名" : title,
                                        allDay: false,
                                        start: evtstart,
                                        end: evtend,
                                        id: id,
                                        backgroundColor: color
                                    });
                                }
                            }
                            callback(events);
                        }
                    });

                },
                eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc, jsEvent, ui, view) {
                    revertFunc();
                },
                eventClick: function (event, jsEvent, view) {
                    showEvent(event);
                },
                viewDisplay: function (view) {

                    var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
                    if (treeObj == null) {
                        return;
                    }
                    var nodes = treeObj.getCheckedNodes(true);
                    var userIDs = "";

                    for (var i = 0; i < nodes.length; i++) {
                        userIDs += "," + nodes[i].id;
                    }

                    //if ($("#userIDs").val() == userIDs) {
                    //    return;
                    //}
                    if (userIDs == null | userIDs == "") {
                        $("#calendar").fullCalendar('removeEvents');
                        $("#userIDs").val(userIDs);
                    }
                    else {
                        $("#userIDs").val(userIDs);

                        $("#calendar").fullCalendar('refetchEvents');
                    }



                },
                eventRender: function (event, element) {
                    element.find('.fc-event-time').remove();
                },
                eventAfterAllRender: function (view) {
                    $('.fc-header .fc-ts').remove();

                    var html_str = "<tr class='fc-ts'><td colspan='3' style='width:100%;'><div class='fc-ts-content'>"

                    html_str += "<div class='ts-item'><div class='item-both' style='background-color:rgb(21,183,78);'></div></div>";
                    html_str += "<div class='ts-text'>会议日程</div>";
                    html_str += "<div class='ts-item'><div class='item-both' style='background-color:rgb(255,221,20);'></div></div>";
                    html_str += "<div class='ts-text'>巡查任务 </div>";
                    html_str += "<div class='ts-item'><div class='item-both' style='background-color:rgb(251,56,56);'></div></div>";
                    html_str += "<div class='ts-text'>案件任务</div>";
                    html_str += "<div class='ts-item'><div class='item-both' style='background-color:rgb(162,0,255);'></div></div>";
                    html_str += "<div class='ts-text'>审批任务</div>";
                    html_str += "<div class='ts-item'><div class='item-both' style='background-color:rgb(0,144,255);'></div></div>";
                    html_str += "<div class='ts-text'>值班任务</div>";

                    html_str += "</div></td></tr>";

                    $('.fc-header tbody').append($(html_str));

                }
            });

        });
    </script>
}
<div id="main-content" style="margin-left: 0px; width: 100%">
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home" style="font-size: 18px;"></i>
                <a href="#">个人中心</a>
                <span class="divider"><i class="icon-angle-right"></i></span>
            </li>
            <li class="active">日程中心</li>
        </ul>
    </div>
    <div class="row" style="margin-left: 0px; padding-bottom: 10px;">
        <div class="span" style="width: 22%; margin-left: 5px; margin-right: 0px">
            <div class="row" style="margin-left: 0px;">
                <div class="span" style="width: 100%; margin-left: 0px;">
                    <div class="box">
                        <div class="box-title height-18px">
                            <h5><i class="icon-reorder"></i>我的日程</h5>
                            <div class="box-tool">
                                <a href="#" data-action="collapse"><i class="icon-chevron-up"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div class="wdrcRow">
                                <span>会议日程</span>
                                <div class="switch" data-on-label="选中" data-off-label="取消">
                                    <input type="checkbox" checked />
                                </div>
                            </div>
                            <div class="wdrcRow">
                                <span>巡查任务</span>
                                <div class="switch" data-on-label="选中" data-off-label="取消">
                                    <input type="checkbox" checked />
                                </div>
                            </div>
                            <div class="wdrcRow">
                                <span>案件任务</span>
                                <div class="switch" data-on-label="选中" data-off-label="取消">
                                    <input type="checkbox" checked />
                                </div>
                            </div>
                            <div class="wdrcRow">
                                <span>审批任务</span>
                                <div class="switch" data-on-label="选中" data-off-label="取消">
                                    <input type="checkbox" checked />
                                </div>
                            </div>
                            <div class="wdrcRow">
                                <span>值班任务</span>
                                <div class="switch" data-on-label="选中" data-off-label="取消">
                                    <input type="checkbox" checked />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-left: 0px; padding-top: 10px;">
                <div class="span" style="width: 100%; margin-left: 0px;">
                    <div class="box">
                        <div class="box-title height-18px">
                            <h5><i class="icon-reorder"></i>共享日程</h5>
                            <div class="box-tool">
                                <a href="#" data-action="collapse"><i class="icon-chevron-up"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <ul id="treeDemo" class="ztree"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span" style="width: 76%; margin-left: 10px;">
            <div class="box box-black margin-top-0px">
                <div class="box-content">
                    <div class="form-group" style="margin-top: 5px; margin-bottom: 5px; float: left;">
                        <label class="col-xs-3 col-lg-2 control-label" for="textfield3" style="float: left; width: auto; height: 30px; line-height: 30px;">
                            日程内容:</label>
                        <input name="txtName" class="form-control" id="txtName" type="text" placeholder="内容">
                    </div>
                    <div class="form-group" style="margin-left: 10px; margin-top: 5px; margin-bottom: 5px; float: left;">
                        <a href="#" class="btn btn-primary" style="margin-right: 10px;">查 询</a>
                        <a href="#" id="addSchedule" class="btn btn-primary" role="button" data-toggle="modal">添 加</a>
                    </div>
                </div>
                <div class="box-content">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>2013 © 杭州天尊信息技术有限公司</p>
    </footer>
    <a id="btn-scrollup" class="btn btn-circle btn-large" href="#"><i class="icon-chevron-up"></i></a>
</div>

<div id="modal-1" class="modal hide fade">
    <div class="modal-dialog" id="show1">
        <div style="width: 100%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">添加日程</h3>
            </div>
            <form class="form-horizontal" action="AddEvent" method="post">
                <div class="modal-body">

                    <div class="form-group" style="margin-bottom: 5px; margin-left: 20px; margin-right: 20px">
                        <label class="col-xs-3 col-lg-2 control-label" style="width: 80px;">日程主题</label>
                        <div class="col-sm-9 col-lg-10 controls" style="margin-left: 100px;">
                            <textarea name="titile" id="title" rows="2" placeholder="输入来源" style="width: 90%;"></textarea>
                        </div>
                    </div>

                    <div class="form-group" style="margin-bottom: 5px;">
                        <div style="margin-left: 43px; margin-right: 43px">
                            <table style="width: 100%">
                                <tr>
                                    <td style="width: 26%">全天日志                               
                                    </td>
                                    <td style="width: 15%">
                                        <input type="checkbox" id="isAllDayEvent" name="isAllDayEvent" /></td>
                                    <td style="width: 20%">共享范围
                                    </td>
                                    <td>
                                        <select id="isShare" name="isShare">
                                            <option value="0">不共享</option>
                                            <option value="1" selected="selected">部门共享</option>
                                            <option value="2">全局共享</option>
                                        </select></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="form-group" style="margin-bottom: 5px; margin-left: 20px; margin-right: 20px">
                        <label class="col-xs-3 col-lg-2 control-label" style="width: 80px;">结束时间</label>
                        <div class="col-sm-9 col-lg-10 controls" style="margin-left: 100px;">
                            <input name="startDate" class="form-control" id="startDate" type="text" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now)" style="width: 50%;">
                            <input name="startTime" class="timepicker-24" value="06:00" id="startTime" type="text" style="width: 30%; margin-left: 22px" />
                        </div>
                    </div>

                    <div class="form-group" style="margin-bottom: 5px; margin-left: 20px; margin-right: 20px">
                        <label class="col-xs-3 col-lg-2 control-label" style="width: 80px;">结束时间</label>
                        <div class="col-sm-9 col-lg-10 controls" style="margin-left: 100px;">
                            <input name="endTime" class="form-control" id="endDate" type="text" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now)" style="width: 50%;">
                            <input name="startTime" class="timepicker-24" value="17:30" id="endTime" type="text" style="width: 30%; margin-left: 22px" />
                        </div>
                    </div>

                    <div class="form-group" style="margin-bottom: 5px; margin-left: 20px; margin-right: 45px">
                        <label class="col-sm-3 col-lg-2 control-label" style="width: 80px;">日程类型</label>
                        <div class="col-sm-9 col-lg-10 controls" style="margin-left: 100px;">
                            <select id="scheduleType" name="scheduleType" class="form-control" style="width: 100%">
                                <option value="0">会议日程</option>
                                <option value="1">巡查任务</option>
                                <option value="2">案件任务</option>
                                <option value="3">审批任务</option>
                                <option value="4">值班任务</option>
                            </select>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-primary" id="submitSchedule" value="添加" />
                    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>

@Html.Hidden("userID", Web.SessionManager.User.UserID)
@Html.Hidden("userIDs", "," + Web.SessionManager.User.UserID)
<div id="list-modal" class="modal hide fade" style="width: 680px; margin-left: -25%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>列表</h3>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>日程主题</th>
                            <th style="min-width: 38px;">日程类型</th>
                            <th>递送时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2013000070012</td>
                            <td>占用绿地期满未恢复原装</td>
                            <td>全局</td>
                            <td>2013-09-04 14:21</td>
                            <td><a href="#">查看</a>
                                <a href="#">修改</a>
                                <a href="#">删除</a></td>
                        </tr>
                        <tr>
                            <td>2013000070013</td>
                            <td>占用绿地期满未恢复原装</td>
                            <td>部门</td>
                            <td>2013-09-04 15:43</td>
                            <td><a href="#">查看</a>
                                <a href="#">修改</a>
                                <a href="#">删除</a></td>
                        </tr>
                        <tr>
                            <td>2013000070014</td>
                            <td>占用绿地期满未恢复原装</td>
                            <td>个人</td>
                            <td>2013-09-06 11:51</td>
                            <td><a href="#">查看</a>
                                <a href="#">修改</a>
                                <a href="#">删除</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                <button class="btn btn-primary" data-dismiss="modal">保存</button>
            </div>
        </div>
    </div>
</div>


<div id="modal-2" class="modal hide fade">
    <div class="modal-dialog">
        <div style="width: 100%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>日程详情</h3>
            </div>
            <form class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group" style="margin-bottom: 5px; margin-left: 20px; margin-right: 20px">
                        <label class="col-xs-3 col-lg-2 control-label" style="width: 80px;">日程主题</label>
                        <div class="col-sm-9 col-lg-10 controls" style="margin-left: 100px;">
                            <textarea name="titile" id="titleShow" disabled="disabled" rows="2" placeholder="输入来源" style="width: 90%;"></textarea>
                        </div>
                    </div>

                    <div class="form-group" style="margin-bottom: 5px;">
                        <div style="margin-left: 43px; margin-right: 43px">
                            <table style="width: 100%">
                                <tr>
                                    <td style="width: 26%">全天日志                               
                                    </td>
                                    <td style="width: 15%">
                                        <input type="checkbox" id="isAllDayEventShow" disabled="disabled" name="isAllDayEvent" /></td>
                                    <td style="width: 20%">共享范围
                                    </td>
                                    <td>
                                        <select id="isShareShow" disabled="disabled" name="isShare">
                                            <option value="0">不共享</option>
                                            <option value="1" selected="selected">部门共享</option>
                                            <option value="2">全局共享</option>
                                        </select></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="form-group" style="margin-bottom: 5px; margin-left: 20px; margin-right: 20px">
                        <label class="col-xs-3 col-lg-2 control-label" style="width: 80px;">开始时间</label>
                        <div class="col-sm-9 col-lg-10 controls" style="margin-left: 100px;">
                            <input id="startTimeShow" class="form-control" disabled="disabled" />
                        </div>
                    </div>

                    <div class="form-group" style="margin-bottom: 5px; margin-left: 20px; margin-right: 20px">
                        <label class=" control-label" style="width: 80px; margin-right: 20px; margin-left: -80px">结束时间</label>
                        <input id="endTimeShow" class="form-control" disabled="disabled" />
                    </div>



                    <div class="form-group" style="margin-bottom: 5px; margin-left: 20px; margin-right: 45px">
                        <label class="col-sm-3 col-lg-2 control-label" style="width: 80px; margin-left: -100px;">日程类型</label>
                        <div class="col-sm-9 col-lg-10 controls" style="margin-left: 100px;">
                            <select id="scheduleTypeShow" name="scheduleType" disabled="disabled" class="form-control" style="width: 100%">
                                <option value="0">会议日程</option>
                                <option value="1">巡查任务</option>
                                <option value="2">案件任务</option>
                                <option value="3">审批任务</option>
                                <option value="4">值班任务</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

