@model Web.ViewModels.VMFuntion
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnBack").click(function () {
            var parentFunctionID = $("#ParentID").val();
            location.href = '/FunItemManagement/Index?ParentFunctionID=' + parentFunctionID;
        });
    });
</script>
<div class="box box-black" style="margin-top: 0px;">
    <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px;
        padding-top: 0px;">
        <i class="icon-reorder" style="margin-right: 5px;"></i>新增功能项
    </div>
    <div class="box-content">
        <form id="AddUnitForm" name="AddUnitForm"
            class="form-horizontal form-bordered form-row-stripped" method="post"
            action="/FunItemManagement/CommitAddFunction">
            <div class="control-group">
                <label class="control-label">功能项名称</label>
                <div class="controls">
                    <input type="text" name="Name" placeholder="Text input" class="input-xlarge">
                </div>
            </div>
            <div class="control-group">
                <label for="unitTypeID" class="control-label">功能项代码</label>
                <div class="controls">
                    <input type="text" name="Code" placeholder="text input" class="input-xlarge">
                </div>
            </div>
            <div class="control-group">
                <label for="SeqNO" class="control-label">功能项URL</label>
                <div class="controls">
                    <input type="text" name="URL" placeholder="Text input" class="input-xlarge">
                </div>
            </div>

            <div class="control-group">
                <label for="SeqNO" class="control-label">状态</label>
                <div class="controls">
                    @Html.DropDownList("StatusID", ViewBag.FunctionStatusList as IEnumerable<SelectListItem>, new { @class = "input-xlarge", style = "width:284px;" })
                </div>
            </div>

            <div class="control-group">
                <label for="SeqNO" class="control-label">功能项图标</label>
                <div class="controls">
                    <input type="text" name="IconPath" placeholder="Text input" class="input-xlarge">
                </div>
            </div>

            <div class="control-group">
                <label for="SeqNO" class="control-label">排序号</label>
                <div class="controls">
                    <input type="text" name="SeqNO" placeholder="Text input" class="input-xlarge">
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary"><i class="icon-ok"></i>确定</button>
                <button type="button" class="btn goback" id="btnBack">返回</button>
            </div>
            @Html.Hidden("ParentID")
        </form>
    </div>
</div>






