@{
    ViewBag.FunctionName = "功能项管理";
    Layout = "~/Views/SysManagement/BasicManagement/_LayoutBasicManagement.cshtml";
}

@section HeadStyles{
    <style type="text/css">
        .center {
            text-align: center !important;
        }
    </style>
}

@section FootScripts{
    <script type="text/javascript">
        var oTable = null;
        $(document).ready(function () {
            $("#sysFunctionManagement").addClass("active");
            var FunctionURL = "/FunItemManagement/GetFunctions?ParentFunctionID=";
            var treeURL = "/FunItemManagement/GetFunctionTree?random=" + Math.random();

            $("#btnSaveChange").click(function () {
                $.ajax({
                    type: 'GET',
                    url: '/FunItemManagement/EditUnit?random=' + Math.random(),
                    dataType: 'html',
                    data: { ParentUnitID: parentUnitID },
                    success: function (data) {
                        //隐藏列表
                        $("#span90").hide();
                        //隐藏编辑表单
                        $("#span92").hide();
                        //显示添加表单
                        $("#span91").show();
                        $("#span91").html(data);
                    }
                });
            });

            var setting = {
                treeId: tree,
                view: {
                    nameIsHTML: true,
                    showIcon: false,
                    fontCss: { color: "black" }
                },
                treeObj: $("#tree"),
                async: {
                    dataType: "JSON",
                    url: "/FunItemManagement/GetFunctionTree?random=" + Math.random(),
                    type: "GET"
                },
                callback: {
                    onClick: function (event, treeId, treeNode) {
                        var parentFunction = treeNode.value;
                        $("#ParentFunctionID")[0].value = parentFunction;
                        //改变导航条
                        $("#aaa").text("").html("功能项管理").addClass("active");
                        $("#FunctionInfo").text("");
                        //隐藏添加列表
                        $("#span91").hide();
                        //隐藏编辑表单
                        $("#span92").hide();
                        //显示列表表单
                        $("#span90").show();
                        //显示子节点列表数据
                        BindDataTable(FunctionURL + treeNode.value);
                    }
                }
            };

            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: treeURL,
                success: function (data) {
                    if (data != null && data != "") {
                        var zNodes = data;
                        var ParentFunctionID = $("#ParentFunctionID").val();
                        $.fn.zTree.init($("#tree"), setting, zNodes);
                        var treeObj = $.fn.zTree.getZTreeObj("tree");
                        var node = treeObj.getNodeByParam("value", ParentFunctionID, null);

                        treeObj.selectNode(node);
                        treeObj.expandNode(node, true);

                        BindDataTable(FunctionURL + ParentFunctionID + "&random=" + Math.random());
                    }
                }

            });
        });
        function BindDataTable(url) {
            if (oTable != null) {
                oTable.fnSettings().sAjaxSource = url;
                oTable.fnDraw(true);
            } else {
                oTable = $('#FunctionTable').dataTable({
                    sAjaxSource: url,
                    aoColumns: [
                        { "mDataProp": "Name" },
                         { "mDataProp": "Code" },
                         { "mDataProp": "URL" },
                         {
                             "mDataProp": function (data) {
                                 var html = "<i class='" + data.ICONPATH + "'></i> " + data.ICONPATH;

                                 if (data.StatusID == 0) {
                                     data.StatusID = "已删除";
                                 }

                                 if (data.StatusID == 1) {
                                     data.StatusID = "正常";
                                 }

                                 if (data.StatusID == 2) {
                                     data.StatusID = "禁用";
                                 }
                                 return html;
                             }
                         },
                         { "mDataProp": "StatusID" },
                                { "mDataProp": "SeqNo" },
                        {
                            "mDataProp": function (data) {
                                if (data.UNITID == 1) { var edit = "<a class='btn btn-primary btn-small' href='#' onclick=\"EditFunction(" + data.FunctionID + ")\"><i class='icon-edit padding-null'></i> 编辑 </a>"; } else {
                                    var edit = "<a class='btn btn-primary btn-small' href='#' onclick=\"CreateFunction(" + data.FunctionID + ")\"><i class='icon-edit padding-null'></i> 详情 </a>";
                                }
                                
                              
                                return edit;
                            }, "sClass": "center"
                        }
                    ],
                    fnDrawCallback: function (oSettings) {
                        var pagerIndex = oSettings._iDisplayStart / oSettings._iDisplayLength + 1;
                        var $currentPager = $(".dataTables_paginate span a:contains('" + pagerIndex + "')");
                        $currentPager.attr("style", "font-weight :bold;!important");
                        setHeightFuncttion();
                    }
                });
            }
        }

        function setHeightFuncttion()
        {
            var height1 = $("#addFunction")[0].clientHeight;
            var height2 = $("#functionListDiv")[0].clientHeight;
            $("#treeFunctionDiv").height(height1 + height2);
        }

        $("#addFunction").click(function () {
            $("#aaa").removeClass("active").text("").html("<a href='#'>功能项管理</a>");
            $("#FunctionInfo").text(">新增功能项").addClass("active");
            $.ajax({
                type: "GET",
                url: "/FunItemManagement/AddFunction?ParentFunctionID=" + $("#ParentFunctionID")[0].value + "&random=" + Math.random(),
                success: function (data) {
                    $("#span90").hide();
                    //隐藏编辑表单
                    $("#span92").hide();
                    //显示添加表单
                    $("#span91").show();
                    $("#span91").html(data);
                }
            });

        });

        function EditFunction(functionID) {
            $("#aaa").removeClass("active").text("").html("<a href='#'>功能项管理</a>");
            $("#FunctionInfo").text(">编辑功能项").addClass("active");
            $.ajax({
                type: 'GET',
                url: '/FunItemManagement/EditFunction?random=' + Math.random(),
                dataType: 'html',
                data: { functionID: functionID },
                success: function (data) {
                    //隐藏列表CreateFunction
                    $("#span90").hide();
                    //隐藏编辑表单
                    $("#span92").hide();
                    //显示添加表单
                    $("#span91").show();
                    $("#span91").html(data);
                }
            });
        }

        function CreateFunction(functionID) {
            $("#aaa").removeClass("active").text("").html("<a href='#'>功能项管理</a>");
            $("#FunctionInfo").text(">编辑功能项").addClass("active");
            $.ajax({
                type: 'GET',
                url: '/FunItemManagement/CreateFunction?random=' + Math.random(),
                dataType: 'html',
                data: { functionID: functionID },
                success: function (data) {
                    //隐藏列表
                    $("#span90").hide();
                    //隐藏编辑表单
                    $("#span92").hide();
                    //显示添加表单
                    $("#span91").show();
                    $("#span91").html(data);
                }
            });
        }
    </script>
}

@section BreadcrumbSection{
    <div id="breadcrumbs">
        <ul class="breadcrumb">

            <li><a href="#"><i class="icon-home"></i>系统管理</a></li>
            <li>></li>
            <li><a href="#">基础管理</a></li>
            <li>></li>
            <li class="active" id="aaa">功能项管理</li>
            <li id="FunctionInfo"></li>
        </ul>
    </div>
}
<div class="row-fluid">
    <div class="span3">
        <div class="box box-black" style="margin-top: 0px;">
            <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
                <i class="icon-reorder" style="margin-right: 5px;"></i>功能项结构树
            </div>
            <div class="box-content" id="treeFunctionDiv">
                <ul id="tree" class="ztree"></ul>
            </div>
        </div>
    </div>
    <div class="span9" id="span90">
        <div class="box box-black" style="margin-top: 0px;">
            <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
                <i class="icon-table" style="margin-right: 5px;"></i>功能项机构列表
            </div>
            <div class="box-content">
                <a class="btn btn-primary" href="#" id="addFunction">添 加</a>
            </div>
            <div class="box-content" id="functionListDiv">
                <table class="table table-bordered table-striped table-hover fill-head" id="FunctionTable">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>代码</th>
                            <th>路径</th>
                            <th>图标(路径)</th>
                            <th>状态</th>
                            <th>排序号</th>
                            <th style="text-align: center; width: 80px;">操作</th>
                        </tr>
                    </thead>
                </table>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
    <div class="span9" style="display: none;" id="span91">
    </div>
    <div class="span9" style="display: none;" id="span92">
    </div>
    @Html.Hidden("ParentFunctionID")
</div>
