@{
    Layout = "~/Views/SysManagement/WorkflowConfig/_LayoutWorkFlowConfigManagement.cshtml";
}

@section HeadStyles_WorkFlowConfigManage{
    <style type="text/css">
        .center {
            text-align: center !important;
        }
    </style>
}

<script type="text/javascript">
    var oTable = null;
    //绑定列表
    function loadDoc(ADID) {
        if (oTable != null) {
            oTable.fnSettings().sAjaxSource = "/DocConfig/GetDoc?ADID=" + ADID + "&random=" + Math.random();
            oTable.fnDraw(true);
        } else {
            oTable = $('#TableDoc').dataTable({
                sAjaxSource: "/DocConfig/GetDoc?ADID=" + ADID + "&random=" + Math.random(),
                aoColumns: [
                    { "mDataProp": "ADNAME" },
                    { "mDataProp": "DDNAME" },
                    { "mDataProp": "ISREQUIRED", "sClass": "center" },
                    {
                        "mDataProp": function (data) {
                            var edit = "<a class='btn btn-primary btn-small ' href='#modal-2'role='button' data-toggle='modal' onclick='GetDOCByADIDAndDDID(" + data.DDID + "," + data.ADID + ")' ><i class='icon-edit padding-null'></i> 编辑 </a>";
                            var del = "<a class='btn btn-danger btn-small'onclick='DeleteFunction(" + data.DDID + "," + data.ADID + ")'><i class='icon-trash padding-null'></i> 删除 </a>";
                            return edit + "  " + del;
                        }, "sClass": "center"
                    }
                ],
                fnDrawCallback: function (oSettings) {
                    var pagerIndex = oSettings._iDisplayStart / oSettings._iDisplayLength + 1;
                    var $currentPager = $(".dataTables_paginate span a:contains('" + pagerIndex + "')");
                    $currentPager.attr("style", "font-weight :bold;!important");
                }
            });
        }
    }
    //删除流程文书配置
    function DeleteFunction(DDID, ADID) {
        if (confirm("你确定删除此条信息吗？")) {
            $.ajax({
                type: "GET",
                cache: false,
                url: "/DocConfig/DeleteDOC?ADID=" + ADID + "&DDID=" + DDID,
                success: function () {
                    loadDoc(ADID);
                }
            });
        }
    }

    function GetDOCByADIDAndDDID(DDID, ADID) {
        $('input[name="editisrequired"]').prop("checked", false);
        $.ajax({
            type: "GET",
            cache: false,
            url: "/DocConfig/GetDOCByADIDAndDDID?ADID=" + ADID + "&DDID=" + DDID,
            success: function (data) {
                if (data.length != 0) {
                    $("#ADName").html(data.ADNAME);
                    $("#ADName").attr("adid", ADID);
                    $("#DocName").attr("ddid", DDID)
                    $("#DocName").html(data.DDNAME);
                    if (data.ISREQUIRED == "是") {
                        $('input[name="editisrequired"]').eq(0).prop("checked", true);

                    }
                    else {
                        $('input[name="editisrequired"]').eq(1).prop("checked", true);
                    }
                }
            }
        });
    }
    $(function () {
        $("ul#docTree").bind("loadDocTreeData", function () {
            //文书树配置
            var setting = {
                data: {
                    simpleData: {
                        enable: true
                    }
                },
                view: {
                    showIcon: false,
                    showLine: true,
                    fontCss: {
                        size: "14px"
                    }
                },
                callback: {
                    onClick: function (event, treeId, treeNode) {
                        if (treeNode.type == "ac") {
                            $("#ADID").val(treeNode.value);
                            loadDoc(treeNode.value);
                            $("#acList").val(treeNode.value);
                            droDoc(treeNode.value);
                            $("tbody td").css({ "text-align": "center" });
                        }
                    }
                },
            };
            $.ajax({
                type: "GET",
                cache: false,
                url: ("/DocConfig/GetDocPhas?rad=" + Math.random()),
                success: function (data) {
                    $.fn.zTree.init($("ul#docTree"), setting, data);
                    var treeObj = $.fn.zTree.getZTreeObj("docTree");
                }
            });
        });
        $("ul#docTree").trigger("loadDocTreeData");
        loadDoc(0);
        //当活动下拉框改变的时候
        $("#acList").change(function () {
            droDoc($(this).val());
        })

        //添加文书活动配置
        $("#addDOC").click(function () {
            var adid = $("#acList").val();
            var ddid = $("#DocDorpdownList").val();
            var isrequired = $("input[name='isrequired']:checked").val();
            $.ajax({
                type: "POST",
                cache: false,
                url: "/DocConfig/AddDoc?ADID=" + adid + "&DDID=" + ddid + "&isrequired=" + isrequired,
                success: function () {
                    if ($("#ADID").val() == adid) {
                        loadDoc(adid);
                        droDoc(adid);
                    }
                }
            })
        })

        //修改文书活动配置
        $("#editDOC").click(function () {
            var adid = $("#ADName").attr("adid");
            var ddid = $("#DocName").attr("ddid");
            var isrequired = $("input[name='editisrequired']:checked").val();
            $.ajax({
                type: "GET",
                cache: false,
                url: "/DocConfig/EditDoc?ADID=" + adid + "&DDID=" + ddid + "&ISREQUIRED=" + isrequired,
                success: function () {
                    loadDoc(adid);
                    droDoc(adid);
                }
            });
        })

        //根据活动标识绑定文书下拉框
        function droDoc(ADID) {
            $("#DocDorpdownList").find("option").remove();
            $.ajax({
                type: "GET",
                cache: false,
                url: "/DocConfig/GetDocList?ADID=" + ADID,
                success: function (data) {
                    $.each(data, function (i, t) {
                        $("#DocDorpdownList").append("<option value=" + t.DDID + ">" + t.DDNAME + "</option");
                    })
                }
            })
        }
    })
</script>

@section BreadcrumbSection{
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li><a href="#"><i class="icon-home"></i>综合业务</a></li>
            <li>></li>
            <li><a href="#">案件管理</a></li>
            <li>></li>
            <li class="active" id="">文书配置</li>
            <li id=""></li>
        </ul>
    </div>
}

<div class="row-fluid">
    <div class="span3">
        <div class="box box-black" style="margin-top: 0px;">
            <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
                <i class="icon-reorder" style="margin-right: 5px;"></i>操作面板
            </div>
            <div class="box-content" id="docTreeScroll">
                <ul id="docTree" class="ztree"></ul>
            </div>
        </div>
    </div>

    <div class="span9" id="span90">
        <div class="box box-black" style="margin-top: 0px">
            <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
                <i class="icon-reorder" style="margin-right: 5px;"></i>文书列表
            </div>
            <div class="box-content" id="addButtonDiv">
                <a href="#modal-1" class="btn btn-primary" role="button" data-toggle="modal">添加
                </a>
            </div>
            <div class="box-content" id="userListDiv">
                <table class="table table-bordered table-striped table-hover fill-head" id="TableDoc">
                    <thead>
                        <tr>
                            <th>活动名称</th>
                            <th>文书名称</th>
                            <th>是否必填</th>
                            <th style="text-align: center; width: 135px;">操作</th>
                        </tr>
                    </thead>
                </table>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
    @Html.Hidden("ADID")
</div>


<div id="modal-1" class="modal hide fade" style="width: 400px; left: 55%">
    <div class="modal-dialog" style="width: 400px">
        <div class="modal-content" style="width: 400px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">添加文书</h3>
            </div>
            <div class="modal-body">
                <div class="form-group" style="margin-bottom: 5px;">
                    <label class="col-xs-3 col-lg-2 control-label" for="textfield3" style="width: 80px; float: left">
                        流程环节</label>
                    <div class="col-sm-9 col-lg-10 controls" style="margin-left: 100px;">
                        @Html.DropDownList("acList", ViewBag.acList as IEnumerable<SelectListItem>)
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group" style="margin-bottom: 5px;">
                    <label class="col-xs-3 col-lg-2 control-label" for="textfield3" style="width: 80px; float: left">
                        文书名称</label>
                    <div class="col-sm-9 col-lg-10 controls" style="margin-left: 100px;">
                        <select id="DocDorpdownList">
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group" style="margin-bottom: 5px;">
                    <label class="col-xs-3 col-lg-2 control-label" for="textfield3" style="width: 80px; float: left; margin-top: 5px;">
                        是否必填</label>
                    <div class="col-sm-9 col-lg-10 controls" style="margin-left: 100px;">
                        <input type="radio" name="isrequired" value="1" />是
                            <input type="radio" name="isrequired" value="0" checked="checked" />否
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                <input type="button" id="addDOC" class="btn btn-primary" value="保存" />
            </div>
        </div>
    </div>
</div>

<div id="modal-2" class="modal hide fade" style="width: 400px; left: 55%">
    <div class="modal-dialog" style="width: 400px">
        <div class="modal-content" style="width: 400px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>修改文书</h3>
            </div>
            <div class="modal-body">
                <div class="form-group" style="margin-bottom: 5px;">
                    <label class="col-xs-3 col-lg-2 control-label" for="textfield3" style="width: 80px; float: left">
                        流程环节</label>
                    <div class="col-sm-9 col-lg-10 controls" style="margin-left: 100px;">
                        <label id="ADName" adid=""></label>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group" style="margin-bottom: 5px;">
                    <label class="col-xs-3 col-lg-2 control-label" for="textfield3" style="width: 80px; float: left">
                        文书名称</label>
                    <div class="col-sm-9 col-lg-10 controls" style="margin-left: 100px;">
                        <label id="DocName" ddid=""></label>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group" style="margin-bottom: 5px;">
                    <label class="col-xs-3 col-lg-2 control-label" for="textfield3" style="width: 80px; float: left; margin-top: 5px;">
                        是否必填</label>
                    <div class="col-sm-9 col-lg-10 controls" style="margin-left: 100px;">
                        <input type="radio" name="editisrequired" value="1" />是
                            <input type="radio" name="editisrequired" value="0" />否
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                <input type="button" id="editDOC" class="btn btn-primary" value="修改" />
            </div>
        </div>
    </div>
</div>
