@using NBZGM.XTBG.CustomModels
@{
    Layout = null;
    UserInfo UserEntity = ViewBag.UserEntity;
}

<div class="modal-header bg-primary">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">未读信息</h4>
</div>

<div class="modal-body">
    <div id="Unread">
        @if (ViewBag.annoc != 0)
        {
            <a role="tab" data-toggle="tab" aria-controls="AnnouncementManagement" data-url="AnnouncementManagement" href="#AnnouncementManagement">
                <div class="row">
                    <div class="col-md-12">
                        <label>您有未读公告：</label>
                        <label>@ViewBag.annoc</label>
                        <label>条</label>
                    </div>
                </div>
            </a>
        }
        @if (ViewBag.mailc != 0)
        {
            <a role="tab" data-toggle="tab" aria-controls="MailManagement" data-url="MailManagement" href="#MailManagement">
                <div class="row">
                    <div class="col-md-12">
                        <label>您有未读邮件：</label>
                        <label>@ViewBag.mailc</label>
                        <label>条</label>
                    </div>
                </div>
            </a>
        }
        @if (ViewBag.filec != 0)
        {
            <a role="tab" data-toggle="tab" aria-controls="FileManagement" data-url="FileManagement" href="#FileManagement">
                <div class="row">
                    <div class="col-md-12">
                        <label>您有未读文件：</label>
                        <label>@ViewBag.filec</label>
                        <label>条</label>
                    </div>
                </div>
            </a>
        }
    </div>
</div>
<div class="modal-footer">
    <input type="button" class="btn btn-default" id="reUnreadTime30" value="30分钟内不提示">
    <input type="button" class="btn btn-default" id="reUnreadTime60" value="1小时内不提示">
    <input type="button" class="btn btn-default" id="reUnreadDate1" value="今天不提示">
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Unread').on('click', 'a', function () {
            var $dataUrl = $(this).attr('data-url');
            $('#center-left a[data-url="' + $dataUrl + '"]').trigger('click');
            $('#center-left a[data-url="' + $dataUrl + '"]').tab('show');
            $(this).parents('.modal').modal('toggle');
        });

        $('#reUnreadTime30').on('click', function () {
            var d = new Date();
            var t = d.getTime();
            d = new Date(t + 1000 * 60 * 30);
            $.cookie('IsUnread', d, { expires: 1 });
            $(this).parents('.modal').modal('toggle');
        });
        $('#reUnreadTime60').on('click', function () {
            var d = new Date();
            var t = d.getTime();
            d = new Date(t + 1000 * 60 * 60);
            $.cookie('IsUnread', d, { expires: 1 });
            $(this).parents('.modal').modal('toggle');
        });
        $('#reUnreadDate1').on('click', function () {
            var d = new Date();
            var t = d.getTime();
            d = new Date(t + 1000 * 60 * 60 * 24);
            d = new Date(d.getFullYear(), d.getMonth(), d.getDate());
            $.cookie('IsUnread', d, { expires: 1 });
            $(this).parents('.modal').modal('toggle');
        });
    });
</script>
