@using NBZGM.XTBG.CustomModels
@{
    Layout = null;
    UserInfo UserEntity = ViewBag.UserEntity;
}

<div class="modal-header bg-primary">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">用户信息</h4>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <label>用户名：　</label>
            <label>@UserEntity.UserName</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>电话号码：</label>
            <label>@UserEntity.Phone</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>职务：　　</label>
            <label>@UserEntity.PositionName</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>部门：　　</label>
            <label>@UserEntity.UnitName</label>
        </div>
    </div>
</div>
