<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler"
          type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <add value="login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <httpModules>
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <!--http://192.168.0.239:6080/arcgis/rest/services/Utilities/Geometry/GeometryServer-->
    <!--http://localhost:6080/arcgis/rest/services/Utilities/Geometry/GeometryServer-->
    <!--http://10.80.2.124:8399/PBS/rest/services/NBZGM/MapServer-->
    <add key="arg" value="api|http://localhost:5618/#mapUrl|http://10.19.72.196:8399/arcgis/rest/services/NBCG20140707/MapServer#AreaUri|http://localhost:6080/arcgis/rest/services/Utilities/Geometry/GeometryServer" />
    <!--<add key="arg" value="api|http://localhost:5618/#mapUrl|http://172.172.100.22:8399/arcgis/rest/services/zhcg/MapServer" />-->
    <add key="picurl" value="http://172.172.100.22:8081" />
    <add key="apiconfig" value="http://localhost:5618" />
    <add key="managerIndexPath" value="http://172.172.100.22:8081/Home" />
    <add key="imgPath" value="http://218.108.93.246:15212/GetZFSJPicByPath.ashx?PicPath=" />
    <add key="loginUrl" value="http://10.80.2.124:2281" />
  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
