@{
    Layout = null;
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#controlTop").css("margin-top", "0px");
    });
</script>
<div style="float: left; width: 21%; margin-left: 5px;">
    <div class="grid" id="controlTop">
        <div class="grid-title">
            <div class="pull-left">@ViewBag.currentActivityName</div>
            <div class="pull-right"></div>
            <div class="clear"></div>
        </div>
        <div class="grid-content">
            <div id="docBtnContainer">
            </div>
        </div>
    </div>
</div>
<div style="margin-left: 23%;" id="fileGo">
    <div id="docManagePanel" class="tabForm">
        <div id="docManage" class="grid" style="display: block;">
            <div class="grid-content" id="docItems">
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
