html, body {
    height: 100%;
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
}


.hoverImg:hover {
    cursor: pointer;
    opacity: 0.6;
}
.hoverImg {
    cursor: pointer;  
}

.fullTb {
    margin: 0px 10px 0px 0px;
    height: 100%;
}

.labelMargin {
    margin:0px 5px;
    color: rgb( 208, 230, 255 );
}

.leftalign {
    text-align: left;
}
.centreAlign {
    text-align:center;
}
.borderImg {
    background: url(../../Images/Menu/border.png) no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 80px;
    width: 1px;
    float: right;
    /*margin-left:55px;*/
}

/*两个字*/
.lableFont2 {
    font-size: 12px;
    font-family: "Microsoft YaHei";
    width: 40px;
    display: inline-block;
    float: left;
    /*color: rgb( 254, 137, 28 );*/
    /*line-height: 2.5;*/
}

.lableFont {
    font-size: 12px;
    font-family: "Microsoft YaHei";
    width: 50px;
    display: inline-block;
    float: left;
      color: rgb( 255, 255, 255 );
  line-height: 1.917;
   cursor: pointer;
    cursor: pointer;
    /*color: rgb( 254, 137, 28 );*/
    /*line-height: 2.5;*/
}
/*四个字*/
.lableFont4 {
    font-size: 12px;
    font-family: "Microsoft YaHei";
    width: 60px;
    display: inline-block;
    float: left;
     cursor: pointer;
    /*color: rgb( 254, 137, 28 );*/
    /*line-height: 2.5;*/
}
.fewEvent {
     font-size: 13px;
  font-family: "Microsoft YaHei";
  color: #f4d547;
  line-height: 2.308;
   cursor: pointer;
}
.totalEvent {
     font-size: 13px;
  font-family: "Microsoft YaHei";
  color: #f28a2e;
  line-height: 2.308;
   cursor: pointer;
}

.eventCount {
       font-size: 12px;
  font-family: "Microsoft YaHei";
  color: rgb( 255, 255, 255 );
  line-height: 1.917;
  /*cursor:pointer;*/
}
.firstImg {
    width: 16px;
    height: 16px;
}

