.hoverDiv:hover {
     cursor: pointer;
    opacity: 0.6;
}
.partLabel {
    font-size: 14px;
    font-family: "Microsoft YaHei";
    width: 50px;
    display: inline-block;
    float: left;
    cursor:pointer;
}
.partlableFont2 {
    font-size: 12px;
    font-family: "Microsoft YaHei";
    width: 40px;
    display: inline-block;
    float: left;
       cursor:pointer;
    /*color: rgb( 254, 137, 28 );*/
    /*line-height: 2.5;*/
}
/*四个字*/
.partlableFont4 {
    font-size: 12px;
    font-family: "Microsoft YaHei";
    width: 60px;
    display: inline-block;
    float: left;
    cursor:pointer;
    /*color: rgb( 254, 137, 28 );*/
    /*line-height: 2.5;*/
}
