<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="PLEEntities" connectionString="metadata=res://*/PLEEntities.csdl|res://*/PLEEntities.ssdl|res://*/PLEEntities.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=192_168_73_21;password=NEWPLE;persist security info=True;user id=NEWPLE&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="PLEEntities" connectionString="metadata=res://*/PLEEntities.csdl|res://*/PLEEntities.ssdl|res://*/PLEEntities.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=ORCL101;password=PLE;persist security info=True;user id=PLE&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="TZ_ZFJEntities" connectionString="metadata=res://*/TZ_ZFJEntities.csdl|res://*/TZ_ZFJEntities.ssdl|res://*/TZ_ZFJEntities.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=TZ_ZFJ;password=tz_zfj_ydlm;persist security info=True;user id=TZ_ZFJ&quot;" providerName="System.Data.EntityClient" />-->
    <add name="NEWPLEEntities" connectionString="metadata=res://*/NEWPLEModel.csdl|res://*/NEWPLEModel.ssdl|res://*/NEWPLEModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=192_168_73_21;password=NEWPLE;persist security info=True;user id=NEWPLE&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="NEWPLEEntities" connectionString="metadata=res://*/NEWPLEModel.csdl|res://*/NEWPLEModel.ssdl|res://*/NEWPLEModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=ORCL101;password=PLE;persist security info=True;user id=PLE&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--案件管理系统上传的附件、生成的Word 文书、PDF 文书的存储路径-->
    <add key="CaseFilesPath" value="C:\Taizhou.PLE.CaseFiles\"/>
    <!--公共服务信访上传的附件、生成的Word 文书、PDF 文书的存储路径-->
    <add key="GGFWXFFilesPath" value="C:\Taizhou.PLE.GGFWXFFiles\"/>
    <!--文件的原始路径-->
    <add key="OriginalPath" value="C:\XZSPMaterial\sourse\"/>
    <!--文件的目标路径-->
    <add key="DestinatePath" value="C:\XZSPMaterial\destnation\"/>
    <!--执法事件原图片路径-->
    <add key="ZFSJOriginalPath" value="C:\ZFSJMaterial\sourse\"/>
    <!--执法事件压缩图片路径-->
    <add key="ZFSJFilesPath" value="C:\ZFSJMaterial\destnation\"/>
    <!--执法事件图片压缩宽度大小-->
    <add key="ZFSJPicSize" value="800"/>
    <!--公共服务原图片路径-->
    <add key="GGFWOriginalPath" value="C:\GGFWMaterial\sourse\"/>
    <!--公共服务压缩图片路径-->
    <add key="GGFWFilesPath" value="C:\GGFWMaterial\destnation\"/>
    <!--公共服务图片压缩宽度大小-->
    <add key="GGFWPicSize" value="800"/>
    <!--沿街店家公共服务原图片路径-->
    <add key="YJDJOriginalPath" value="C:\YJDJMaterial\sourse\"/>
    <!--沿街店家压缩图片路径-->
    <add key="YJDJFilesPath" value="C:\YJDJMaterial\destnation\"/>
    <!--沿街店家图片压缩宽度大小-->
    <add key="YJDJPicSize" value="800"/>
    <!--行政审批原图片路径-->
    <add key="XZSPNEWOriginalPath" value="C:\XZSPNEWMaterial\sourse\"/>
    <!--行政审批压缩图片路径-->
    <add key="XZSPNEWFilesPath" value="C:\XZSPNEWMaterial\destnation\"/>
    <!--行政审批图片压缩宽度大小-->
    <add key="XZSPNEWPicSize" value="800"/>
    <add key="NewFile" value="D:\ZFSJSJ.txt"/>

    
    <!--RTX 服务器 IP 地址-->
    <add key="RTXServerIP" value="10.1.1.103"/>
    <!--RTX 服务器 端口-->
    <add key="RTXServerPort" value="8006"/>
    <!--领导PositionID-->
    <add key="LeaderUnitID" value="6"/>
    <!--显示文章URL-->
    <add key="ShowArticleURL" value="http://10.1.1.30:10011/Article/ShowArticle?articleID="/>
    <!--执法事件手机端读取图片URL-->
    <add key="ReadPictureURL" value="http://122.226.143.66:10006/ReadPictureHandler.ashx?path="/>
  </appSettings>
  <system.web>
    <!--<customErrors mode="RemoteOnly" defaultRedirect="Login/Index">-->
    <customErrors mode="Off">
      <error statusCode="404" redirect="Login/Index"/>
      <error statusCode="403" redirect="Login/Index"/>
      <error statusCode="500" redirect="Login/Index"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>