@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>评价考核</title>
    <link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/css/OA.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.idTabs.min.js"></script>
    <script src="~/Scripts/assets/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-zh-CN.js"></script>
    <script type="text/javascript" src="~/Scripts/js/select-ui.min.js"></script>
    

    <script src="~/Scripts/js/PageNotBack.js"></script>
    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/seaning/style.css" rel="stylesheet" />
    <script src="~/Scripts/layer/layer.js"></script>

    <style type="text/css">
        table.gridtable {
            font-family: verdana,arial,sans-serif;
            font-size: 11px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

            table.gridtable th {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #dedede;
            }
            
            table.gridtable td {
                text-align:center;
                border-width: 1px;
                padding: 8px;
                width:20%;
                border-style: solid;
                border-color: #666666;
                background-color: #ffffff;
            }
            .dfinput{width:90%; height:32px; line-height:32px; border-top:solid 1px #a7b5bc; border-left:solid 1px #a7b5bc; border-right:solid 1px #ced9df; border-bottom:solid 1px #ced9df; background:url(../images/inputbg.gif) repeat-x; text-indent:10px;}
    </style>

    <script type="text/javascript">
        $(document).ready(function (e) {
            layer.config({
                skin: 'layer-ext-seaning',
                offset: ['100px', '33%'],
                title: '提示',
                moveOut: true,
                closeBtn: false,
                extend: 'skin/seaning/style.css'
            });

            $("#startTime").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("#endTime").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });

            $(".select1").uedSelect({
                width: 345
            });
            $(".select2").uedSelect({
                width: 167
            });
            $(".select3").uedSelect({
                width: 100
            });

            $("#selectUser").click(function () {
                $("#tip1").fadeIn(200);
            });
            $(".sure").click(function () {
                $(".tip").fadeOut(100);
            });

            $("#SetUser").click(function () {
                $("#tip2").fadeIn(200);
            });
            $(".tiptop a").click(function () {
                $(".tip").fadeOut(200);
            });
            $("#usual1 ul").idTabs();
            $('.tablelist tbody tr:odd').addClass('odd');
        
            //获取考核总分
            $("#jobscore,#signinscore,#alarmscore").change(function () {
                var intregex = /^\d+$/;
                var score = 0;
                if ($("#jobscore").val() != "" && $("#signinscore").val() != "" && $("#alarmscore").val() != "") {
                    score = parseInt($("#jobscore").val()) + parseInt($("#signinscore").val())
                        + parseInt($("#alarmscore").val());
                } else {
                    score = parseInt($("#jobscore").val() == "" ? "0" : $("#jobscore").val())
                        + parseInt($("#signinscore").val() == "" ? "0" : $("#signinscore").val())
                        + parseInt($("#alarmscore").val() == "" ? "0" : $("#alarmscore").val());
                }
                if (intregex.test(score))
                    $(".gridtable").find("td").eq(4).text(score);
                else
                    $(".gridtable").find("td").eq(4).text("");
                    
            })

            //队员下拉事件
            $("#select2").change(function () {
                $(".username").text($("#select2 option:selected").text());
                $(".eventreport").text("");
                $(".eventfinished").text("");
                $(".eventovertime").text("");
                $(".eventhandlingrate").text("");
                $(".distance").text("");
                $(".signincount").text("");
                $(".unsignincount").text("");
                $(".successrate").text("");
                $(".overbordercount").text("");
                $(".overtimecount").text("");
                $(".overlinecount").text("");
            })
        });
        //获取队员考核详情
        function SearchExamine() {
            if ($("#select2 option:checked").text() == "请选择") {
                layer.alert('请选择考核队员!', {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                });
              
                return false;
            }
            if ($("#startTime").val() == "" || $("#endTime").val() == "") {
                layer.alert('请选择考核时间段!', {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                });
              
                return false;
            }
            $.ajax({
                type: "POST",
                url: "/PJKH/GetUserExamine",
                data: {
                    Examine_UserId: $("#select2 option:checked").val(),
                    Examine_StartTime: $("#startTime").val(),
                    Examine_EndTime: $("#endTime").val()
                },
                success: function (data) {
                    $(".eventreport").text(data.eventreportcount);
                    $(".eventfinished").text(data.eventfinishedcount);
                    $(".eventhandlingrate").text(data.eventhandlingrate);
                    $(".eventovertime").text(data.eventovertime);
                    $(".distance").text(data.distance);
                    $(".signincount").text(data.signincount);
                    $(".unsignincount").text(data.unsignincount);
                    if (data.signincount == "0")
                        $(".successrate").text("0%");
                    else
                        $(".successrate").text(data.successrate);
                    $(".overbordercount").text(data.overbordercount);
                    $(".overtimecount").text(data.overtimecount);
                    $(".overlinecount").text(data.overlinecount);
                }
            })
            
        }

        //提交队员考核分数
        function SubmitExamine() {
            //验证是否是数字
            var intregex = /^\d+$/;
            if (!intregex.test($("#jobscore").val()) || !intregex.test($("#signinscore").val())
            || !intregex.test($("#alarmscore").val())) {
                $(".gridtable").find("td").eq(4).text("");
                layer.alert('请输入数字!', {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                });
                return false;
            }

            if ($("#jobscore").val() != "" && $("#signinscore").val() != "" && $("#alarmscore").val() != "") {
                $.ajax({
                    type: "POST",
                    url: "/PJKH/SaveUserExamine",
                    data: {
                        Examine_UserId: $("#select2 option:checked").val(),
                        jobscore: $("#jobscore").val(),
                        signinscore: $("#signinscore").val(),
                        alarmscore: $("#alarmscore").val()
                    },
                    async: false,
                    success: function (data) {
                        if (data == "保存成功") {
                            layer.alert("保存成功!", {
                                icon: 1,
                                skin: 'layer-ext-seaning'
                            }, function (index) {
                                layer.close(index);
                                location.href = "/PJKH/PJKHList";
                            });
                        } else {
                            layer.alert("操作失败!", {
                                icon: 0,
                                skin: 'layer-ext-seaning'
                            });
                        }
                    }
                })
            }
        }

    </script>

</head>
<body>
    <form>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li>评价考核</li>
        </ul>
    </div>
    <div class="formbody">
        <ul class="seachform">
            <li>
                <label style="width: 130px">请选择考核人员：<b style="color: red">*</b></label>
                <div class="cityright">
                    @Html.DropDownList("select2",ViewBag.users as IEnumerable<SelectListItem>,"请选择", new {@class="dfinputs", @style = "width:180px;height:32px;"})
                </div>
            </li>
            <li>
                <label style="width: 120px;">队员考核时间：</label>
                <input type="text" id="startTime" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now.AddMonths(-1))" style="width:180px;height:32px;" class="dfinputs" data-date-format="yyyy-mm-dd"/>
            </li>
            <li>
                <label style="width:20px;">至：</label>
                <input id="endTime" type="text" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now)" style="width:180px;height:32px;" class="dfinputs" data-date-format="yyyy-mm-dd" />
            </li>
            <li>
                <input type="button" class="sure" value="查询" onclick="SearchExamine()" />
            </li>
        </ul>
        <div style="clear:both;"></div>
        <div id="usual1" class="usual">

            <div class="itab">
                <ul>
                    <li><a href="#tab1" class="selected">工作量</a></li>
                    <li><a href="#tab2">签到</a></li>
                    <li><a href="#tab3">报警</a></li>
                </ul>
            </div>
            <div id="tab1" class="tabson">
                <ul class="forminfo">
                    <li>
                        <label>事件上报数:</label>
                        <label class="eventreport"></label>
                    </li>
                    <li>
                        <label>事件结案数:</label>
                        <label class="eventfinished"></label>
                    </li>
                    <li>
                        <label>事件结案率:</label>
                        <label class="eventhandlingrate"></label>
                    </li>
                    <li>
                        <label>事件超期数:</label>
                        <label class="eventovertime"></label>
                    </li>
                    <li>
                        <label>路程:</label>
                        <label class="distance"></label>
                    </li>

                </ul>
            </div>
            <div id="tab2" class="tabson">
                <ul class="forminfo">
                    <li>
                        <label>正常签到次数:</label>
                        <label class="signincount"></label>
                    </li>
                    <li>
                        <label style="width: 110px">不正常签到次数:</label>
                        <label class="unsignincount"></label>
                    </li>
                    <li>
                        <label>签到成功比率:</label>
                        <label class="successrate"></label>
                    </li>

                </ul>
            </div>
            <div id="tab3" class="tabson">
                <ul class="forminfo">
                    <li>
                        <label style="width: 135px">超时报警次数(生效):</label>
                        <label class="overtimecount"></label>
                    </li>
                    <li>
                        <label style="width: 135px">越界报警次数(生效):</label>
                        <label class="overbordercount"></label>
                    </li>
                    <li>
                        <label style="width: 135px">离线报警次数(生效):</label>
                        <label class="overlinecount"></label>
                    </li>
                </ul>
            </div>
        </div>

        <div class="formbody">
            <table width="100%" class="gridtable">
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>工作量</th>
                        <th>签到</th>
                        <th>报警</th>
                        <th>总分</th>
                         <th>操作</th>
                    </tr>
                    <tr>
                        <td class="username"></td>
                        <td><input type="text" class="dfinput" id="jobscore" /></td>
                        <td><input type="text" class="dfinput" id="signinscore" /></td>
                        <td><input type="text" class="dfinput" id="alarmscore" /></td>
                        <td id="scoreplus"></td>
                        <td><input id="btnSubmit" type="button" class="sure" onclick="SubmitExamine();" value="确定"/>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</form>
</body>

</html>
