<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <!--账号-->
    <add key="AccountNumber" value="test" />
    <!--密码-->
    <add key="Password" value="123456" />

  </appSettings>
</configuration>
