@model Taizhou.PLE.Model.RECIPE
@{
    Layout = "~/Views/CoordinationCentre/ContentManagement/_LayoutContentManagement.cshtml";
}

@section HeadStyles_Manage{
    <link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/jquery-tags-input/jquery.tagsinput.css" rel="stylesheet" />
    <link href="~/Scripts/assets/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
}
@section FootScripts_Manage{
    <script src="~/Scripts/assets/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/assets/jquery-tags-input/jquery.tagsinput.js"></script>
    <script src="~/Scripts/assets/bootstrap-datepicker/js/bootstrap-datepicker-zh_CN.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#recipeTime").datepicker();
            $("#breakfast").tagsInput({
                'width': '60%',
                'defaultText': '添加菜名'
            });
            $("#lunch").tagsInput({
                'width': '60%',
                'defaultText': '添加菜名'
            });
            $("#dinner").tagsInput({
                'width': '60%',
                'defaultText': '添加菜名'
            });
        });
    </script>
}
@section BreadcrumbSection{
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li><a href="#"><i class="icon-home"></i>协同中心</a></li>
            <li>></li>
            <li><a href="/ArticleManagement/">发布管理</a></li>
            <li>></li>
            <li><a href="/RecipeManagement/">菜谱管理</a></li>
            <li>></li>
            <li class="active">新增菜谱</li>
            <li id="UintInfo"></li>
        </ul>
    </div>
}
<div class="row-fluid">
    <div class="box box-black span12" style="margin-top: 0px;">
        <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
            <i class="icon-reorder" style="margin-right: 5px;"></i>新增菜谱
        </div>
        <div class="box-content">
            <form class="form-horizontal form-bordered form-row-stripped" method="post"
                action="/RecipeManagement/SubmitRecipe/">
                <div class="control-group">
                    <label class="control-label">菜谱日期</label>
                    <div class="controls">
                        <input type="text" id="recipeTime" style="width: 230px" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now)" name="RECIPEDATE" placeholder="Text input" class="input-xlarge">
                    </div>
                </div>
                <div class="control-group">
                    <label for="unitTypeID" class="control-label">早餐</label>
                    <div class="controls">
                        <textarea id="breakfast" name="BREAKFAST" rows="2" style="width: 60%" class="tagsinput"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label for="SeqNO" class="control-label">中餐</label>
                    <div class="controls">
                        <textarea id="lunch" name="LUNCH" rows="2" style="width: 60%" class="tagsinput"></textarea>
                    </div>
                </div>

                <div class="control-group">
                    <label for="SeqNO" class="control-label">晚餐</label>
                    <div class="controls">
                        <textarea id="dinner" name="DINNER" rows="2" style="width: 60%" class="tagsinput"></textarea>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary"><i class="icon-check-sign">&nbsp;提 交</i></button>
                    <a href="/RecipeManagement/" class="btn btn-primary"><i class="icon-reply">&nbsp;返 回</i></a>
                </div>
            </form>
        </div>
    </div>
</div>
