@{
    ViewBag.Title = "菜谱列表";
    Layout = "~/Views/CoordinationCentre/ContentManagement/_LayoutContentManagement.cshtml";
}
<script src="~/Scripts/assets/jquery/jquery.min.js"></script>
<script type="text/javascript">
    function TimeTransform(time) {
        if (time == null | time == "") {
            return "";
        }
        time = time.replace("/Date(", "");
        time = time.replace(")/", "");
        var d = new Date();
        d.setTime(time);
        var year = d.getFullYear();
        var month = d.getMonth() + 1;
        month = month >= 10 ? month : "0" + month;

        var date = d.getDate();
        date = date >= 10 ? date : "0" + date;

        var hour = d.getHours();
        hour = hour >= 10 ? hour : "0" + hour;

        var minute = d.getMinutes();
        minute = minute >= 10 ? minute : "0" + minute;

        var second = d.getSeconds();
        second = second >= 10 ? second : "0" + second;

        var StrTime = year + "-" + month + "-" + date + " " + hour + ":" + minute + ":" + second;
        return StrTime;
    }
    function DelRecipe(recipeID) {
        if (window.confirm("确定要删除这个菜谱？")) {
            $.ajax({
                url: "/RecipeManagement/SubmitDelRecipe?recipeID=" + recipeID,
                success: function (data) {
                    location.href("/RecipeManagement/");
                },
                error: function (data) { alert(data); }
            });
        }
    }
    $(document).ready(function () {
        $("#ArticleList").css("display", "block");
        $('#RecipeTable').dataTable({
            sAjaxSource: "/RecipeManagement/GetRecipeList",
            aoColumns: [
                {
                    "mDataProp": function (data) {
                        if (data.RECIPEDATE == null) {
                            return false;
                        }
                        var date = TimeTransform(data.RECIPEDATE).substring(0, 10);
                        var recipeDate = data.RECIPEDATE;
                        recipeDate = recipeDate.replace("/Date(", "");
                        recipeDate = recipeDate.replace(")/", "");
                        var time = new Date();
                        time.setTime(recipeDate);

                        var label;
                        var weekDay = ["星期天", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"];
                        var day = time.getDate();
                        var week = weekDay[time.getDay()];
                        if (week != "星期六" && week != "星期天") {
                            label = "<label>" + week + "  " + date + "</label>";
                        } else {
                            label = "<label title='非工作日!' style='color:red'>" + week + "  " + date + "</label>"
                        }
                        return label;
                    }
                },
                {
                    "mDataProp": function (data) {
                        var breakfast;
                        if (data.BREAKFAST.length > 15) {
                            breakfast = data.BREAKFAST.substring(0, 12) + "...";
                        }
                        else {
                            breakfast = data.BREAKFAST;
                        }
                        var label = "<label title=" + data.BREAKFAST + ">" + breakfast + "</label>";
                        return label;
                    }
                },
                {
                    "mDataProp": function (data) {
                        var lunch;
                        if (data.LUNCH.length > 15) {
                            lunch = data.LUNCH.substring(0, 12) + "...";
                        }
                        else {
                            lunch = data.LUNCH;
                        }
                        var label = "<label title=" + data.LUNCH + ">" + lunch + "</label>";
                        return label;
                    }
                },
                {
                    "mDataProp": function (data) {
                        var dinner;
                        if (data.DINNER.length > 15) {
                            dinner = data.DINNER.substring(0, 12) + "...";
                        }
                        else {
                            dinner = data.DINNER;
                        }
                        var label = "<label title=" + data.DINNER + ">" + dinner + "</label>";
                        return label;
                    }
                },
                {
                    "mDataProp": function (data) {
                        return TimeTransform(data.CREATEDTIME);
                    }
                },
                {
                    "mDataProp": function (data) {
                        var Edit = "<a href='/RecipeManagement/EditRecipe?recipeID=" + data.RECIPEID + "'>修改</a>";
                        var Del = "<a href='#' onclick='DelRecipe(" + data.RECIPEID + ")'>删除</a>";
                        return Edit + " " + Del;
                    }
                }
            ],
            fnDrawCallback: function (oSettings) {
                var pagerIndex = oSettings._iDisplayStart / oSettings._iDisplayLength + 1;
                var $currentPager = $(".dataTables_paginate span a:contains('" + pagerIndex + "')");
                $currentPager.attr("style", "font-weight :bold;!important");
            }
        });
    });

</script>
@section BreadcrumbSection{
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li><a href="#"><i class="icon-home"></i>协同中心</a></li>
            <li>></li>
            <li><a href="/RecipeManagement/">发布管理</a></li>
            <li>></li>
            <li class="active">菜谱列表</li>
            <li id="UintInfo"></li>
        </ul>
    </div>
}
<div class="row-fluid">
    <div class="span12" id="span90">
        <div class="box box-black" style="margin-top: 0px;">
            <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
                <i class="icon-table" style="margin-right: 5px;"></i>菜谱列表
            </div>
            <div class="box-content">
                <a href="/RecipeManagement/AddRecipe" class="btn btn-primary">添 加</a>
                <table class="table table-bordered table-striped table-hover fill-head" id="RecipeTable">
                    <thead>
                        <tr>
                            <th style="text-align: center">日期</th>
                            <th style="text-align: center; width: 180px">早餐</th>
                            <th style="text-align: center; width: 180px">中餐</th>
                            <th style="text-align: center; width: 180px">晚餐</th>
                            <th style="text-align: center">录入时间</th>
                            <th style="text-align: center">操作</th>
                        </tr>
                    </thead>
                </table>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
</div>
