@{
    Layout = "~/Views/SysManagement/BasicManagement/_LayoutStreeStore.cshtml";
}

@section HeadStyles{
    <link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <link href="~/Content/workflowCommonForm.css" rel="stylesheet" />
    <link href="~/Scripts/assets/zTree/zTreeStyle.css" rel="stylesheet" />
    <style type="text/css">
        #attachCSS {
            overflow: hidden;
        }
        .fontStyle * {
            font-family: 宋体 !important;
        }
        #docItems {
            display: table;
        }
        #docItems .grid {
                margin: 5px;
                width: 200px;
                float: left;
                cursor: pointer;
                border: 1px solid #fff;
            }
        #docItems .grid .grid-content .c_avatar {
                    width: 48px;
                    float: left;
                }
        #docItems .grid .grid-content .c_avatar img {
            height: 48px;
            width: auto;
            border: 0px;
        }
        #docItems .grid .grid-content .conversation-info {
        float: left;
        margin-left: 8px;
        width: 122px;
        margin-top: 0px;
    }
        #docItems .grid .grid-content .conversation-info .conversation-title {
            margin-left: 0px;
            margin-top: 0px;
            font-size: 12px;
            width: 122px;
            height: 30px;
            line-height: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        #docItems .grid .grid-content .conversation-info .conversation-title SPAN {
                font-weight: normal;
            }
        #docItems .grid .grid-content .conversation-info .conversation-date-status {
            height: 14px;
            line-height: 14px;
            margin-top: 2px;
        }
        .selectItem {
            border-color: rgb(78,169,236) !important;
            background-color: rgb(216,234,255);
        }
        #docItems .grid:hover {
            border-color: rgb(185,215,252);
            background-color: rgb(246,250,255);
        }
        .docBtn {
            /*font-weight: bold;*/
            font-size: 13px;
            width: 150px;
            margin: 5px 0px;
            text-align: left;
        }
        .inf_link {
            margin-left: -16px;
            margin-top: -4px;
        }
        .ui-xbox-shadow {
            overflow: hidden;
            position: absolute;
            visibility: visible;
            left: 0px;
            top: 0px;
            z-index: 997;
            filter: alpha(opacity=20);
            background-image: none;
            background-attachment: scroll;
            background-repeat: repeat;
            background-position-x: 0%;
            background-position-y: 0%;
            background-color: rgb(0,0,0);
        }
        .ui-xbox {
            position: absolute;
            z-index: 998;
            width: 220px;
            height: 100px;
            visibility: visible;
            text-align: center;
        }
        .leftbar-search {
            width: 250px;
            float: left;
            border: 1px solid gray;
        }
        .content-search {
            border: 1px solid gray;
        }
</style>
    <script type="text/javascript">
        $(document).ready(function () {

            //提交
            $("form").submit(function () {
                if ($("#ISMTZP1").prop("checked") == true) {
                    $("#ISMTZP").val("1");
                } else {
                    $("#ISMTZP").val("0");
                }
                if ($("#ISGSWSXKZ1").prop("checked") == true) {
                    $("#ISGSWSXKZ").val("1");
                } else {
                    $("#ISGSWSXKZ").val("0");
                }
                if ($("#ISPSXKZ1").prop("checked") == true) {
                    $("#ISPSXKZ").val("1");
                } else {
                    $("#ISPSXKZ").val("0");
                }
                if ($("#ISHJPL1").prop("checked") == true) {
                    $("#ISHJPL").val("1");
                } else {
                    $("#ISHJPL").val("0");
                }
                //中类为空取大类
                if ($("#ZhongLei") == null && $("#ZhongLei") == "" && $("#ZhongLei") == "null") {
                    var id = $("#DaLei").val();
                    $("#STREESTORETYPEID").val(id);
                }
                //小类不为空取小类
                if ($("#XiaoLei") != null && $("#XiaoLei") != "" && $("#XiaoLei") != "null") {
                    var id = $("#XiaoLei").val();
                    $("#STREESTORETYPEID").val(id);

                } else {
                    //为空取中类
                    var id = $("#ZhongLei").val();
                    $("#STREESTORETYPEID").val(id);
                }
 
            });

            //获取大类
            var s = "";       
            s += " <option value='null'>请选择</option>";
            $.getJSON("../StreeStore/GetJsonDaLeiAll", {}, function (data) {
                $.each(data, function (index, stree) {
                    s += " <option value='" + stree.STREESTORETYPEID + "'>" + stree.TYPENAME + "</option>";
                });
                
                $("#DaLei").html(s);
                var streestoretypeB = $("#streestoretypeB").val();
                $("#DaLei").val(streestoretypeB);
                DaLeichang(1);//获取中级

            });

            //添加标题
            var tiid = $("#hiddenww").val();
            if (tiid == 1) {
                $("#tid").html('修改店家信息');
            } else {
                $("#tid").html('查看店家信息');
            }

        });
        //地图描点
        function MapDepicting() {
            $("#mapDepicting").modal('show');
        }

        var geometry = "";

        function MapConInited() {
            var content = document.getElementById("mapCom").content;
            var mapCom = content.MapCom;
            var DTMD = document.getElementById("hidMapLocation").value;
            mapCom.AddSimpleCase(DTMD);
            mapCom.DrawCompleted = function (data) {
                geometry = data;
                document.getElementById("hidMapLocation").value = data;
                $("#GEOMETRY").val(data);
            }
        }
         
        //获取中类
        function DaLeichang(type) {
            var DaLei = $('#DaLei').val();
            if (DaLei == "" && DaLei == null) {
                alert("请选择大队");
                return false;
            }
            var a = "";
            a += " <option value='null'>请选择</option>";
            $.getJSON("../StreeStore/GetJsonZhongLeiAll", { DaLei: DaLei }, function (data) {
                $.each(data, function (index, stree) {
                    a += " <option value='" + stree.STREESTORETYPEID + "'>" + stree.TYPENAME + "</option>";
                });
                $("#ZhongLei").html(a);
                if (type == 1) {
                    var streestoretypeZ = $("#streestoretypeZ").val();
                    $("#ZhongLei").val(streestoretypeZ);
                    ZhongLeichang(1);//获取小类
                }
            });
        }

        //获取小类
        function ZhongLeichang(type) {
            var ZhongLei = $('#ZhongLei').val();
            if (ZhongLei == "" && ZhongLei == null) {
                alert("请选择中队");
                return false;
            }
            var c = "";
            $.getJSON("../StreeStore/GetJsonXiaoLeiAll", { ZhongLei: ZhongLei }, function (data) {
                c += " <option value='null'>请选择</option>";
                $.each(data, function (index, stree) {
                    c += " <option value='" + stree.STREESTORETYPEID + "'>" + stree.TYPENAME + "</option>";
                });
                $("#XiaoLei").html(c);
                if (type == 1) {
                    var streestoretypeS = $("#streestoretypeS").val();
                    $("#XiaoLei").val(streestoretypeS);
                }
            });
        }
    </script>
}

@section FootScripts{
    <script src="~/Scripts/assets/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-zh-CN.js"></script>
    <script src="~/Scripts/assets/zTree/jquery.ztree.core-3.5.js"></script>
}

@section BreadcrumbSection{
    <div id="breadcrumbs">
        <ul class="breadcrumb">
           <li><a href="#"><i class="icon-home"></i>沿街店家</a></li>
            <li>></li>
             <li id="tile"><a id="tid" href="javascript:void(0)"></a></li>
        </ul>
    </div>
}

<div class="row-fluid">
    <div class="span12" id="tabledata">
        <div class="box box-black" style="margin-top: 0px;">
            <div class="box-content">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <input type="hidden" id="hiddenww" value="@ViewBag.type" />
                        <a href="#detail" data-toggle="tab">基本信息</a>
                    </li>
                    <li class="">
                        <a href="#attach" data-toggle="tab">相关附件</a>
                    </li>
                </ul>
                <div class="tab-content" id="attachCSS">
                    <div class="tab-pane active" id="detail">
                        @if ((string)ViewBag.type == "2")
                        {
                            @Html.Action("Select", "StreeStore")
                        }
                        else
                        {
                            @Html.Action("Edit", "StreeStore")
                        }
                    </div>
                    <div class="tab-pane" id="attach">
                        @Html.Action("PicSelect", "StreeStore")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


