body {
    margin: 0px;
    padding: 0px;
}

.top {
    width: 1000px;
    background-image: url('../images/head/bj.png');
    height: 120px;
    margin: 0 auto;
    background-size: cover;
    -moz-background-size: cover;
}

    .top img {
        /*width: 70px;*/
        /*height: 60px;*/
        margin-left: 35px;
        margin-top: 35px;
    }

.topleft {
    width: 100px;
    /*height: 61px;*/
    float: left;
}

.toptile {
    font-family: '微软雅黑',宋体!important;
    font-size: 20px;
    color: white;
    width: 300px;
    height: 64px;
    float: left;
}

.fontsize {
    font-size: 12px;
}

.seizeaseat {
    height: 10px;
    width: 10px;
}

.topMenu {
    width: 1000px;
    margin: 0 auto;
    height: 33px;
    /*margin-top: -17px;*/
    background: #2c3a71;
}

    .topMenu ul {
        list-style: none;
        margin-left: 22px;
    }

        .topMenu ul li {
            line-height: 33px;
            float: left;
            /*border-right: 1px solid #ffffff;*/
            width: 95px;
            text-align: center;
        }

            .topMenu ul li:hover {
                cursor: pointer;
                background: #4482d3;
            }

            .topMenu ul li a {
                text-decoration: none;
                font-family: "微软雅黑","宋体","Microsoft Himalaya";
                color: white;
                font-size: 15px;
                display: block;
            }

.tophr {
    width: 1000px;
    margin: 0 auto;
    height: 4px;
    background: #ED7509;
}

.AdvertisementImg {
    width: 40%;
    height: 280px;
    float: left;
}

.rightNews {
    width: 60%;
    height: 280px;
    float: left;
}

.AdvertisementImg img {
    width: 100%;
    height: 100%;
}

.NewsModular {
    width: 50%;
    height: 200px;
    float: left;
}

.NewsModularThree {
    width: 470px;
    height: 220px;
    float: left;
}

.NewsModularThreeLeft {
    width: 240px;
    height: 220px;
    float: left;
    margin-right: 5px;
}

.center {
    width: 1000px;
    margin: 0 auto;
}

    .center img {
        width: 100%;
    }

.centerbg {
    width: 100%;
    height: 87px;
    float: left;
}

    .centerbg img {
        width: 100%;
        height: 100%;
    }

.centerNews {
    width: 100%;
    float: left;
    height: 220px;
}

.selected {
    border-radius: 5px 5px 0 0;
    background: #4482d3;
}

.topMenu ul li:first-child {
    border-radius: 5px 5px 0 0;
    background: linear-gradient(#fff, #FF8000);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

.tcdPageCode {
    padding: 15px 20px;
    text-align: center;
    color: #ccc;
}

    .tcdPageCode a {
        display: inline-block;
        color: #428bca;
        display: inline-block;
        height: 25px;
        line-height: 25px;
        padding: 0 10px;
        border: 1px solid #ddd;
        margin: 0 2px;
        border-radius: 4px;
        vertical-align: middle;
    }

        .tcdPageCode a:hover {
            text-decoration: none;
            border: 1px solid #428bca;
        }

    .tcdPageCode span.current {
        display: inline-block;
        height: 25px;
        line-height: 25px;
        padding: 0 10px;
        margin: 0 2px;
        color: #fff;
        background-color: #428bca;
        border: 1px solid #428bca;
        border-radius: 4px;
        vertical-align: middle;
    }

    .tcdPageCode span.disabled {
        display: inline-block;
        height: 25px;
        line-height: 25px;
        padding: 0 10px;
        margin: 0 2px;
        color: #bfbfbf;
        background: #f2f2f2;
        border: 1px solid #bfbfbf;
        border-radius: 4px;
        vertical-align: middle;
    }

.classbottom {
    width: 1000px;
    bottom: 0px;
    height: 70px;
    text-align: center;
    bottom: 0px;
    right: 5%;
    left: 10%;
}

.aselected {
    text-decoration: underline;
}

.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    margin-left: 10px;
}

    .file input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
    }

td {
    padding: 3px;
}
/*友情链接样式*/
.friendlink {
    min-height: 40px;
    border: 1px #CCCCCC solid;
    padding: 0px 10px 10px;
    margin-top: 20px;
    text-align: left;
}
.friendlink .title {
    position: relative;
    left: 1px;
    top: -10px;
    width: 60px;
    color: #1E88C7;
    display: block;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    background: #FFFFFF;
    text-align: center;
    padding: 0px 5px;
    font-size: 14px;
    font-weight: bold;
}
.friendlink .list {
    clear: both;
    text-align: left;
    margin-top: -12px;
}
.friendlink .list a {
    white-space: nowrap;
    float: left;
    width: 170px;
    font-weight: bold;
    display: block;
    text-align:center;
    margin: 5px 5px 0;
    line-height: 20px;
    font-size: 12px;
}
.clr {
    clear: both;
}