@{
    ViewBag.Title = "案件中心";
    Layout = "~/Views/IntegratedService/CaseManagement/_LayoutCaseManagement.cshtml";
}

@section HeadStyles_CaseManage{
    <link href="~/Scripts/assets/bootstrap-timepicker/compiled/timepicker.css" rel="stylesheet" />
    <link href="~/Scripts/assets/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <style>
        .table td.left {
            text-align: left;
        }

        .table td.center {
            text-align: center;
        }

        .table td.right {
            text-align: right;
        }
    </style>
}

@section FootScripts_CaseManage{
    <script src="~/Scripts/assets/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script src="~/Scripts/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/assets/bootstrap-datepicker/js/bootstrap-datepicker-zh_CN.js"></script>
    <script type="text/javascript">
        var oTable;
        $(document).ready(function () {
            //设置选中菜单样式
            $("#menuCase").addClass("active");
            $("#GeneralCase").css("display", "block");

            $("#startTime").datepicker();
            $("#endTime").datepicker();


            $("#btnQuery").click(function () {
                var url = "/CaseCentreManagement/GetCaseByRequireSearch";
                var strStartTime = $("#startTime").val();
                var strEndTime = $("#endTime").val();
                var caseCode = $("#caseCode").val();

                var startTime = new Date(strStartTime.replace(/-/g, "/"));
                var endTime = new Date(strEndTime.replace(/-/g, "/"));

                if (startTime > endTime) {
                    alert("开始时间不能大于结束时间");
                }
                else {
                    url += "?startTime=" + $("#startTime").val();
                    url += "&endTime=" + $("#endTime").val();
                    url += "&caseCode=" + caseCode;
                    BindDataTable(url);
                }
            });

            $("#btnQuery").click();
        });
        //获取案件列表数据
        function BindDataTable(url) {
            if (oTable != null) {
                oTable.fnSettings().sAjaxSource = url;
                oTable.fnDraw(true);
            } else {
                oTable = $('#dataTableList').dataTable({
                    sAjaxSource: url,

                    aoColumns: [
                        { "mDataProp": "WICode", "sClass": "center", sWidth: "120px" },
                        { "mDataProp": "WIName", "sClass": "left" },
                        { "mDataProp": "ADName", "sClass": "left", sWidth: "150px" },
                        {
                            "mDataProp": function (data) {
                                var DeliveryTimeYY = "<span title='" + data.DeliveryTimeYY + "'>" + data.DeliveryTime + "</span>";
                                return DeliveryTimeYY;
                            }, "sClass": "center", sWidth: "100px"
                        },
                        {
                            "mDataProp": function (data) {
                                var view = "<a class='btn btn-primary btn-small' href='/Workflow/WorkflowView?WIID=" + data.WIID + "&AIID=" + data.AIID + "'\"><i class='padding-null'></i> 详情 </a>";
                                var viewHistory = "<a class='btn btn-danger btn-small' href='/Workflow/WorkflowStepView1?WIID=" + data.WIID + "&AIID=" + data.AIID + "'\"><i class='padding-null'></i>历史环节</a>";
                                return view + " " + viewHistory;
                            }, "sClass": "center", sWidth: "130px"
                        }
                    ]
                });
            }
        }
    </script>
}

@section BreadcrumbSection{
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li><a href="javascript:void(0)"><i class="icon-home"></i>综合业务</a></li>
            <li>></li>
            <li><a href="javascript:void(0)">案件管理</a></li>
            <li>></li>
            <li><a href="javascript:void(0)">案件中心</a></li>
            <li>></li>
            <li class="active">查询中心</li>
        </ul>
    </div>
}
<div class="box box-black" style="margin: 5px;">
    <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
        <i class="icon-reorder" style="margin-right: 5px;"></i>案件列表
    </div>
    <div class="box-content" style="min-height: 400px;">
        <div class="query">
            <label style="width: 70px; text-align: left; display: inline-block">开始时间</label>
            <input type="text" id="startTime" style="margin-top:10px;width:120px;" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now.AddDays(-6))" class="datepicker" data-date-format="yyyy-mm-dd"/>
            <label style="width: 70px; text-align: left; display: inline-block; margin-left: 10px;">结束时间</label>
            <input type="text" id="endTime" style="margin-top:10px;width:120px" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now)" class="datepicker" data-date-format="yyyy-mm-dd"/>
            <label style="width: 70px; text-align: left; display: inline-block; margin-left: 10px;">案件编号</label>
            <input type="text" id="caseCode" style="margin-top: 10px; width: 120px" />
            <input id="btnQuery" type="button" class="btn btn-primary" title="查询" value="查 询" style="margin-left: 10px;">
        </div>
        <hr />
        <table class="table table-bordered table-striped table-hover fill-head" id="dataTableList">
            <thead>
                <tr>
                    <th style="text-align: center;">案件编号</th>
                    <th style="text-align: left;">案由</th>
                    <th style="text-align: left;">处理状态</th>
                    <th style="text-align: center;">递送时间</th>
                    <th style="text-align: center; width: 150px;">操作</th>
                </tr>
            </thead>
        </table>
        <div style="clear: both"></div>
    </div>
</div>




